<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.report">
         <menu
               id="org.wcs.smart.plan.menu"
               label="%plan.menu.label"
               mnemonic="%plan.menu.mnemonic">
            <command
                  commandId="org.wcs.smart.plan.NewPlan"
                  icon="images/icons/view16/plan_add.png"
                  label="%plan.menu.command.label.newplan"
                  mnemonic="%plan.menu.command.mnemonic.newplan"
                  style="push"
                  tooltip="%plan.menu.command.tooltip.newplan">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <separator
                  name="org.wcs.smart.plan.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.plan.ShowPlanPerspective"
                  icon="images/icons/view16/plan.png"
                  label="%plan.menu.command.label.viewplans"
                  style="push"
                  tooltip="%plan.menu.command.tooltip.viewplans">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?before=org.wcs.smart.intelligence.ShowIntelligencePersepctive">
         <command
               commandId="org.wcs.smart.plan.ShowPlanPerspective"
               icon="images/icons/view16/plan.png"
               label="%smart.toolbar.command.label.viewplans"
               style="push"
               tooltip="%smart.toolbar.command.tooltip.viewplans">
            <visibleWhen
                  checkEnabled="false">
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>

      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.plan.PlanListView">
         <command
               commandId="org.wcs.smart.plan.DeletePlan"
               icon="images/icons/etool16/delete.png"
               label="%planlistview.toolbar.command.label.deleteplan"
               style="push"
               tooltip="%planlistview.toolbar.command.tooltip.deleteplan">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.plan.NewPlan"
               icon="images/icons/view16/plan_add.png"
               label="%planlistview.toolbar.command.label.newplan"
               style="push"
               tooltip="%planlistview.toolbar.command.tooltip.newplan">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.plan.ShowPlanFilter"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.wcs.smart.plan.PlanListView">
         <command
               commandId="org.wcs.smart.plan.DeletePlan"
               icon="images/icons/etool16/delete.png"
               label="%planlistview.popup.command.label.deleteplan2"
               style="push"
               tooltip="%planlistview.popup.command.tooltip.deleteplan2">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.plan.ui.handlers.NewPlanHandler"
            commandId="org.wcs.smart.plan.NewPlan">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.plan.ui.handlers.ShowPlanPersepctiveHandler"
            commandId="org.wcs.smart.plan.ShowPlanPerspective">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.plan.ui.handlers.ShowPlanFilter"
            commandId="org.wcs.smart.plan.ShowPlanFilter">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.plan.ui.handlers.DeletePlanHandler"
            commandId="org.wcs.smart.plan.DeletePlan">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.plan.NewPlan"
            name="%command.label.newplan2">
      </command>
      <command
            id="org.wcs.smart.plan.ShowPlanPerspective"
            name="%command.name.showplans">
      </command>
      <command
            id="org.wcs.smart.plan.ShowPlanFilter"
            name="%command.name.showfilter">
      </command>
      <command
            id="org.wcs.smart.plan.DeletePlan"
            name="%command.name.deleteplan">
      </command>
   </extension>

   <extension
         point="org.wcs.smart.patrol.wizardpage">
      <wizardpage
            class="org.wcs.smart.plan.internal.ui.patrol.NewPatrolPlanWizardPage"
            id="newpatrol.plan"
            location="after=newpatrol.patrolid">
      </wizardpage>
   </extension>

   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.plan.model.Plan">
      </class>
      <class
            ca_property=".plan.conservationArea"
            class="org.wcs.smart.plan.model.NumericPlanTarget">
      </class>
      <class
            ca_property=".plan.conservationArea"
            class="org.wcs.smart.plan.model.AdministrativePlanTarget">
      </class>
      <class
            ca_property=".id.plan.conservationArea"
            class="org.wcs.smart.plan.model.PatrolPlan">
      </class>
      <class
            ca_property=".plan.conservationArea"
            class="org.wcs.smart.plan.model.SpatialPlanTarget">
      </class>
      <class
            ca_property=".planTarget.plan.conservationArea"
            class="org.wcs.smart.plan.model.SpatialPlanTargetPoint">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.patrol.editorContribution">
      <contribution
            class="org.wcs.smart.plan.internal.ui.patrol.PatrolPlanContribution">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wcs.smart.plan.ui.perspective.PlanPerspective"
            id="org.wcs.smart.plan.planPerspective"
            name="%plan.perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.wcs.smart.plan.ui.perspective.PlanListView"
            icon="images/icons/view16/plan.png"
            id="org.wcs.smart.plan.PlanListView"
            name="%planlistview.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.plan.ui.editor.PlanEditor"
            default="false"
            icon="images/icons/view16/plan.png"
            id="org.wcs.smart.plan.ui.editor.PlanEditor"
            name="%planlistview.editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.plan.ShowPlanFilter"
            icon="images/icons/etool16/plan_filter.png">
      </image>
      <image
            commandId="org.wcs.smart.plan.DeletePlan"
            icon="images/icons/etool16/delete.png">
      </image>
   </extension>
   <extension
         point="org.wcs.smart.query.filter.patrol">
      <contribution
            class="org.wcs.smart.plan.query.PlanQueryFilterPatrolContribution">
      </contribution>
   </extension>

</plugin>
