<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.report">
         <menu
               id="org.wcs.smart.plan.menu"
               label="Planning"
               mnemonic="P">
            <command
                  commandId="org.wcs.smart.plan.NewPlan"
                  label="Create New Plan"
                  mnemonic="c"
                  style="push"
                  tooltip="Exports all data associated with the current conservation area">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?endof=org.wcs.smart.perspectivesSeperator">
         <command
               commandId="org.wcs.smart.plan.ShowPlanPerspective"
               label="Show Planning Perspective"
               style="push"
               tooltip="Show Planning Perspective">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.wcs.smart.plan.PlanListView">
         <command
               commandId="org.wcs.smart.plan.DeletePlan"
               icon="images/etool16/delete.png"
               label="Delete Plan"
               style="push"
               tooltip="%delete.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.plan.ui.handlers.NewPlanHandler"
            commandId="org.wcs.smart.plan.NewPlan">
      </handler>
      <handler
            class="org.wcs.smart.plan.ui.handlers.ShowPlanPersepctiveHandler"
            commandId="org.wcs.smart.plan.ShowPlanPerspective">
      </handler>
      <handler
            class="org.wcs.smart.plan.ui.handlers.DeletePlanHandler"
            commandId="org.wcs.smart.plan.DeletePlan">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.plan.NewPlan"
            name="Create New Plan">
      </command>
      <command
            id="org.wcs.smart.plan.ShowPlanPerspective"
            name="Show Planning Perspective">
      </command>
      <command
            id="org.wcs.smart.plan.DeletePlan"
            name="%command.delete.name">
      </command>
   </extension>

   <extension
         point="org.wcs.smart.patrol.wizardpage">
      <wizardpage
            class="org.wcs.smart.plan.internal.ui.patrol.NewPatrolPlanWizardPage"
            id="newpatrol.plan"
            location="after=newpatrol.patrolid">
      </wizardpage>
   </extension>

   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.plan.model.Plan">
      </class>
      <class
            ca_property=".plan.conservationArea"
            class="org.wcs.smart.plan.model.NumericPlanTarget">
      </class>
      <class
            ca_property=".plan.conservationArea"
            class="org.wcs.smart.plan.model.AdministrativePlanTarget">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.patrol.editorContribution">
      <contribution
            class="org.wcs.smart.plan.internal.ui.patrol.PatrolPlanContribution">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wcs.smart.plan.ui.perspective.PlanPerspective"
            id="org.wcs.smart.plan.planPerspective"
            name="Planning Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.wcs.smart.plan.ui.perspective.PlanListView"
            id="org.wcs.smart.plan.PlanListView"
            name="Plan List View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.plan.ui.editor.PlanEditor"
            default="false"
            id="org.wcs.smart.plan.ui.editor.PlanEditor"
            name="PlanEditor">
      </editor>
   </extension>

</plugin>
