<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.report">
         <menu
               id="org.wcs.smart.plan.menu"
               label="%plan.menu.label"
               mnemonic="%plan.menu.mnemonic">
            <command
                  commandId="org.wcs.smart.plan.NewPlan"
                  icon="images/icons/view16/plan_add.png"
                  label="%plan.menu.command.label.newplan"
                  mnemonic="%plan.menu.command.mnemonic.newplan"
                  style="push"
                  tooltip="%plan.menu.command.tooltip.newplan">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <separator
                  name="org.wcs.smart.plan.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.plan.exportPdf"
                  label="%exportpdf1command.name"
                  style="push">
               <parameter
                     name="org.wcs.smart.plan.exportpdf.editor"
                     value="true">
               </parameter>
            </command>
            <menu
                  label="%plantemplate.menu.label">
               <command
                     commandId="org.wcs.smart.plan.editTemplate"
                     style="push"
                     tooltip="%plantemplate.command.tooltip">
               </command>
               <separator
                     name="org.wcs.smart.plan.template.separator"
                     visible="true">
               </separator>
               <command
                     commandId="org.wcs.smart.plan.revertTemplate"
                     style="push"
                     tooltip="%reverttemplate.command.tooltip">
               </command>
               <command
                     commandId="org.wcs.smart.plan.exportTemplate"
                     style="push"
                     tooltip="%exporttemplate.command.tooltip">
               </command>
               <command
                     commandId="org.wcs.smart.plan.importTemplate"
                     style="push"
                     tooltip="%importtemplate.command.tooltip">
               </command>
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </menu>
            <separator
                  name="org.wcs.smart.plan.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.command.showperspective"
                  icon="images/icons/view16/plan.png"
                  label="%plan.menu.command.label.viewplans"
                  style="push"
                  tooltip="%plan.menu.command.tooltip.viewplans">
               <parameter
                     name="org.wcs.smart.perspectiveid"
                     value="org.wcs.smart.plan.planPerspective">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?endof=org.wcs.smart.perspectivesSeperator">
         <command
               commandId="org.wcs.smart.command.showperspective"
               icon="images/icons/view16/plan.png"
               label="%smart.toolbar.command.label.viewplans"
               style="push"
               tooltip="%smart.toolbar.command.tooltip.viewplans">
            <visibleWhen
                  checkEnabled="false">
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </visibleWhen>
            <parameter
                  name="org.wcs.smart.perspectiveid"
                  value="org.wcs.smart.plan.planPerspective">
            </parameter>
         </command>
      </menuContribution>

      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.plan.PlanListView">
         <command
               commandId="org.wcs.smart.plan.DeletePlan"
               icon="images/icons/etool16/delete.png"
               label="%planlistview.toolbar.command.label.deleteplan"
               style="push"
               tooltip="%planlistview.toolbar.command.tooltip.deleteplan">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.plan.NewPlan"
               icon="images/icons/view16/plan_add.png"
               label="%planlistview.toolbar.command.label.newplan"
               style="push"
               tooltip="%planlistview.toolbar.command.tooltip.newplan">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.plan.ShowPlanFilter"
               style="push"
               tooltip="%filterplan.command.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.wcs.smart.plan.PlanListView">
         <command
               commandId="org.wcs.smart.plan.translate"
               label="%translate.command.label"
               style="push"
               tooltip="%translate.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
               </or>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.plan.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.plan.exportPdf"
               style="push"
               tooltip="%exportplanpdf.command.tooltip">
         </command>
         <separator
               name="org.wcs.smart.plan.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.plan.DeletePlan"
               icon="images/icons/etool16/delete.png"
               label="%planlistview.popup.command.label.deleteplan2"
               style="push"
               tooltip="%planlistview.popup.command.tooltip.deleteplan2">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.wcs.smart.plan.toolbar">
            <command
                  commandId="org.wcs.smart.plan.exportPdf"
                  style="push"
                  tooltip="%exportpdf.command.tooltip.0">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.wcs.smart.plan.planPerspective">
                     </equals>
                  </with>
               </visibleWhen>
               <parameter
                     name="org.wcs.smart.plan.exportpdf.editor"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.wcs.smart.plan.PlanReportPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.file?before=org.wcs.menu.file.changeuserpassword">
         <separator
               name="org.wcs.smart.plan.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.export"
               label="%command.label.exportMap"
               style="push"
               tooltip="%exportmap.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.plan.planPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.plan.exportPdf"
               label="%command.label.exportPlanToPDF"
               style="push"
               tooltip="%exportpdf.command.tooltip.0">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.plan.planPerspective">
                  </equals>
               </with>
            </visibleWhen>
            <parameter
                  name="org.wcs.smart.plan.exportpdf.editor"
                  value="true">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.file.save"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.plan.PlanReportPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.plan.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.toolbar.create?before=org.wcs.smart.toolbar.create.other">
         <command
               commandId="org.wcs.smart.plan.NewPlan"
               icon="images/icons/view16/plan_add.png"
               label="%plan.menu.command.label.newplan"
               mnemonic="%plan.menu.command.mnemonic.newplan"
               style="push"
               tooltip="%plan.menu.command.tooltip.newplan">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.caSingle">
                  </test>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.plan.ui.handlers.NewPlanHandler$NewPlanHandlerWrapper"
            commandId="org.wcs.smart.plan.NewPlan">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.plan.ui.handlers.ShowPlanFilter$ShowPlanFilterWrapper"
            commandId="org.wcs.smart.plan.ShowPlanFilter">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.plan.ui.handlers.DeletePlanHandler$DeletePlanHandlerWrapper"
            commandId="org.wcs.smart.plan.DeletePlan">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.wcs.smart.plan.ui.editor.PlanEditorInput">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.plan.ui.handlers.TranslatePlanHandler$TranslatePlanHandlerWrapper"
            commandId="org.wcs.smart.plan.translate">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.plan.ui.handlers.RevertPlanTemplate$RevertPlanTemplateWrapper"
            commandId="org.wcs.smart.plan.revertTemplate">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.wcs.smart.plan.PlanReportPerspective">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.plan.ui.handlers.EditPlanTemplate$EditPlanTemplateWrapper"
            commandId="org.wcs.smart.plan.editTemplate">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.plan.ui.handlers.ExportPlanPdf$ExportPlanPdfWrapper"
            commandId="org.wcs.smart.plan.exportPdf">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="org.wcs.smart.plan.ui.editor.PlanEditorInput">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.plan.ui.handlers.ExportTemplateHandler$ExportTemplateHandlerWrapper"
            commandId="org.wcs.smart.plan.exportTemplate">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.wcs.smart.plan.PlanReportPerspective">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.plan.ui.handlers.ImportTemplateHandler$ImportTemplateHandlerWrapper"
            commandId="org.wcs.smart.plan.importTemplate">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.wcs.smart.plan.PlanReportPerspective">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.plan.NewPlan"
            name="%command.label.newplan2">
      </command>
      <command
            id="org.wcs.smart.plan.ShowPlanFilter"
            name="%command.name.showfilter">
      </command>
      <command
            id="org.wcs.smart.plan.DeletePlan"
            name="%command.name.deleteplan">
      </command>
      <command
            id="org.wcs.smart.plan.translate"
            name="%translate.command.name">
      </command>
      <command
            id="org.wcs.smart.plan.exportPdf"
            name="%exportpdf1command.name">
         <commandParameter
               id="org.wcs.smart.plan.exportpdf.editor"
               name="Editor Export"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="org.wcs.smart.plan.revertTemplate"
            name="%reverttemplate.command.name">
      </command>
      <command
            id="org.wcs.smart.plan.editTemplate"
            name="%edittemplate.command.name">
      </command>
      <command
            id="org.wcs.smart.plan.exportTemplate"
            name="%exporttemplate.command.name">
      </command>
      <command
            id="org.wcs.smart.plan.importTemplate"
            name="%importtemplate.command.name">
      </command>
   </extension>

   <extension
         point="org.wcs.smart.patrol.wizardpage">
      <wizardpage
            class="org.wcs.smart.plan.internal.ui.patrol.NewPatrolPlanWizardPage"
            id="newpatrol.plan"
            location="after=newpatrol.patrolid">
      </wizardpage>
   </extension>

   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.plan.model.Plan">
      </class>
      <class
            ca_property=".plan.conservationArea"
            class="org.wcs.smart.plan.model.NumericPlanTarget">
      </class>
      <class
            ca_property=".plan.conservationArea"
            class="org.wcs.smart.plan.model.AdministrativePlanTarget">
      </class>
      <class
            ca_property=".id.plan.conservationArea"
            class="org.wcs.smart.plan.model.PatrolPlan">
      </class>
      <class
            ca_property=".plan.conservationArea"
            class="org.wcs.smart.plan.model.SpatialPlanTarget">
      </class>
      <class
            ca_property=".planTarget.plan.conservationArea"
            class="org.wcs.smart.plan.model.SpatialPlanTargetPoint">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.patrol.editorContribution">
      <contribution
            class="org.wcs.smart.plan.internal.ui.patrol.PatrolPlanContribution">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wcs.smart.plan.ui.perspective.PlanPerspective"
            id="org.wcs.smart.plan.planPerspective"
            name="%plan.perspective.name">
      </perspective>
      <perspective
            class="org.wcs.smart.plan.report.PlanReportPerspective"
            id="org.wcs.smart.plan.PlanReportPerspective"
            name="%plantemplate.perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.wcs.smart.plan.ui.perspective.PlanListView$PlanListViewWrapper"
            icon="images/icons/view16/plan.png"
            id="org.wcs.smart.plan.PlanListView"
            name="%planlistview.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.plan.ui.editor.PlanEditor"
            default="false"
            icon="images/icons/view16/plan.png"
            id="org.wcs.smart.plan.ui.editor.PlanEditor"
            name="%planlistview.editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.plan.ShowPlanFilter"
            icon="images/icons/etool16/plan_filter.png">
      </image>
      <image
            commandId="org.wcs.smart.plan.DeletePlan"
            icon="images/icons/etool16/delete.png">
      </image>
      <image
            commandId="org.wcs.smart.plan.exportPdf"
            icon="images/icons/etool16/printpdf.png">
      </image>
   </extension>
   <extension
         point="org.wcs.smart.patrol.xml">
      <contribution
            class="org.wcs.smart.plan.xml.patrol.PatrolPlanXmlExtraDataContribution">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.wcs.smart.plan.internal.preference.PlanConfigurationPreferencePage"
            id="org.wcs.smart.preference.PlanConfiguration"
            name="%planconfig.preferencepage.name">
      </page>
   </extension>
   <extension
         point="org.wcs.smart.ca.deleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.plan.advisors.StationDeleteAdvisor"
            class="org.wcs.smart.ca.Station">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.plan.advisors.TeamDeleteAdvisor"
            class="org.wcs.smart.patrol.model.Team">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.plan.advisors.EmployeePlanDeleteAdvisor"
            class="org.wcs.smart.ca.Employee">
      </DeleteAdvisor>
   </extension>
   <extension
         point="org.wcs.smart.birt.reportEditorManager">
      <EditorManager
            EditorInput="org.wcs.smart.plan.report.ReportPlanEditorInput"
            EditorManager="org.wcs.smart.plan.report.ReportPlanManager">
      </EditorManager>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            defaultDisplayName="SMART Plan Data Source"
            driverClass="org.wcs.smart.plan.report.oda.SmartPlanDriver"
            id="org.wcs.smart.plan.report.oda.SmartPlanDriver"
            odaVersion="3.0"
            overrideExplorerFiltering="false"
            setThreadContextClassLoader="false">
      </dataSource>
      <dataSet
            defaultDisplayName="SMART Plan Targets"
            id="org.wcs.smart.plan.report.oda.SmartPlanTargets">
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean">
         </dataTypeMapping>
        <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="12"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="8"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="BigDecimal"
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="91"
               odaScalarDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Time"
               nativeDataTypeCode="92"
               odaScalarDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Timestamp"
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp">
         </dataTypeMapping>
      </dataSet>
      <dataSet
            defaultDisplayName="Plan Patrols"
            id="org.wcs.smart.data.oda.smart.smartQueryDataset">
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="12"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="8"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="BigDecimal"
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="91"
               odaScalarDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Time"
               nativeDataTypeCode="92"
               odaScalarDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Timestamp"
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp">
         </dataTypeMapping>
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI
            id="org.wcs.smart.plan.report.oda.SmartPlanDriver">
         <newDataSourceWizard
               includesProgressMonitor="true"
               pageClass="org.wcs.smart.plan.report.oda.ui.SmartPlanDataSourceWizardPage"
               windowTitle="SMART Plan Data Source">
         </newDataSourceWizard>
      </dataSourceUI>
      <dataSetUI
            id="org.wcs.smart.plan.report.oda.SmartPlanTargets"
            initialPageId="org.wcs.smart.plan.report.smartPlanTargets.page1"
            supportsInParameters="true"
            supportsOutParameters="false">
         <dataSetWizard
               class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
               windowTitle="Smart Plan Targets"></dataSetWizard>
         <dataSetPage
               displayName="SMART Plan Targets"
               id="org.wcs.smart.plan.report.smartPlanTargets.page1"
               path="/"
               wizardPageClass="org.wcs.smart.plan.report.oda.ui.SmartPlanTargetDatasetWizardPage">
         </dataSetPage>
      </dataSetUI>
      <dataSetUI
            id="org.wcs.smart.data.oda.smart.smartQueryDataset"
            supportsInParameters="true"
            supportsOutParameters="false">
         <dataSetWizard
               class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
               windowTitle="Plan Patrols">
         </dataSetWizard>
         <dataSetPage
               displayName="Plan Patrols"
               id="org.wcs.smart.plan.report.smartPlanPatrol.page1"
               path="/"
               wizardPageClass="org.wcs.smart.plan.report.oda.ui.PlanPatrolDatasetWizardPage">
         </dataSetPage>
      </dataSetUI>
   </extension>
   <extension
         point="org.wcs.smart.report.birt.maplayer">
      <MapLayer
            maplayer="org.wcs.smart.plan.report.PlanTargetMapLayer">
      </MapLayer>
      <MapLayer
            maplayer="org.wcs.smart.plan.report.PlanPatrolMapLayer">
      </MapLayer>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.plan.PlanTemplateCloner"
            id="org.wcs.smart.planTemplateCloner">
         <require
               id="org.wcs.smart.conservationAreaCloner">
         </require>
      </templateCloner>
   </extension>
   <extension
         point="org.wcs.smart.patrol.query.contribution">
      <FilterItem
            class="org.wcs.smart.plan.query.PlanQueryFilterPatrolContribution">
      </FilterItem>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.plan.updatesite.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="2.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.plan.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="2.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.ca.filestoredir">
      <FilestoreDirectory
            directory="plans">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrage">
      <dbUpgrader
            upgrader="org.wcs.smart.plan.upgrade.PlanDatabaseUpgrader">
      </dbUpgrader>
   </extension>

</plugin>
