<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.cybertracker.menu?before=org.wcs.smart.cybertracker.patrolseparator">
         <command
               commandId="org.wcs.smart.cybertracker.patrol.export"
               label="%command.cybertracker.patrol.export.label1"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.cybertracker.menu?before=org.wcs.smart.cybertracker.patrolmetaseparator">
         <command
               commandId="org.wcs.smart.patrol.patrolScreens"
               label="%command.cybertracker.patrol.meta.export.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=vertical.org.wcs.smart.patrol.toolbar2">
         <toolbar
               id="vertical.org.wcs.smart.cybertracker.patrol.toolbar1">
            <command
                  commandId="org.wcs.smart.cybertracker.packages.show"
                  icon="platform:/plugin/org.wcs.smart.cybertracker/images/etool16/export.png"
                  label="%command.export.label"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="%command.export.tooltip">
               <visibleWhen>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.caSingle">
                     </test>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.wcs.smart.observation.FieldDataPerspective">
                        </equals>
                     </with>
                     <test
                           property="org.wcs.smart.fielddata.focusview"
                           value="org.wcs.smart.patrol.ui.PatrolListView">
                     </test>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="dataentry">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="analyst">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.cybertracker.navigation.show"
                  icon="platform:/plugin/org.wcs.smart.cybertracker/images/etool16/navigation_export.png"
                  label="Export"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="export SMART Mobile navigation layers">
               <visibleWhen>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.caSingle">
                     </test>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.wcs.smart.observation.FieldDataPerspective">
                        </equals>
                     </with>
                     <test
                           property="org.wcs.smart.fielddata.focusview"
                           value="org.wcs.smart.patrol.ui.PatrolListView">
                     </test>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="dataentry">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="analyst">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=vertical.org.wcs.smart.cybertracker.patrol.toolbar1">
         <toolbar
               id="vertical.org.wcs.smart.cybertracker.patrol.toolbar2">
            <command
                  commandId="org.wcs.smart.cybertracker.json.import"
                  icon="platform:/plugin/org.wcs.smart.cybertracker/images/etool16/import.png"
                  label="%command.import.label"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="%command.import.tooltip">
               <visibleWhen>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.caSingle">
                     </test>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.wcs.smart.observation.FieldDataPerspective">
                        </equals>
                     </with>
                     <test
                           property="org.wcs.smart.fielddata.focusview"
                           value="org.wcs.smart.patrol.ui.PatrolListView">
                     </test>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="dataentry">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="analyst">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.cybertracker.patrol.export"
            name="%command.cybertracker.patrol.export.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.cybertracker.patrol.handler.PatrolCTExportHandler$PatrolCTExportHandlerWrapper"
            commandId="org.wcs.smart.cybertracker.patrol.export">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.cybertracker.patrol.export"
            icon="images/etool16/export.png">
      </image>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.datasource">
      <datasource
            dataBuilder="org.wcs.smart.cybertracker.patrol.importer.PatrolCTDataBuilder"
            importEditorContent="org.wcs.smart.cybertracker.patrol.importer.PatrolCTImportEditorContent"
            name="patrol">
      </datasource>
      <datasource
            dataBuilder="org.wcs.smart.cybertracker.patrol.importer.PatrolCTDataBuilder"
            importEditorContent="org.wcs.smart.cybertracker.patrol.importer.PatrolCTImportEditorContent"
            name="null">
      </datasource>
      
      
   </extension>
   
   <extension
         point="org.wcs.smart.hibernate.libs.mapping">
      <class
            ca_property=".patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.cybertracker.patrol.model.CtPatrolLink"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.cybertracker.patrol.model.PatrolCtPackage"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.cybertracker.patrol.json.updatesite.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.cybertracker.patrol.json.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.changeLogInstaller">
      <ChangeLogTracker
            clazz="org.wcs.smart.cybertracker.patrol.json.updatesite.CtPatrolChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrade">
      <dbUpgrader
            upgrader="org.wcs.smart.cybertracker.patrol.json.updatesite.CtPatrolDatabaseUpgrader">
      </dbUpgrader>
      <pluginMapping
            new_plugin_id="org.wcs.smart.cybertracker.patrol"
            old_plugin_id="org.wcs.smart.connect.dataqueue.cybertracker.patrol"
            old_version_id="1.0">
      </pluginMapping>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.json.processor">
      <JsonProcessor
            class="org.wcs.smart.cybertracker.patrol.json.PatrolJsonProcessor">
      </JsonProcessor>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.ctpackage">
      <ctpackagemanager
            class="org.wcs.smart.cybertracker.patrol.ui.PatrolCtPackageManager">
      </ctpackagemanager>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.navigation">
      <targetprovider
            class="org.wcs.smart.cybertracker.patrol.navigation.PatrolTrackNavigationTargetProvider">
      </targetprovider>
   </extension>
</plugin>
