<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- using container-managed JNDI -->
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/smart</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property> 
		
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
		<!--  this is required to ensure the same connection is held the entire time -->
		<!--  the database lock is help (see LockManager).  Otherwise between transactions -->
		<!--  a different database connection is sometimes  used for the same session and the -->
		<!--  unlock connection may be different from the lock connection which will cause the unlock to -->
		<!--  fail and the lock to never be release requireing a system restart. -->
		<property name="hibernate.connection.release_mode">on_close</property>

		
		<property name="cache.use_second_level_cache">false</property>
<!-- 		<property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property> -->
<!-- 		<property name="cache.use_query_cache">true</property>  -->

	</session-factory>
</hibernate-configuration>
