<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- using container-managed JNDI -->
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/smart</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property> 
		
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

		
		<property name="cache.use_second_level_cache">false</property>
<!-- 		<property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property> -->
<!-- 		<property name="cache.use_query_cache">true</property>  -->

	</session-factory>
</hibernate-configuration>
