<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.report.birt.query.queryDataset">
      <QueryTypeDataset
            class="org.wcs.smart.observation.query.report.data.ObservationReportQuery"
            queryTypeKey="observationgrid">
      </QueryTypeDataset>
      <QueryTypeDataset
            class="org.wcs.smart.observation.query.report.data.ObservationReportQuery"
            queryTypeKey="observationobservation">
      </QueryTypeDataset>
      <QueryTypeDataset
            class="org.wcs.smart.observation.query.report.data.ObservationReportQuery"
            metadataProvider="org.wcs.smart.observation.query.report.data.SummaryMetadataProvider"
            queryTypeKey="observationsummary">
      </QueryTypeDataset>
      <QueryTypeDataset
            class="org.wcs.smart.observation.query.report.data.ObservationReportQuery"
            queryTypeKey="observationwaypoint">
      </QueryTypeDataset>
   </extension>
   <extension
         point="org.wcs.smart.report.birt.maplayer">
      <MapLayer
            maplayer="org.wcs.smart.observation.query.report.map.QueryMapLayer">
      </MapLayer>
      <StyleProvider
            styleprovider="org.wcs.smart.observation.query.report.data.QueryStyleProvider"></StyleProvider>
   </extension>

</plugin>
