<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.query.toolbar.menu.create?before=org.wcs.smart.query.createunknown.separator2">
         <menu
               id="org.wcs.smart.intelligence.query.createquery"
               label="Intelligence Queries">
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/intelligence_summary.png"
                  label="Intelligence Summary Query"
                  style="push"
                  tooltip="new query that summaries intelligence data">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="intelligencesummary">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/intelligence_record.png"
                  label="Intelligence Record Query"
                  style="push"
                  tooltip="queries intelligence records">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="intelligencerecord">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.query.newquery?before=org.wcs.smart.query.newquery.separator2">
         <menu
               id="org.wcs.smart.intelligence.query.createquery"
               label="Intelligence Queries">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.wcs.smart.query.queryType">
      <QueryCategory
            html_description="&lt;p style=&quot;font-family:Verdana; font-size:12px; font-weight:bold;&quot;&gt;Intelligence Queries&lt;/p&gt;&lt;p style=&quot;font-family:Verdana; font-size:11px&quot;&gt;Queries the intelligence records.&lt;/p&gt;&lt;/p&gt;"
            id="org.wcs.smart.intelligence.query"
            name="Intelligence Queries">
      </QueryCategory>
      <QueryType
            QueryCategory="org.wcs.smart.intelligence.query"
            class="org.wcs.smart.intelligence.query.model.IntelligenceSummaryQueryType">
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.intelligence.query"
            class="org.wcs.smart.intelligence.query.model.IntelligenceRecordQueryType">
         <DefinitionPanel
               id="org.wcs.smart.intelligence.query.record.definition"
               itemPanelId="org.wcs.smart.intelligence.query.record.items">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.intelligence.query.ui.IntelligenceSummaryEditor"
            default="false"
            id="org.wcs.smart.intelligence.query.summary.editor"
            name="Intelligence Summary Query Editor">
      </editor>
      <editor
            class="org.wcs.smart.intelligence.query.ui.IntelligenceRecordEditor"
            default="false"
            id="org.wcs.smart.intelligence.query.record.editor"
            name="Intelligence Record Query Editor">
      </editor>
   </extension>
   <extension
         point="org.wcs.smart.query.queryItemPanel">
      <QueryItemPanel
            id="org.wcs.smart.intelligence.query.record.items"
            panel="org.wcs.smart.intelligence.query.ui.QueryItemPanel">
      </QueryItemPanel>
   </extension>
   <extension
         point="org.wcs.smart.query.queryDefinitionPanel">
      <QueryDefinitionPanel
            id="org.wcs.smart.intelligence.query.record.definition"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.intelligence.query.ui.DefinitionPanel">
      </QueryDefinitionPanel>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.intelligence.query.model.IntelligenceRecordQuery">
      </class>
      <class
            class="org.wcs.smart.intelligence.query.model.IntelligenceSummaryQuery">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.query.property">
      <queryproperty
            propertyName="Query Columns:"
            propertyProvider="org.wcs.smart.intelligence.query.ui.ColumnQueryPropertyProvider">
      </queryproperty>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.intelligence.query.updatesite.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.intelligence.query.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrage">
      <dbUpgrader
            upgrader="org.wcs.smart.intelligence.query.updatesite.IntelligenceQueryDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.wcs.smart.query.export.format">
      <Exporter
            class="org.wcs.smart.intelligence.query.export.IntelligenceRecordDefinitionExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.intelligence.query.export.IntelligenceRecordShpExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.intelligence.query.export.IntelligenceSummaryDefinitionExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.intelligence.query.export.IntelligenceSummaryCsvExporter">
      </Exporter>
   </extension>
   <extension
         point="org.wcs.smart.query.import">
      <QueryImporter
            class="org.wcs.smart.intelligence.query.export.IntelligenceRecordDefinitionImporter">
      </QueryImporter>
      <QueryImporter
            class="org.wcs.smart.intelligence.query.export.IntelligenceSummaryDefinitionImporter">
      </QueryImporter>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.intelligence.query.export.IntelligenceQueryTemplateCloner"
            id="org.wcs.smart.query.intelligence.cloner">
         <require
               id="org.wcs.smart.QueryCloner">
         </require>
      </templateCloner>
   </extension>

</plugin>
