<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.connect.dataqueue.processor" name="Data Queue Item Processor" schema="schema/org.wcs.smart.connect.dataqueue.processor.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.connect.menu">
         <command
               commandId="org.wcs.smart.connect.dataqueue.process"
               label="Process Data Queue"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.connect.dataqueue.process"
            name="Process Data Queue">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.connect.dataqueue.internal.ui.ProcessDataQueueHandler$ProcessDataQueueHandlerWrapper"
            commandId="org.wcs.smart.connect.dataqueue.process">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.wcs.smart.connect.dataqueue.internal.ui.DataQueueView$DataQueueViewWrapper"
            id="org.wcs.smart.connect.dataqueue.queueview"
            name="Data Processing Queue"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            ca_property=".conservationArea"
            class="org.wcs.smart.connect.dataqueue.model.LocalDataQueueItem"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.connect.configure.optionpanel">
      <Panel
            class="org.wcs.smart.connect.dataqueue.internal.ui.config.DataQueueOptionPanel">
      </Panel>
   </extension>
   <extension
         point="org.wcs.smart.ca.login">
      <loginHandler
            clazz="org.wcs.smart.connect.dataqueue.LoginHandler">
      </loginHandler>
   </extension>
   <extension
         point="org.wcs.smart.connect.status.contribution">
      <contribution
            class="org.wcs.smart.connect.dataqueue.internal.ui.StatusLineContribution">
      </contribution>
   </extension>

</plugin>
