<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.connect.dataqueue.processor" name="Data Queue Item Processor" schema="schema/org.wcs.smart.connect.dataqueue.processor.exsd"/>
   <extension-point id="org.wcs.smart.connect.dataqueue.processor.option" name="Data Queue Processor Option Panel" schema="schema/org.wcs.smart.connect.dataqueue.processor.option.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.connect.menu?after=org.wcs.smart.connect.configuration.show">
         <command
               commandId="org.wcs.smart.connect.dataqueue.options.show"
               icon="images/icons/obj16/dq_options.png"
               label="Data Queue Processor Options..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.connect.menu?after=org.wcs.smart.connect.server.changelog.sync">
         <command
               commandId="org.wcs.smart.connect.dataqueue.process"
               icon="images/icons/obj16/dq.png"
               label="View Processing Data Queue"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.connect.dataqueue.process"
            name="Process Data Queue">
      </command>
      <command
            id="org.wcs.smart.connect.dataqueue.options.show"
            name="Show Data Queue Processing Options Dialog">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.connect.dataqueue.internal.ui.ProcessDataQueueHandler$ProcessDataQueueHandlerWrapper"
            commandId="org.wcs.smart.connect.dataqueue.process">
      </handler>
      <handler
            class="org.wcs.smart.connect.dataqueue.internal.ui.config.ShowDataQueueProcessingOptionHandler$ShowDataQueueProcessingOptionHandlerWrapper"
            commandId="org.wcs.smart.connect.dataqueue.options.show">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.wcs.smart.connect.dataqueue.internal.ui.DataQueueView$DataQueueViewWrapper"
            icon="images/icons/obj16/dq.png"
            id="org.wcs.smart.connect.dataqueue.queueview"
            name="Data Processing Queue"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            ca_property=".conservationArea"
            class="org.wcs.smart.connect.dataqueue.model.LocalDataQueueItem"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".ca_uuid"
            class="org.wcs.smart.connect.dataqueue.model.DataQueueProcessingOption"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.connect.configure.optionpanel">
      <Panel
            class="org.wcs.smart.connect.dataqueue.internal.ui.config.DataQueueOptionPanel">
      </Panel>
   </extension>
   <extension
         point="org.wcs.smart.ca.login">
      <loginHandler
            clazz="org.wcs.smart.connect.dataqueue.LoginHandler">
      </loginHandler>
   </extension>
   <extension
         point="org.wcs.smart.connect.status.contribution">
      <contribution
            class="org.wcs.smart.connect.dataqueue.internal.ui.StatusLineContribution">
      </contribution>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrage">
      <dbUpgrader
            upgrader="org.wcs.smart.connect.dataqueue.installer.ConnectDataQueueDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.connect.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.connect.dataqueue.installer.OnUninstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.connect.ca.export">
      <processor
            class="org.wcs.smart.connect.dataqueue.internal.server.ConnectCaExportProcessor"></processor>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.connect.dataqueue.CaCloneDataQueueOptions"
            id="org.wcs.smart.connect.dataqueue.ca.cloner">
      </templateCloner>
   </extension>

</plugin>
