<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.er.updatesite.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.er.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrage">
      <dbUpgrader
            upgrader="org.wcs.smart.er.upgrade.ERDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.er.model.SurveyDesign"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".surveyDesign.conservationArea"
            class="org.wcs.smart.er.model.SamplingUnit"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.waypoint.conservationArea"
            class="org.wcs.smart.er.model.SurveyWaypoint"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".missionDay.mission.survey.surveyDesign.conservationArea"
            class="org.wcs.smart.er.model.MissionTrack"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.mission.survey.surveyDesign.conservationArea"
            class="org.wcs.smart.er.model.MissionPropertyValue"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.surveyDesign.conservationArea"
            class="org.wcs.smart.er.model.MissionProperty"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.er.model.MissionAttributeListItem"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.er.model.MissionAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".survey.surveyDesign.conservationArea"
            class="org.wcs.smart.er.model.Mission"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".surveyDesign.conservationArea"
            class="org.wcs.smart.er.model.Survey"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.member.conservationArea"
            class="org.wcs.smart.er.model.MissionMember"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".surveyDesign.conservationArea"
            class="org.wcs.smart.er.model.SurveyDesignProperty"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.er.model.SamplingUnitAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.samplingUnitAttribute.conservationArea"
            class="org.wcs.smart.er.model.SamplingUnitAttributeValue"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.samplingUnitAttribute.conservationArea"
            class="org.wcs.smart.er.model.SurveyDesignSamplingUnitAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.er.model.SamplingUnitAttributeListItem"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".mission.survey.surveyDesign.conservationArea"
            class="org.wcs.smart.er.model.MissionDay"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.observation.ObservationSource">
      <ObservationSource
            class="org.wcs.smart.er.model.SurveyWaypointSource">
      </ObservationSource>
   </extension>
   <extension
         point="org.wcs.smart.ca.filestoredir">
      <FilestoreDirectory
            directory="survey">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.wcs.smart.er.ui.SurveyDesignListView$SurveyDesignListViewWrapper"
            icon="images/icons/obj16/survey.png"
            id="org.wcs.smart.er.surveyDesignListView"
            name="%survey.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.wcs.smart.observation.FieldDataPerspective">
         <view
               closeable="false"
               id="org.wcs.smart.er.surveyDesignListView"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="stack"
               relative="org.wcs.smart.fielddata.datafolder"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.fielddata?before=org.wcs.smart.fielddata.dataseparater">
         <menu
               icon="images/icons/obj16/survey.png"
               id="org.wcs.smart.er.menu.survey"
               label="%survey.menu.label">
            <command
                  commandId="org.wcs.smart.er.mission.new"
                  style="push"
                  tooltip="%mission.command.tooltip">
            </command>
            <command
                  commandId="org.wcs.smart.er.survey.new"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.er.surveydesign.new"
                  style="push"
                  tooltip="%surveydesign.command.tooltip">
               <visibleWhen
                     checkEnabled="true">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <separator
                  name="org.wcs.smart.er.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.er.missionExportHandler"
                  label="%mission.survey.export.command.label"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.er.missionImportHandler"
                  label="%mission.survey.import.command.label"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.er.surveydesignexport"
                  label="%survey.export.command.label"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.er.surveydesignimport"
                  label="%survey.import.command.label"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <separator
                  name="org.wcs.smart.er.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.er.missionattributes.show"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.er.su.show"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <separator
                  name="org.wcs.smart.er.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.observation.perspective.show"
                  icon="images/icons/obj16/survey.png"
                  label="%survey.view.command.label"
                  mnemonic="%view.command.mnemonic"
                  style="push"
                  tooltip="%survey.view.command.tooltip">
               <parameter
                     name="org.wcs.smart.observation.perspective.show.focusview"
                     value="org.wcs.smart.er.surveyDesignListView">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="org.wcs.smart.caSingle">
               </test>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.er.surveyDesignListView">
         <command
               commandId="org.wcs.smart.er.delete"
               style="push"
               tooltip="%survey.delete.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.er.surveydesign.new"
               style="push"
               tooltip="%surveydesign.create.command.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.er.survey.new"
               style="push"
               tooltip="%survey.create.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.er.mission.new"
               style="push"
               tooltip="%mission.create.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.er.filter"
               style="push"
               tooltip="%filter.command.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?after=org.wcs.smart.perspective.fielddata">
         <command
               commandId="org.wcs.smart.observation.perspective.show"
               icon="images/icons/obj16/survey.png"
               label="%survey.view.command.label"
               mnemonic="%view1.command.mnemonic"
               style="push"
               tooltip="%survey.view.command.tooltip">
            <parameter
                  name="org.wcs.smart.observation.perspective.show.focusview"
                  value="org.wcs.smart.er.surveyDesignListView">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="org.wcs.smart.caSingle">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.wcs.smart.er.surveyDesignListView">
         <command
               commandId="org.wcs.smart.er.editItem"
               style="push"
               tooltip="%edit.command.tooltip">
         </command>
         <separator
               name="org.wcs.smart.er.list.seperator.1"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.er.mission.new"
               style="push"
               tooltip="%mission.create.command.tooltip1">
         </command>
         <command
               commandId="org.wcs.smart.er.survey.new"
               style="push">
         </command>
         <separator
               name="org.wcs.smart.er.list.seperator.2"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.er.delete"
               style="push"
               tooltip="%survey.delete.command.tooltip1">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.er.ui.handlers.DeleteSurveyElementHandler$DeleteSurveyElementHandlerWrapper"
            commandId="org.wcs.smart.er.delete">
         <activeWhen>
            <and>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <and>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="dataentry">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="analyst">
                        </test>
                     </or>
                     <with
                           variable="selection">
                        <iterate
                              ifEmpty="false"
                              operator="or">
                           <or>
                              <instanceof
                                    value="org.wcs.smart.er.ui.SurveyListTreeNode">
                              </instanceof>
                           </or>
                        </iterate>
                     </with>
                  </and>
               </or>
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.NewSurveyDesignHandler$NewSurveyDesignHandlerWrapper"
            commandId="org.wcs.smart.er.surveydesign.new">
         <enabledWhen>
            <test
                  property="org.wcs.smart.caSingle">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.NewSurveyHandler$NewSurveyHandlerWrapper"
            commandId="org.wcs.smart.er.survey.new">
         <enabledWhen>
            <test
                  property="org.wcs.smart.caSingle">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.NewMissionHandler$NewMissionHandlerWrapper"
            commandId="org.wcs.smart.er.mission.new">
         <enabledWhen>
            <test
                  property="org.wcs.smart.caSingle">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.ShowMissionAttributesHandler$ShowMissionAttributesHandlerWrapper"
            commandId="org.wcs.smart.er.missionattributes.show">
         <enabledWhen>
            <and>
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
               <test
                     property="org.wcs.smart.caSingle">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.ShowSamplingUnitAttributesHandler$ShowSamplingUnitAttributesHandlerWrapper"
            commandId="org.wcs.smart.er.su.show">
         <enabledWhen>
            <and>
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
               <test
                     property="org.wcs.smart.caSingle">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.FilterSurveyListItemsHandler$FilterSurveyListItemsHandlerWrapper"
            commandId="org.wcs.smart.er.filter">
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.EditSurveyElementHandler$EditSurveyElementHandlerWrapper"
            commandId="org.wcs.smart.er.editItem">
         <enabledWhen>
            <test
                  property="org.wcs.smart.caSingle">
            </test>
         </enabledWhen>
         <activeWhen>
            <and>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <and>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="dataentry">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="analyst">
                        </test>
                     </or>
                     <with
                           variable="selection">
                        <iterate
                              ifEmpty="false"
                              operator="or">
                           <or>
                              <instanceof
                                    value="org.wcs.smart.er.ui.SurveyListTreeNode">
                              </instanceof>
                           </or>
                        </iterate>
                     </with>
                  </and>
               </or>
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.SurveyDesignExportHandler$SurveyDesignExportHandlerWrapper"
            commandId="org.wcs.smart.er.surveydesignexport">
         <enabledWhen>
            <and>
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
               <test
                     property="org.wcs.smart.caSingle">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.SurveyDesignImportHandler$SurveyDesignImportHandlerWrapper"
            commandId="org.wcs.smart.er.surveydesignimport">
         <enabledWhen>
            <and>
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
               <test
                     property="org.wcs.smart.caSingle">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.MissionExportHandler$MissionExportHandlerWrapper"
            commandId="org.wcs.smart.er.missionExportHandler">
         <enabledWhen>
            <test
                  property="org.wcs.smart.caSingle">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.MissionImportHandler$MissionImportHandlerWrapper"
            commandId="org.wcs.smart.er.missionImportHandler">
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.MissionScreenOptionsMetaHandler$MissionScreenOptionsMetaHandlerWrapper"
            commandId="org.wcs.smart.er.missionScreens">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.er.surveydesign.new"
            name="%surveydesign.create.command.name">
      </command>
      <command
            id="org.wcs.smart.er.delete"
            name="%delete.command.name">
      </command>
      <command
            id="org.wcs.smart.er.survey.new"
            name="%survey.create.command.name">
      </command>
      <command
            id="org.wcs.smart.er.mission.new"
            name="%mission.create.command.name">
      </command>
      <command
            id="org.wcs.smart.er.missionattributes.show"
            name="%mission.properties.command.name">
      </command>
      <command
            id="org.wcs.smart.er.su.show"
            name="%samplingunitattr.command.name">
      </command>
      <command
            id="org.wcs.smart.er.filter"
            name="%filter.command.name">
      </command>
      <command
            id="org.wcs.smart.er.editItem"
            name="%edit.command.name">
      </command>
      <command
            id="org.wcs.smart.er.surveydesignexport"
            name="%surveydesign.export.command.name">
      </command>
      <command
            id="org.wcs.smart.er.surveydesignimport"
            name="%surveydesign.import.command.name">
      </command>
      <command
            id="org.wcs.smart.er.missionExportHandler"
            name="%mission.export.command.name">
      </command>
      <command
            id="org.wcs.smart.er.missionImportHandler"
            name="%mission.import.command.name">
      </command>
      <command
            id="org.wcs.smart.er.missionScreens"
            name="%mission.screenconfig.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.wcs.smart.er.ui.SurveyListTreeNode"
            class="org.wcs.smart.er.ui.AdapterFactory">
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.er.surveydesign.new"
            icon="images/icons/obj16/survey_design_add.png">
      </image>
      <image
            commandId="org.wcs.smart.er.delete"
            icon="images/icons/etool16/delete.png">
      </image>
      <image
            commandId="org.wcs.smart.er.survey.new"
            icon="images/icons/obj16/survey_add.png">
      </image>
      <image
            commandId="org.wcs.smart.er.mission.new"
            icon="images/icons/obj16/mission_add.png">
      </image>
      <image
            commandId="org.wcs.smart.er.su.show"
            icon="images/icons/obj16/sampling_unit_attribute.png">
      </image>
      <image
            commandId="org.wcs.smart.er.filter"
            icon="images/icons/obj16/survey_design_filter.png">
      </image>
      <image
            commandId="org.wcs.smart.er.missionattributes.show"
            icon="images/icons/obj16/mission_attributes.png">
      </image>
      <image
            commandId="org.wcs.smart.er.surveydesignexport"
            icon="images/icons/obj16/survey_design_export.png">
      </image>
      <image
            commandId="org.wcs.smart.er.surveydesignimport"
            icon="images/icons/obj16/survey_design_import.png">
      </image>
      <image
            commandId="org.wcs.smart.er.missionImportHandler"
            icon="images/icons/obj16/mission_import.png">
      </image>
      <image
            commandId="org.wcs.smart.er.missionExportHandler"
            icon="images/icons/obj16/mission_export.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.er.ui.surveydesign.editor.SurveyDesignEditor"
            default="false"
            icon="images/icons/obj16/survey_design.png"
            id="org.wcs.smart.er.SurveyDesignEditor"
            name="%surveydesign.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.er.ui.mision.editor.MissionEditor"
            default="false"
            icon="images/icons/obj16/mission.png"
            id="org.wcs.smart.er.ui.mission.MissionEditor"
            name="%mission.editor.name">
      </editor>
   </extension>
   <extension
         point="org.wcs.smart.ca.deleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.er.delete.MissionAttributeDeleteAdvisor"
            class="org.wcs.smart.er.model.MissionAttribute">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.er.delete.MissionAttributeListItemDeleteAdvisor"
            class="org.wcs.smart.er.model.MissionAttributeListItem">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.er.delete.EmployeeDeleteAdvisor"
            class="org.wcs.smart.ca.Employee">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.er.delete.SamplingUnitAttributeDeleteAdvisor"
            class="org.wcs.smart.er.model.SamplingUnitAttribute">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.er.delete.SamplingUnitDeleteAdvisor"
            class="org.wcs.smart.er.model.SamplingUnit">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.er.delete.SamplingUnitAttributeListItemDeleteAdvisor"
            class="org.wcs.smart.er.model.SamplingUnitAttributeListItem">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.er.delete.ConfigurableModelDeleteAdvisor"
            class="org.wcs.smart.dataentry.model.ConfigurableModel">
      </DeleteAdvisor>
   </extension>
   <extension
         point="org.locationtech.udig.catalog.ServiceExtension">
      <service
            class="org.wcs.smart.er.map.samplingunit.SamplingUnitServiceExtension"
            id="org.wcs.smart.udig.er.catalog.SmartSamplingUnitService"
            name="%samplingunit.service.name">
      </service>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.er.internal.CaTemplateCloner"
            id="org.wcs.smart.er.SurveyCloner">
         <require
               id="org.wcs.smart.conservationAreaCloner">
         </require>
         <require
               id="org.wcs.smart.dataentry.cmTemplateCloner">
         </require>
      </templateCloner>
   </extension>
   <extension
         point="org.wcs.smart.ca.filestoredir">
      <FilestoreDirectory
            directory="survey">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.locationtech.udig.project.ui.tool">
      <modalTool
            categoryId="org.wcs.smart.udig.maptools"
            class="org.wcs.smart.er.ui.mision.udig.SplitTool"
            icon="images/icons/obj16/split_track.png"
            id="org.wcs.smart.er.track.split"
            name="%splittrack.modalTool.name"
            onToolbar="true"
            tooltip="%splittrack.modalTool.tooltip">
         <cursor
               hotspotX="10"
               hotspotY="10"
               id="org.wcs.smart.er.track.split.pointer"
               image="images/pointers/split_pointer.png">
         </cursor>
      </modalTool>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.wcs.smart.er.ui.mision.udig.SurveyFeature"
            class="org.wcs.smart.er.ui.mision.udig.WaypointFeatureAdapterFactory">
         <adapter
               type="org.wcs.smart.observation.model.Waypoint">
         </adapter>
      </factory>
      <factory
            adaptableType="org.wcs.smart.er.model.SurveyWaypoint"
            class="org.wcs.smart.er.ui.mision.udig.WaypointFeatureAdapterFactory">
         <adapter
               type="org.wcs.smart.observation.model.Waypoint">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.wcs.smart.changelog.installer">
      <ChangeLogTracker
            clazz="org.wcs.smart.er.updatesite.ChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
</plugin>
