<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.er.updatesite.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.er.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrage">
      <dbUpgrader
            upgrader="org.wcs.smart.er.upgrade.ERDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.er.model.SurveyDesign">
      </class>
      <class
            class="org.wcs.smart.er.model.SamplingUnit">
      </class>
      <class
            class="org.wcs.smart.er.model.SamplingGroup">
      </class>
      <class
            ca_property=".parent.surveyDesign.conservationArea"
            class="org.wcs.smart.er.model.SamplingGroupItem">
      </class>
      <class
            ca_property=".waypoint.conservationArea"
            class="org.wcs.smart.er.model.SurveyWaypoint">
      </class>
      <class
            ca_property=".mission.survey.surveyDesign.conservationArea"
            class="org.wcs.smart.er.model.MissionTrack">
      </class>
      <class
            ca_property=".id.mission.survey.surveyDesign.conservationArea"
            class="org.wcs.smart.er.model.MissionPropertyValue">
      </class>
      <class
            ca_property=".id.surveyDesign.conservationArea"
            class="org.wcs.smart.er.model.MissionProperty">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.er.model.MissionAttributeListItem">
      </class>
      <class
            class="org.wcs.smart.er.model.MissionAttribute">
      </class>
      <class
            ca_property=".survey.surveyDesign.conservationArea"
            class="org.wcs.smart.er.model.Mission">
      </class>
      <class
            ca_property=".surveyDesign.conservationArea"
            class="org.wcs.smart.er.model.Survey">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.observation.ObservationSource">
      <ObservationSource
            class="org.wcs.smart.er.model.SurveyWaypointSource">
      </ObservationSource>
   </extension>
   <extension
         point="org.wcs.smart.ca.filestoredir">
      <FilestoreDirectory
            directory="survey">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.wcs.smart.er.ui.SurveyDesignListView"
            icon="images/icons/obj16/survey_design.png"
            id="org.wcs.smart.er.surveyDesignListView"
            name="Survey Designs"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.wcs.smart.observation.FieldDataPerspective">
         <view
               closeable="false"
               id="org.wcs.smart.er.surveyDesignListView"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="stack"
               relative="org.wcs.smart.fielddata.datafolder"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.fielddata?before=org.wcs.smart.fielddata.dataseparater">
         <menu
               icon="images/icons/obj16/survey_design.png"
               id="org.wcs.smart.er.menu.survey"
               label="Survey">
            <command
                  commandId="org.wcs.smart.er.missionattributes.show"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.er.mission.new"
                  style="push"
                  tooltip="creates a new mission">
            </command>
            <command
                  commandId="org.wcs.smart.er.survey.new"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.er.surveydesign.new"
                  style="push"
                  tooltip="creates a new survey design">
            </command>
            <separator
                  name="org.wcs.smart.er.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.er.showsurveys"
                  icon="images/icons/obj16/survey_design.png"
                  label="View Surveys"
                  mnemonic="x"
                  style="push"
                  tooltip="displays list of surveys">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.er.surveyDesignListView">
         <command
               commandId="org.wcs.smart.er.delete"
               style="push"
               tooltip="deletes the selected survey items">
         </command>
         <command
               commandId="org.wcs.smart.er.surveydesign.new"
               style="push"
               tooltip="creates a new survey design">
         </command>
         <command
               commandId="org.wcs.smart.er.survey.new"
               style="push">
         </command>
         <command
               commandId="org.wcs.smart.er.mission.new"
               style="push"
               tooltip="creates a new mission">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?after=org.wcs.smart.perspective.fielddata">
         <command
               commandId="org.wcs.smart.er.showsurveys"
               icon="images/icons/obj16/survey_design.png"
               label="View Surveys"
               style="push"
               tooltip="displays list of surveys">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.wcs.smart.er.surveyDesignListView">
         <command
               commandId="org.wcs.smart.er.mission.new"
               style="push"
               tooltip="creates a new mission">
         </command>
         <command
               commandId="org.wcs.smart.er.survey.new"
               style="push">
         </command>
         <command
               commandId="org.wcs.smart.er.surveydesign.new"
               style="push"
               tooltip="creates a new survey design">
         </command>
         <command
               commandId="org.wcs.smart.er.delete"
               style="push"
               tooltip="deletes the selected survey items">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.er.ui.handlers.ShowSurveyHandler"
            commandId="org.wcs.smart.er.showsurveys">
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.DeleteSurveyElementHandler"
            commandId="org.wcs.smart.er.delete">
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.NewSurveyDesignHandler"
            commandId="org.wcs.smart.er.surveydesign.new">
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.NewSurveyHandler"
            commandId="org.wcs.smart.er.survey.new">
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.NewMissionHandler"
            commandId="org.wcs.smart.er.mission.new">
      </handler>
      <handler
            class="org.wcs.smart.er.ui.handlers.ShowMissionAttributesHandler"
            commandId="org.wcs.smart.er.missionattributes.show">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.er.showsurveys"
            name="View Surveys">
      </command>
      <command
            id="org.wcs.smart.er.surveydesign.new"
            name="New Survey Design...">
      </command>
      <command
            id="org.wcs.smart.er.delete"
            name="Delete ...">
      </command>
      <command
            id="org.wcs.smart.er.survey.new"
            name="New Survey...">
      </command>
      <command
            id="org.wcs.smart.er.mission.new"
            name="New Mission ...">
      </command>
      <command
            id="org.wcs.smart.er.missionattributes.show"
            name="Mission Attributes ...">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.wcs.smart.er.ui.SurveyListTreeNode"
            class="org.wcs.smart.er.ui.AdapterFactory">
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.er.surveydesign.new"
            icon="images/icons/obj16/survey_design_add.png">
      </image>
      <image
            commandId="org.wcs.smart.er.delete"
            icon="images/icons/etool16/delete.png">
      </image>
      <image
            commandId="org.wcs.smart.er.survey.new"
            icon="images/icons/obj16/survey_add.png">
      </image>
      <image
            commandId="org.wcs.smart.er.mission.new"
            icon="images/icons/obj16/mission_add.png">
      </image>
   </extension>

</plugin>
