<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.observation.ObservationSource" name="Observation Source" schema="schema/org.wcs.smart.observation.ObservationSource.exsd"/>
   <extension
         point="org.wcs.smart.ca.deleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.observation.internal.advisor.AttributeDMAdvisor"
            class="org.wcs.smart.ca.datamodel.Attribute">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.observation.internal.advisor.AttributeListItemDMAdvisor"
            class="org.wcs.smart.ca.datamodel.AttributeListItem">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.observation.internal.advisor.AttributeTreeNodeDMAdvisor"
            class="org.wcs.smart.ca.datamodel.AttributeTreeNode">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.observation.internal.advisor.CategoryDMAdvisor"
            class="org.wcs.smart.ca.datamodel.Category">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.observation.internal.advisor.CategoryAttributeDMAdvisor"
            class="org.wcs.smart.ca.datamodel.CategoryAttribute">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.observation.internal.advisor.EmployeeDeleteAdvisor"
            class="org.wcs.smart.ca.Employee">
      </DeleteAdvisor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.wcs.smart.observation.ui.WaypointInfoView$WaypointInfoViewWrapper"
            icon="images/icons/view16/waypoint_info.png"
            id="org.wcs.smart.observation.waypointInfo"
            name="%waypointinfo.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.observation.model.Waypoint"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".waypoint.conservationArea"
            class="org.wcs.smart.observation.model.WaypointObservation"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.observation.waypoint.conservationArea"
            class="org.wcs.smart.observation.model.WaypointObservationAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".observation.waypoint.conservationArea"
            class="org.wcs.smart.observation.model.ObservationAttachment"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".waypoint.conservationArea"
            class="org.wcs.smart.observation.model.WaypointAttachment"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".uuid"
            class="org.wcs.smart.observation.model.ObservationOptions"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.menu.ca">
         <menu
               id="org.wcs.smart.fielddata"
               label="%fielddata.menu.label"
               mnemonic="%fielddata.menu.mnemonic"
               tooltip="%fielddata.menu.tooltip">
            <separator
                  name="org.wcs.smart.fielddata.dataseparater"
                  visible="true">
            </separator>
            <separator
                  name="org.wcs.smart.fielddata.dataseparater2"
                  visible="false">
            </separator>
            <command
                  commandId="org.wcs.smart.observation.options"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
               </visibleWhen>
            </command>
            <separator
                  name="org.wcs.smart.fielddata.dataseparater4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  icon="images/icons/view16/fielddata.png"
                  label="%fielddata.perspective.command.label"
                  mnemonic="%fielddata.perspective.command.mnemonic"
                  style="push">
               <parameter
                     name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                     value="org.wcs.smart.observation.FieldDataPerspective">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.caSingle">
                  </test>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="analyst">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?after=org.wcs.smart.perspectivesSeperator">
         <separator
               name="org.wcs.smart.perspective.fielddata"
               visible="false">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.file?before=org.wcs.menu.file.changeuserpassword">
         <separator
               name="org.wcs.smart.query.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.export"
               id="x"
               label="%file.exportmap.command.label"
               style="push"
               tooltip="%file.exportmap.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.wcs.smart.observation.FieldDataPerspective">
                     </equals>
                  </with>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.caSingle">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.query.separator3"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wcs.smart.observation.ui.FieldDataPerspective"
            id="org.wcs.smart.observation.FieldDataPerspective"
            name="%fielddata.perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.observation.ObservationCloner"
            id="org.wcs.smart.observation.cloner">
         <require
               id="org.wcs.smart.conservationAreaCloner">
         </require>
      </templateCloner>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.observation.options"
            name="%fielddataops.command.name">
      </command>
      <command
            id="org.wcs.smart.observation.perspective.show"
            name="%showperspective.command.name">
         <commandParameter
               id="org.wcs.smart.observation.perspective.show.focusview"
               name="%commandParameter.name"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.observation.ui.ShowOptionsHandler$ShowOptionsHandlerWrapper"
            commandId="org.wcs.smart.observation.options">
         <activeWhen>
            <and>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="admin">
               </test>
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.ca.filestoredir">
      <FilestoreDirectory
            directory="incidents">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.observation.ui.ShowFieldDataPerspective$ShowFieldDataPerspectiveWrapper"
            commandId="org.wcs.smart.observation.perspective.show">
      </handler>
   </extension>

</plugin>
