<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.query.queryItemPanel">
      <QueryItemPanel
            id="org.wcs.smart.observation.query.GriddedItemPanel"
            panel="org.wcs.smart.observation.query.ui.itempanel.GriddedItemPanel">
      </QueryItemPanel>
      <QueryItemPanel
            id="org.wcs.smart.observation.query.summaryItemPanel"
            panel="org.wcs.smart.observation.query.ui.itempanel.SummaryFilterPanel">
      </QueryItemPanel>
      <QueryItemPanel
            id="org.wcs.smart.observation.query.filterPanel"
            panel="org.wcs.smart.observation.query.ui.itempanel.QueryFilterPanel">
      </QueryItemPanel>
   </extension>
   <extension
         point="org.wcs.smart.query.queryType">
      <QueryType
            class="org.wcs.smart.observation.query.model.types.ObservationQueryType">
         <DefinitionPanel
               id="org.wcs.smart.observation.query.ObservationSimpleFilterPanel"
               itemPanelId="org.wcs.smart.observation.query.summaryItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            class="org.wcs.smart.observation.query.model.types.ObservationWaypointQueryType">
         <DefinitionPanel
               id="org.wcs.smart.observation.query.ObservationSimpleFilterPanel"
               itemPanelId="org.wcs.smart.observation.query.summaryItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            class="org.wcs.smart.observation.query.model.types.ObservationGridQueryType">
         <DefinitionPanel
               id="org.wcs.smart.observation.query.ObservationGriddedQueryDefinitionPanel"
               itemPanelId="org.wcs.smart.observation.query.GriddedItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.observation.query.ObservationSimpleFilterPanel"
               itemPanelId="org.wcs.smart.observation.query.summaryItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            class="org.wcs.smart.observation.query.model.types.ObservationSummaryQueryType">
         <DefinitionPanel
               id="org.wcs.smart.observation.query.ObservationSummaryGroupByValuePanel"
               itemPanelId="org.wcs.smart.query.patrol.summaryItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.observation.query.ObservationSimpleFilterPanel"
               itemPanelId="org.wcs.smart.observation.query.summaryItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
   </extension>
   <extension
         point="org.wcs.smart.query.queryDefinitionPanel">
      <QueryDefinitionPanel
            id="org.wcs.smart.observation.query.ObservationGriddedQueryDefinitionPanel"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.observation.query.ui.definition.ObservationGriddedQueryDefinitionPanel">
      </QueryDefinitionPanel>
      <QueryDefinitionPanel
            id="org.wcs.smart.observation.query.ObservationSimpleFilterPanel"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.observation.query.ui.definition.ObservationSimpleFilterPanel">
      </QueryDefinitionPanel>
      <QueryDefinitionPanel
            id="org.wcs.smart.observation.query.ObservationSummaryGroupByValuePanel"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.observation.query.ui.definition.ObservationSummaryGroupByValuePanel">
      </QueryDefinitionPanel>
   </extension>

</plugin>
