<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.report.birt.maplayer">
      <MapLayer
            maplayer="org.wcs.smart.report.query.map.QueryMapLayer">
      </MapLayer>
   </extension>
   <extension
         point="org.wcs.smart.report.birt.query.queryDataset">
      <QueryTypeDataset
            class="org.wcs.smart.report.query.data.oda.query.PatrolSmartQuery"
            queryTypeKey="patrolgrid">
      </QueryTypeDataset>
      <QueryTypeDataset
            class="org.wcs.smart.report.query.data.oda.query.PatrolSmartQuery"
            queryTypeKey="patrolobservation">
      </QueryTypeDataset>
      <QueryTypeDataset
            class="org.wcs.smart.report.query.data.oda.query.PatrolSmartQuery"
            queryTypeKey="patrolquery">
      </QueryTypeDataset>
      <QueryTypeDataset
            class="org.wcs.smart.report.query.data.oda.query.PatrolSmartQuery"
            metadataProvider="org.wcs.smart.report.query.data.oda.query.PatrolSummaryMetadataProvider"
            queryTypeKey="patrolsummary">
      </QueryTypeDataset>
      <QueryTypeDataset
            class="org.wcs.smart.report.query.data.oda.query.PatrolSmartQuery"
            queryTypeKey="patrolwaypoint">
      </QueryTypeDataset>
   </extension>

</plugin>
