<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.wcs.smart.event.actiontype">
      <actiontype
            actionExecutor="org.wcs.smart.event.i2.CreateRecordActionTypeExecutor"
            actionType="org.wcs.smart.event.i2.CreateRecordActionType"
            parameter_collector="org.wcs.smart.event.i2.CreateRecordParameterCollector">
      </actiontype>
      <actiontype
            actionExecutor="org.wcs.smart.event.i2.CreateEntityActionTypeExecutor"
            actionType="org.wcs.smart.event.i2.entity.CreateEntityActionType"
            parameter_collector="org.wcs.smart.event.i2.entity.CreateEntityParameterCollector">
      </actiontype>
   </extension>
   <extension
         point="org.wcs.smart.caDeleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.event.i2.RecordSourceDeleteAdvisor"
            class="org.wcs.smart.i2.model.IntelRecordSource">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.event.i2.ProfileDeleteAdvisor"
            class="org.wcs.smart.i2.model.IntelProfile">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.event.i2.EntityTypeDeleteAdvisor"
            class="org.wcs.smart.i2.model.IntelEntityType">
      </DeleteAdvisor>
   </extension>
   <extension
         point="org.wcs.smart.i2.profile.edit.validation">
      <validator
            class="org.wcs.smart.event.i2.ProfileEditManager">
      </validator>
   </extension>

</plugin>
