<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.i2.model.IntelAttachment"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.i2.model.IntelAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.i2.model.IntelAttributeListItem"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.i2.model.IntelDatamodelEvent"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".entityType.conservationArea"
            class="org.wcs.smart.i2.model.IntelEntity"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.attachment.conservationArea"
            class="org.wcs.smart.i2.model.IntelEntityAttachment"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.attribute.conservationArea"
            class="org.wcs.smart.i2.model.IntelEntityAttributeValue"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.record.conservationArea"
            class="org.wcs.smart.i2.model.IntelEntityRecord"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.location.conservationArea"
            class="org.wcs.smart.i2.model.IntelEntityLocation"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".relationshipType.conservationArea"
            class="org.wcs.smart.i2.model.IntelEntityRelationship"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.attribute.conservationArea"
            class="org.wcs.smart.i2.model.IntelEntityRelationshipAttributeValue"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.i2.model.IntelEntitySearch"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.i2.model.IntelEntityType"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.entityType.conservationArea"
            class="org.wcs.smart.i2.model.IntelEntityTypeAttribute"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.i2.model.IntelLocation"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".location.conservationArea"
            class="org.wcs.smart.i2.model.IntelObservation"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.attribute.conservationArea"
            class="org.wcs.smart.i2.model.IntelObservationAttribute"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.i2.model.IntelRecord"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.record.conservationArea"
            class="org.wcs.smart.i2.model.IntelRecordAttachment"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.i2.model.IntelRecordQuery"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.i2.model.IntelRelationshipGroup"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.i2.model.IntelRelationshipType"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.relationshipType.conservationArea"
            class="org.wcs.smart.i2.model.IntelRelationshipTypeAttribute"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.i2.model.IntelWorkingSet"
            supportsCcaa="true">
      </class>
      <class
            ca_property=".id.workingSet.conservationArea"
            class="org.wcs.smart.i2.model.IntelWorkingSetEntity"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.workingSet.conservationArea"
            class="org.wcs.smart.i2.model.IntelWorkingSetQuery"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.workingSet.conservationArea"
            class="org.wcs.smart.i2.model.IntelWorkingSetRecord"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.ca.deleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.i2.handlers.DeleteEmployeeAdvisor"
            class="org.wcs.smart.ca.Employee">
      </DeleteAdvisor>
   </extension>

</plugin>
