<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.connect.configure.optionpanel" name="Connect Server Options Configuration Panel" schema="schema/org.wcs.smart.connect.configure.optionpanel.exsd"/>
   <extension-point id="org.wcs.smart.connect.status.contribution" name="Connect Status Contribution" schema="schema/org.wcs.smart.connect.status.contribution.exsd"/>
   <extension-point id="org.wcs.smart.connect.ca.export" name="Connect Conservation Area Export Processor" schema="schema/org.wcs.smart.connect.ca.export.exsd"/>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.connect.model.ConnectServer"
            supportsCcaa="true">
      </class>
      <class
            ca_property=".server.conservationArea"
            class="org.wcs.smart.connect.model.ConnectUser"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".uuid"
            class="org.wcs.smart.connect.model.ConnectServerStatus"
            supportsCcaa="true">
      </class>
      <class
            class="org.wcs.smart.connect.model.ConnectSyncHistoryRecord"
            supportsCcaa="true">
      </class>
      <class
            ca_property=".conservationArea"
            class="org.wcs.smart.connect.model.ChangeLogItem"
            supportsCcaa="true">
      </class>
      <class
            ca_property=".id.server.conservationArea"
            class="org.wcs.smart.connect.model.ConnectServerOption"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.ca.filestoredir">
      <FilestoreDirectory
            directory="smart_connect">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.wcs.smart.startup.db">
      <StartUpRunner
            class="org.wcs.smart.connect.replication.DerbyStartUpRunner">
      </StartUpRunner>
   </extension>
   <extension
         point="org.wcs.smart.ca.login">
      <loginHandler
            clazz="org.wcs.smart.connect.replication.LoginHandler">
      </loginHandler>
   </extension>
   <extension
         point="org.wcs.smart.startupoption">
      <StartUpOption
            clazz="org.wcs.smart.connect.ui.startup.ImportFromConnectStartupOption">
      </StartUpOption>
      <StartUpOption
            clazz="org.wcs.smart.connect.ui.startup.SyncMultiStartupOption">
      </StartUpOption>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.connect.configuration.show"
            name="%configure.command.name">
      </command>
      <command
            id="org.wcs.smart.connect.server.exportca"
            name="%uploadca.command.name">
      </command>
      <command
            id="org.wcs.smart.connect.server.changelog.up"
            name="%uploadsync.command.name">
      </command>
      <command
            id="org.wcs.smart.connect.server.changelog.down"
            name="%downloadsync.command.name">
      </command>
      <command
            id="org.wcs.smart.connect.server.changelog.sync"
            name="%syncall.command.name">
      </command>
      <command
            id="org.wcs.smart.connect.server.downloadccaa"
            name="%downloadca.command.name">
      </command>
      <command
            id="org.wcs.smart.connect.server.web"
            name="%OpenBrowser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.connect.server.changelog.up"
            icon="images/icons/obj16/server_upload.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.server.changelog.down"
            icon="images/icons/obj16/server_download.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.configuration.show"
            icon="images/icons/obj16/server_configure.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.server.exportca"
            icon="images/icons/obj16/server_ca_upload.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.server.changelog.sync"
            icon="images/icons/obj16/server_sync.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.server.downloadccaa"
            icon="images/icons/obj16/server_ca_download.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.server.web"
            icon="images/icons/obj16/world.png">
      </image>
   </extension>
   <extension
         id="id2"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="false"
            class="org.wcs.smart.connect.ui.StatusLineConfigProcessor">
      </processor>
      <processor
            apply="always"
            beforefragment="false"
            class="org.wcs.smart.connect.internal.server.replication.SyncOnStartupProcessor">
      </processor>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.connect.CloneConnect"
            id="org.wcs.smart.connect.CloneConnectConservationArea">
      </templateCloner>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.connect.updatesite.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.connect.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.changelog.installer">
      <ChangeLogTracker
            clazz="org.wcs.smart.connect.updatesite.ChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.report">
         <menu
               id="org.wcs.smart.connect.menu"
               label="%connect.menu.label"
               mnemonic="%connect.menu.mnemonic">
            <command
                  commandId="org.wcs.smart.connect.server.changelog.sync"
                  style="push">
            </command>
            <separator
                  name="org.wcs.smart.connect.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.connect.server.changelog.up"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.connect.server.changelog.down"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.connect.server.exportca"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <test
                           property="org.wcs.smart.caSingle">
                     </test>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.connect.server.exportca"
                  label="%downloadca.command.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <not>
                     <test
                           property="org.wcs.smart.caSingle">
                     </test>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.connect.server.downloadccaa"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <not>
                     <test
                           property="org.wcs.smart.caSingle">
                     </test>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.connect.server.web"
                  style="push">
            </command>
            <separator
                  name="org.wcs.smart.connect.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.connect.configuration.show"
                  style="push"
                  tooltip="%configure.command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="org.wcs.smart.connect.status">
            <control
                  class="org.wcs.smart.connect.ui.StatusLineControl"
                  id="org.wcs.smart.connect.status.control">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.connect.ui.server.configure.ShowServerConfigurationHandler$ShowServerConfigurationHandlerWrapper"
            commandId="org.wcs.smart.connect.configuration.show">
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.UploadCaHandler$ExportCaHandlerrWrapper"
            commandId="org.wcs.smart.connect.server.exportca">
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.UploadChangeLogHandler$UploadChangeLogHandlerWrapper"
            commandId="org.wcs.smart.connect.server.changelog.up">
         <enabledWhen>
            <test
                  property="org.wcs.smart.connect.replication.isEnabled"
                  value="true">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.DownloadChangeLogHandler$DownloadChangeLogHandlerWrapper"
            commandId="org.wcs.smart.connect.server.changelog.down">
         <enabledWhen>
            <test
                  property="org.wcs.smart.connect.replication.isEnabled"
                  value="true">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.SyncChangeLogHandler$SyncChangeLogHandlerWrapper"
            commandId="org.wcs.smart.connect.server.changelog.sync">
         <enabledWhen>
            <test
                  property="org.wcs.smart.connect.replication.isEnabled"
                  value="true">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.DownloadInstallCcaaHandler$DownloadInstallCcaaHandlerWrapper"
            commandId="org.wcs.smart.connect.server.downloadccaa">
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.ShowConnectWebHandler$ShowConnectWebHandlerWrapper"
            commandId="org.wcs.smart.connect.server.web">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.wcs.smart.connect.replication.ReplicationEnabledPropertyTester"
            id="org.wcs.smart.connect.replication"
            namespace="org.wcs.smart.connect.replication"
            properties="isEnabled"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrage">
      <dbUpgrader
            upgrader="org.wcs.smart.connect.upgrade.ConnectDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.wcs.smart.connect.configure.optionpanel">
      <Panel
            class="org.wcs.smart.connect.ui.server.configure.AutoOptionsPanel">
      </Panel>
      <Panel
            class="org.wcs.smart.connect.ui.server.configure.ServerOptionsPanel">
      </Panel>
   </extension>
   <extension
         point="org.wcs.smart.connect.status.contribution">
      <contribution
            class="org.wcs.smart.connect.ui.ReplicationStatusContribution">
      </contribution>
   </extension>
   <extension
         point="org.wcs.smart.connect.ca.export">
      <processor
            class="org.wcs.smart.connect.internal.server.ConnectCaExportProcessor">
      </processor>
   </extension>
   <extension
         point="org.wcs.smart.dataentry.extradata">
      <tab
            content="org.wcs.smart.connect.dataentry.ConfigurableModelEditorConnectTab">
      </tab>
   </extension>

</plugin>
