<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.connect.model.ConnectServer"
            include_ca_export="true">
      </class>
      <class
            ca_property=".server.conservationArea"
            class="org.wcs.smart.connect.model.ConnectUser"
            include_ca_export="true">
      </class>
      <class
            ca_property=".uuid"
            class="org.wcs.smart.connect.model.ConnectServerStatus"
            include_ca_export="false">
      </class>
      <class
            class="org.wcs.smart.connect.model.ConnectSyncHistoryRecord">
      </class>
      <class
            ca_property=".conservationArea"
            class="org.wcs.smart.connect.model.ChangeLogItem">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.connect.configuration.show"
            name="Server Configuration...">
      </command>
      <command
            id="org.wcs.smart.connect.server.exportca"
            name="Upload Conservation Area to Connect">
      </command>
      <command
            id="org.wcs.smart.connect.server.changelog.up"
            name="Upload Changes To Connect">
      </command>
      <command
            id="org.wcs.smart.connect.server.changelog.down"
            name="Download Changes From Connect">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.report">
         <menu
               id="org.wcs.smart.connect.menu"
               label="Connect">
            <command
                  commandId="org.wcs.smart.connect.server.changelog.up"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.connect.server.changelog.down"
                  style="push">
            </command>
            <separator
                  name="org.wcs.smart.connect.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.connect.server.exportca"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.connect.configuration.show"
                  style="push"
                  tooltip="configure the smart connect server for this conservation area">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.connect.ui.server.configure.ShowServerConfigurationHandler$ShowServerConfigurationHandlerWrapper"
            commandId="org.wcs.smart.connect.configuration.show">
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.UploadCaHandler$ExportCaHandlerrWrapper"
            commandId="org.wcs.smart.connect.server.exportca">
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.UploadChangeLogHandler$UploadChangeLogHandlerWrapper"
            commandId="org.wcs.smart.connect.server.changelog.up">
         <enabledWhen>
            <test
                  property="org.wcs.smart.connect.replication.isEnabled"
                  value="true">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.DownloadChangeLogHandler$DownloadChangeLogHandlerWrapper"
            commandId="org.wcs.smart.connect.server.changelog.down">
         <enabledWhen>
            <test
                  property="org.wcs.smart.connect.replication.isEnabled"
                  value="true">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.ca.login">
      <loginHandler
            clazz="org.wcs.smart.connect.replication.LoginHandler">
      </loginHandler>
   </extension>
   <extension
         point="org.wcs.smart.startupoption">
      <StartUpOption
            clazz="org.wcs.smart.connect.ui.startup.ImportFromConnectStartupOption">
      </StartUpOption>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.connect.updatesite.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.connect.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.changelog.installer">
      <ChangeLogTracker
            clazz="org.wcs.smart.connect.updatesite.ChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.connect.server.changelog.up"
            icon="images/icons/obj16/server_upload.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.server.changelog.down"
            icon="images/icons/obj16/server_download.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.configuration.show"
            icon="images/icons/obj16/server_configure.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.server.exportca"
            icon="images/icons/obj16/server_ca_upload.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.wcs.smart.connect.replication.ReplicationEnabledPropertyTester"
            id="org.wcs.smart.connect.replication"
            namespace="org.wcs.smart.connect.replication"
            properties="isEnabled"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
