<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.query.queryType" name="Query Type" schema="schema/org.wcs.smart.query.queryType.exsd"/>
   <extension-point id="org.wcs.smart.query.queryItemPanel" name="Query Item Panel" schema="schema/org.wcs.smart.query.queryItemPanel.exsd"/>
   <extension-point id="org.wcs.smart.query.queryDefinitionPanel" name="Query Definition Panel" schema="schema/org.wcs.smart.query.queryDefinitionPanel.exsd"/>
   <extension-point id="org.wcs.smart.query.export.format" name="Query Export Format" schema="schema/org.wcs.smart.query.export.format.exsd"/>
   <extension-point id="org.wcs.smart.query.property" name="Query Property" schema="schema/org.wcs.smart.query.property.exsd"/>
   <extension-point id="org.wcs.smart.query.import" name="Query Definition Importer" schema="schema/org.wcs.smart.query.import.exsd"/>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.wcs.smart.query.QueryFolderEditablePropertyTester"
            id="org.wcs.smart.query.isQueryFolderEditor"
            namespace="org.wcs.smart.query"
            properties="editable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.wcs.smart.query.RootFolderTester"
            id="org.wcs.smart.query.isRootFolder"
            namespace="org.wcs.smart.query"
            properties="isRootFolder"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wcs.smart.query.ui.QueryPerspective"
            icon="images/icons/view16/querypatrol.gif"
            id="org.wcs.smart.query.persepectives.single"
            name="%query.perspective.name">
      </perspective>
      <perspective
            class="org.wcs.smart.query.ui.MultiCaQueryPerspective"
            icon="images/icons/view16/querypatrol.gif"
            id="org.wcs.smart.query.persepectives.multi"
            name="%multieca.perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="org.wcs.smart.query.ui.QuerySourceProvider">
         <variable
               name="org.wcs.smart.query.ui.definitionitem"
               priorityLevel="activePartId">
         </variable>
         <variable
               name="org.wcs.smart.query.ui.queryvalid"
               priorityLevel="activePartId">
         </variable>
         <variable
               name="org.wcs.smart.query.ui.querydatevalid"
               priorityLevel="workbench">
         </variable>
         <variable
               name="org.wcs.smart.query.ui.definitionPanelId"
               priorityLevel="activePartId">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.wcs.smart.query.queryDefinitionPanel">
      <QueryDefinitionPanel
            id="org.wcs.smart.query.conservationAreaPanel"
            isMultiCa="true"
            isSingleCa="false"
            panel="org.wcs.smart.query.ui.definition.ConservationAreaFilterPanel">
      </QueryDefinitionPanel>
      <QueryDefinitionPanel
            id="org.wcs.smart.query.common.definition.grid"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.query.ui.definition.BasicGridDefinitionPanel">
      </QueryDefinitionPanel>
      <QueryDefinitionPanel
            id="org.wcs.smart.query.common.definition.filter"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.query.ui.definition.BasicFilterDefintionPanel">
      </QueryDefinitionPanel>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.wcs.smart.query.ui.definition.QueryDefView$QueryDefViewWrapper"
            icon="images/icons/view16/querypatrol.gif"
            id="org.wcs.smart.query.parts.definition"
            name="%querydef.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.wcs.smart.query.ui.itempanel.QueryItemView$QueryItemViewWrapper"
            icon="images/icons/view16/query_filter_op.png"
            id="org.wcs.smart.query.parts.filter"
            name="%queryfilter.view.name"
            restorable="false">
      </view>
      <view
            class="org.wcs.smart.query.ui.querylist.QueryListView$QueryListViewWrapper"
            icon="images/icons/view16/query_list.png"
            id="org.wcs.smart.query.parts.itemlist"
            name="%querylist.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?endof=org.wcs.smart.perspective.fielddata">
         <command
               commandId="org.wcs.smart.command.showperspective"
               icon="images/icons/view16/querypatrol.gif"
               id="org.wcs.smart.query.menu.view"
               label="%perspectivetoolbar.showquery.command.label"
               style="push"
               tooltip="%perspectivetoolbar.showquery.command.tooltip">
            <parameter
                  name="org.wcs.smart.perspectiveid"
                  value="org.wcs.smart.query.persepectives.single">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.caSingle">
                  </test>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="analyst">
                     </test>
                  </or>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.command.showperspective"
               icon="images/icons/view16/querypatrol.gif"
               label="%perspectivetoolbar.showquery.command.label"
               style="push"
               tooltip="%perspectivetoolbar.showquery.command.tooltip">
            <parameter
                  name="org.wcs.smart.perspectiveid"
                  value="org.wcs.smart.query.persepectives.multi">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.caSingle">
                     </test>
                  </not>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="analyst">
                     </test>
                  </or>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.wcs.smart.query.queryToolbar">
            <command
                  commandId="org.wcs.smart.query.export"
                  label="%queryToolbar.exportquery.command.label"
                  style="push"
                  tooltip="%queryToolbar.exportquery.command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <or>
                        <equals
                              value="org.wcs.smart.query.persepectives.single">
                        </equals>
                        <equals
                              value="org.wcs.smart.query.persepectives.multi">
                        </equals>
                     </or>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="%queryToolbar.savequery.command.label"
                  tooltip="%queryToolbar.savequery.command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <or>
                        <equals
                              value="org.wcs.smart.query.persepectives.single">
                        </equals>
                        <equals
                              value="org.wcs.smart.query.persepectives.multi">
                        </equals>
                     </or>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="%queryToolbar.saveasquery.command.label"
                  tooltip="%queryToolbar.saveasquery.command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <or>
                        <equals
                              value="org.wcs.smart.query.persepectives.single">
                        </equals>
                        <equals
                              value="org.wcs.smart.query.persepectives.multi">
                        </equals>
                     </or>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.query.parts.definition">
         <command
               commandId="org.eclipse.ui.file.save"
               label="%querydefview.toolbar.save.command.label"
               tooltip="%querydefview.toolbar.save.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.query.querydef.clear"
               icon="images/icons/etool16/clear.png"
               style="push"
               tooltip="%querydefview.toolbar.clear.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.query.run"
               icon="images/icons/etool16/bullet_go.png"
               label="%querydefview.toolbar.run.command.label"
               style="push"
               tooltip="%querydefview.toolbar.run.command.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.wcs.smart.query.parts.itemlist">
         <command
               commandId="org.wcs.smart.query.folder.add"
               icon="images/icons/etool16/folder_add.png"
               label="%querylistview.popup.newfolder.command.label"
               mnemonic="%querylistview.popup.newfolder.command.mnemonic"
               style="push"
               tooltip="%querylistview.popup.newfolder.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="newfolder"
                           property="org.wcs.smart.query.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.query.open"
               label="%querylistview.popup.openquery.command.label"
               mnemonic="%querylistview.popup.openquery.command.mnemonic"
               style="push"
               tooltip="%querylistview.popup.openquery.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.wcs.smart.query.ui.editor.QueryEditorInput">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.query.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.query.folder.rename"
               label="%querylistview.popup.rename.command.label"
               mnemonic="%querylistview.popup.rename.command.mnemonic"
               style="push"
               tooltip="%querylistview.popup.rename.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="rename"
                           property="org.wcs.smart.query.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.query.translate"
               label="%translate.command.label"
               mnemonic="%translate.command.mnemonic"
               style="push"
               tooltip="%translate.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="rename"
                           property="org.wcs.smart.query.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.query.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.query.deleteitem"
               label="%querylistview.popup.delete.command.label"
               mnemonic="%querylistview.popup.delete.command.mnemonic"
               style="push"
               tooltip="%querylistview.popup.delete.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="delete"
                           property="org.wcs.smart.query.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.query.parts.itemlist">
         <command
               commandId="org.wcs.smart.query.deleteitem"
               label="%querylist.toolbar.delete.command.label"
               style="push"
               tooltip="%querylist.toolbar.delete.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.query.create.unknown"
               id="org.wcs.smart.query.toolbar.menu.create"
               label="%queryToolbar.createquery.command.label"
               style="pulldown"
               tooltip="%queryToolbar.createquery.command.toolbar">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="analyst">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.fielddata">
         <menu
               id="org.wcs.smart.menu.query"
               label="%menu.query.label"
               mnemonic="%menu.query.mnemonic">
            <menu
                  icon="images/icons/etool16/addquery.png"
                  id="org.wcs.smart.menu.query.newquery"
                  label="%menu.query.menu.newquery.name"
                  mnemonic="%menu.query.menu.newquery.mnemonic">
               <command
                     commandId="org.wcs.smart.query.create.unknown"
                     id="org.wcs.smart.query.wizard"
                     label="%querywizard.command.label"
                     style="push"
                     tooltip="%querywizard.command.tooltip">
               </command>
               <separator
                     name="org.wcs.smart.query.newquery.separator"
                     visible="true">
               </separator>
               <separator
                     name="org.wcs.smart.query.newquery.separator2"
                     visible="false">
               </separator>
            </menu>
            <separator
                  name="org.wcs.smart.query.separator8"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.query.export"
                  label="%menu.query.exportquery.command.label1"
                  mnemonic="%menu.query.exportquery.command.mnemonic"
                  style="push"
                  tooltip="%menu.query.exportquery.command.tooltip">
            </command>
            <command
                  commandId="org.wcs.smart.query.exportmulti"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.query.import"
                  icon="images/icons/etool16/importquery.png"
                  label="%menu.query.importquery.command.label"
                  mnemonic="%menu.query.importquery.command.mnemonic"
                  style="push"
                  tooltip="%menu.query.importquery.command.tooltip">
            </command>
            <separator
                  name="org.wcs.smart.query.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="%menu.query.savequery.command.label"
                  mnemonic="%menu.query.savequery.command.mnemonic"
                  tooltip="%menu.query.savequery.command.tooltip">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="%menu.query.saveasquery.command.label"
                  mnemonic="%menu.query.saveasquery.command.mnemonic"
                  tooltip="%menu.query.saveasquery.command.tooltip">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="analyst">
                  </test>
               </or>
            </visibleWhen>
            <separator
                  name="org.wcs.smart.query.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.command.showperspective"
                  icon="images/icons/view16/querypatrol.gif"
                  label="%perspectivetoolbar.showquery.command.label"
                  style="push"
                  tooltip="%perspectivetoolbar.showquery.command.tooltip">
               <parameter
                     name="org.wcs.smart.perspectiveid"
                     value="org.wcs.smart.query.persepectives.single">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.caSingle">
                     </test>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="analyst">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.command.showperspective"
                  icon="images/icons/view16/querypatrol.gif"
                  label="%perspectivetoolbar.showquery.command.label"
                  style="push"
                  tooltip="%perspectivetoolbar.showquery.command.tooltip">
               <parameter
                     name="org.wcs.smart.perspectiveid"
                     value="org.wcs.smart.query.persepectives.multi">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.caSingle">
                        </test>
                     </not>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="analyst">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.file?before=org.wcs.menu.file.changeuserpassword">
         <separator
               name="org.wcs.smart.query.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.save"
               label="%menu.file.command.save.label"
               mnemonic="%menu.file.command.save.mnemonic"
               tooltip="%menu.file.command.save.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.query.persepectives.single">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.saveAs"
               label="%menu.file.command.saveAs.label"
               mnemonic="%menu.file.command.saveAs.mnemonic"
               tooltip="%menu.file.command.saveAs.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.query.persepectives.single">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               label="%menu.file.command.export.label"
               mnemonic="%menu.file.command.export.mnemonic"
               style="push"
               tooltip="%menu.file.command.export.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.query.persepectives.single">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.query.separator3"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="org.wcs.smart.query.queryError">
            <control
                  class="org.wcs.smart.query.QueryErrorControlContribution">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <or>
                        <equals
                              value="org.wcs.smart.query.persepectives.multi">
                        </equals>
                        <equals
                              value="org.wcs.smart.query.persepectives.single">
                        </equals>
                     </or>
                  </with>
               </visibleWhen>
            </control>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.toolbar.create">
         <command
               commandId="org.wcs.smart.query.create.unknown"
               id="org.wcs.smart.query.toolbar.menu.create"
               label="%queryToolbar.createquery.command.label"
               style="pulldown"
               tooltip="%queryToolbar.createquery.command.toolbar">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="analyst">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.query.toolbar.menu.create">
         <command
               commandId="org.wcs.smart.query.create.unknown"
               id="org.wcs.smart.query.createunknown.wizard"
               label="%querywizoard.command.label.0"
               style="push">
         </command>
         <separator
               name="org.wcs.smart.query.createunknown.separator"
               visible="true">
         </separator>
         <separator
               name="org.wcs.smart.query.createunknown.separator2"
               visible="false">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.file.multipleCa?before=org.wcs.smart.file.separator1">
         <separator
               name="org.wcs.smart.query.ccaa.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.save"
               label="%menu.file.command.save.label"
               mnemonic="%menu.file.command.save.mnemonic"
               tooltip="%menu.file.command.save.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.query.persepectives.multi">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.saveAs"
               label="%menu.file.command.saveAs.label"
               mnemonic="%menu.file.command.saveAs.mnemonic"
               tooltip="%menu.file.command.saveAs.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.query.persepectives.multi">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               label="%menu.file.command.export.label"
               mnemonic="%menu.file.command.export.mnemonic"
               style="push"
               tooltip="%menu.file.command.export.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.query.persepectives.multi">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.query.ccaa.separator3"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.query.toolbar.menu.create?before=org.wcs.smart.query.createunknown.separator2">
         <command
               commandId="org.wcs.smart.query.create.unknown"
               icon="images/icons/obj16/compound_query.png"
               label="New Compound Query"
               style="pulldown"
               tooltip="Creates a new compound query">
            <parameter
                  name="org.wcs.smart.query.type"
                  value="compound">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.query.newquery?before=org.wcs.smart.query.newquery.separator2">
         <command
               commandId="org.wcs.smart.query.create.unknown"
               icon="images/icons/obj16/compound_query.png"
               label="New Compound Query"
               style="pulldown"
               tooltip="Creates a new compound query">
            <parameter
                  name="org.wcs.smart.query.type"
                  value="compound">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.query.deleteitem"
            icon="images/icons/etool16/delete.png">
      </image>
      <image
            commandId="org.wcs.smart.query.export"
            icon="images/icons/etool16/exportquery.png">
      </image>
      <image
            commandId="org.wcs.smart.query.create.unknown"
            icon="images/icons/etool16/addquery.png">
      </image>
      <image
            commandId="org.wcs.smart.query.exportmulti"
            icon="images/icons/etool16/exportqueries.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.query.querydef.clear"
            name="%clearquerydef.command.name">
      </command>
      <command
            id="org.wcs.smart.query.run"
            name="%runquery.command.name">
      </command>
      <command
            id="org.wcs.smart.query.export"
            name="%exportquery.command.name">
      </command>
      <command
            id="org.wcs.smart.query.deleteitem"
            name="%deletequeryorfolder.command.name">
      </command>
      <command
            id="org.wcs.smart.query.folder.add"
            name="%addsubfolder.command.name">
      </command>
      <command
            id="org.wcs.smart.query.folder.rename"
            name="%renamequeryfolder.command.name">
      </command>
      <command
            id="org.wcs.smart.query.import"
            name="%importquery.command.name">
      </command>
      <command
            id="org.wcs.smart.query.create.unknown"
            name="%createunknowquery.command.name">
         <commandParameter
               id="org.wcs.smart.query.type"
               name="Query Type"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="org.wcs.smart.query.open"
            name="%openquery.command.name">
      </command>
      <command
            id="org.wcs.smart.query.translate"
            name="%translate.command.name">
      </command>
      <command
            id="org.wcs.smart.query.exportmulti"
            name="%exportquerydefinitions.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
     <handler
            class="org.wcs.smart.query.ui.ClearQueryHandler$ClearQueryHandlerWrapper"
            commandId="org.wcs.smart.query.querydef.clear">
         <enabledWhen>
            <and>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <or>
                     <equals
                           value="org.wcs.smart.query.persepectives.multi">
                     </equals>
                     <equals
                           value="org.wcs.smart.query.persepectives.single">
                     </equals>
                  </or>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.query.ui.RunQueryHandler$RunQueryHandlerWrapper"
            commandId="org.wcs.smart.query.run">
         <enabledWhen>
            <and>
               <with
                     variable="org.wcs.smart.query.ui.queryvalid">
                  <equals
                        value="true">
                  </equals>
               </with>
               <with
                     variable="org.wcs.smart.query.ui.querydatevalid">
                  <equals
                        value="true">
                  </equals>
               </with>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <or>
                     <equals
                           value="org.wcs.smart.query.persepectives.single">
                     </equals>
                     <equals
                           value="org.wcs.smart.query.persepectives.multi">
                     </equals>
                  </or>
               </with>
               <with
                     variable="activeEditorInput">
                  <instanceof
                        value="org.wcs.smart.query.ui.editor.QueryEditorInput">
                  </instanceof>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.query.ui.importexport.ExportQueryHandler$ExportQueryHandlerWrapper"
            commandId="org.wcs.smart.query.export">
         <enabledWhen>
            <and>
               <with
                     variable="activeEditorInput">
                  <instanceof
                        value="org.wcs.smart.query.ui.editor.QueryEditorInput">
                  </instanceof>
               </with>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <or>
                     <equals
                           value="org.wcs.smart.query.persepectives.single">
                     </equals>
                     <equals
                           value="org.wcs.smart.query.persepectives.multi">
                     </equals>
                  </or>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.query.ui.querylist.DeleteItemHandler$DeleteItemHandlerWrapper"
            commandId="org.wcs.smart.query.deleteitem">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        args="delete"
                        property="org.wcs.smart.query.editable">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.query.ui.querylist.AddFolderHandler$AddFolderHandlerWrapper"
            commandId="org.wcs.smart.query.folder.add">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        args="newfolder"
                        property="org.wcs.smart.query.editable">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.query.ui.querylist.RenameHandler$RenameHandlerWrapper"
            commandId="org.wcs.smart.query.folder.rename">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        args="rename"
                        property="org.wcs.smart.query.editable">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.query.ui.importexport.ImportQueryHandler$ImportQueryHandlerWrapper"
            commandId="org.wcs.smart.query.import">
      </handler>
      <handler
            class="org.wcs.smart.query.ui.CreateUnknownQueryHandler$CreateUnknownQueryHandlerWrapper"
            commandId="org.wcs.smart.query.create.unknown">
      </handler>
      <handler
            class="org.wcs.smart.query.ui.querylist.OpenQueryHandler$OpenQueryHandlerWrapper"
            commandId="org.wcs.smart.query.open">
      </handler>
      <handler
            class="org.wcs.smart.query.ui.querylist.TranslateNamesHandler$TranslateNamesHandlerWrapper"
            commandId="org.wcs.smart.query.translate">
      </handler>
      <handler
            class="org.wcs.smart.query.ui.importexport.ExportQueryDefHandler$ExportQueryDefHandlerWrapper"
            commandId="org.wcs.smart.query.exportmulti">
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.query.model.QueryFolder"
            supportsCcaa="true">
      </class>
      <class
            class="org.wcs.smart.query.model.Query"
            supportsCcaa="true">
      </class>
      <class
            class="org.wcs.smart.query.common.model.CompoundMapQuery"
            supportsCcaa="true">
      </class>
      <class
            ca_property=".mapQuery.conservationArea"
            class="org.wcs.smart.query.common.model.CompoundMapQueryLayer"
            supportsCcaa="true">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.ca.deleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.query.QueryEmployeeDeleteAdvisor"
            class="org.wcs.smart.ca.Employee">
      </DeleteAdvisor>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.query.QueryTemplateCloner"
            id="org.wcs.smart.QueryCloner">
         <require
               id="org.wcs.smart.patrolCloner">
         </require>
         <require
               id="org.wcs.smart.conservationAreaCloner">
         </require>
      </templateCloner>
   </extension>
   <extension
         point="org.wcs.smart.query.export.format">
      <Exporter
            class="org.wcs.smart.query.common.importexport.CsvSummaryExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.query.common.importexport.CsvSimpleQueryExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.query.common.importexport.GridTiffImageExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.query.common.importexport.GridArcImageExporter">
      </Exporter>
   </extension>
   <extension
         point="org.locationtech.udig.project.renderer">
      <renderer
            class="org.wcs.smart.query.udig.render.SmartMemoryGridCoverageMetricsFactory"
            id="org.wcs.smart.udig.render.SmartGridRenderer"
            name="SMART Raster Renderer">
      </renderer>
   </extension>
   <extension
         point="org.locationtech.udig.style.styleConfigurator">
      <styleConfigurator
            class="org.wcs.smart.query.udig.render.SmartGridCellStyleConfigurator"
            id="gridcell"
            label="%styleConfigurator.label"
            requires="org.wcs.smart.query.common.model.GriddedQuery"
            styleId="org.locationtech.udig.style.sld">
      </styleConfigurator>
   </extension>
   <extension
         point="org.wcs.smart.query.queryType">
      <QueryCategory
            html_description="&lt;p style=&quot;font-family:Verdana; font-size:12px; font-weight:bold;&quot;&gt;Compound Queries&lt;/p&gt;&lt;p style=&quot;font-family:Verdana; font-size:11px&quot;&gt;Displays results of multiple existing queries on a single map.  Date ranges and styles of individual queries are customizable.&lt;/p&gt;&lt;/p&gt;"
            id="org.wcs.smart.query.type.compound"
            name="Compound Query">
      </QueryCategory>
      <QueryType
            QueryCategory="org.wcs.smart.query.type.compound"
            class="org.wcs.smart.query.model.types.CompoundMapQueryType"
            executor="org.wcs.smart.query.compound.engine.CompoundQueryEngine">
         <DefinitionPanel
               id="org.wcs.smart.query.compound.definition"
               itemPanelId="org.wcs.smart.query.compound.querylist">
         </DefinitionPanel>
      </QueryType>
   </extension>
   <extension
         point="org.wcs.smart.query.queryDefinitionPanel">
      <QueryDefinitionPanel
            id="org.wcs.smart.query.compound.definition"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.query.compound.ui.CompoundDefinitionPanel">
      </QueryDefinitionPanel>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.query.ui.editor.CompoundQueryEditor"
            default="false"
            icon="images/icons/obj16/compound_query.png"
            id="org.wcs.smart.query.editor.compound"
            name="Compound Query Editor">
      </editor>
   </extension>
   <extension
         point="org.wcs.smart.query.queryItemPanel">
      <QueryItemPanel
            id="org.wcs.smart.query.compound.querylist"
            panel="org.wcs.smart.query.compound.ui.QueryListItemPanel">
      </QueryItemPanel>
   </extension>


</plugin>
