<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.report.birt.query.queryDataset">
      <QueryTypeDataset
            class="org.wcs.smart.er.query.report.query.SurveyReportQuery"
            queryTypeKey="surveyobservation">
      </QueryTypeDataset>
      <QueryTypeDataset
            class="org.wcs.smart.er.query.report.query.SurveyReportQuery"
            queryTypeKey="surveywaypoint">
      </QueryTypeDataset>
      <QueryTypeDataset
            class="org.wcs.smart.er.query.report.query.SurveyReportQuery"
            queryTypeKey="surveymission">
      </QueryTypeDataset>
      <QueryTypeDataset
            class="org.wcs.smart.er.query.report.query.SurveyReportQuery"
            metadataProvider="org.wcs.smart.er.query.report.query.SummaryMetadataProvider"
            queryTypeKey="surveysummary">
      </QueryTypeDataset>
      <QueryTypeDataset
            class="org.wcs.smart.er.query.report.query.SurveyReportQuery"
            queryTypeKey="surveygrid">
      </QueryTypeDataset>
      <QueryTypeDataset
            class="org.wcs.smart.er.query.report.query.SurveyReportQuery"
            queryTypeKey="surveymissiontrack">
      </QueryTypeDataset>
   </extension>
   <extension
         point="org.wcs.smart.report.birt.maplayer">
      <MapLayer
            maplayer="org.wcs.smart.er.query.report.map.QueryMapLayer">
      </MapLayer>
      <MapLayer
            maplayer="org.wcs.smart.er.query.report.table.SurveySamplingUnitMapLayer">
      </MapLayer>
   </extension>
   <extension
         point="org.wcs.smart.data.oda.smart.table">
      <TableCategory
            icon="images/icons/obj16/sampling_unit.png"
            id="org.wcs.smart.er.query.report.table.samplingunit"
            name="%samplingunit.tablecategory.name">
      </TableCategory>
      <TableCategory
            icon="images/icons/obj16/survey_design.png"
            id="org.wcs.smart.er.query.report.table.properties"
            name="%properties.tablecategory.name">
      </TableCategory>
      <DynamicTable
            category="org.wcs.smart.er.query.report.table.properties"
            class="org.wcs.smart.er.query.report.table.SurveyPropertyTables"
            supportsCcaa="false">
      </DynamicTable>
      <DynamicTable
            category="org.wcs.smart.er.query.report.table.samplingunit"
            class="org.wcs.smart.er.query.report.table.SurveySamplingUnitTables"
            supportsCcaa="false">
      </DynamicTable>
      <ImageProvider
            class="org.wcs.smart.er.query.report.TableImageProvider">
      </ImageProvider>
   </extension>

</plugin>
