<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.paws.plugin.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.paws.plugin.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrade">
      <dbUpgrader
            upgrader="org.wcs.smart.paws.plugin.PawsDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.wcs.smart.changeLogInstaller">
      <ChangeLogTracker
            clazz="org.wcs.smart.paws.plugin.ChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.libs.mapping">
      <class
            class="org.wcs.smart.paws.model.PawsConfiguration"
            supportsCcaa="true">
      </class>
      <class
            ca_property=".configuration.conservationArea"
            class="org.wcs.smart.paws.model.PawsParameter"
            supportsCcaa="true">
      </class>
      <class
            ca_property=".configuration.conservationArea"
            class="org.wcs.smart.paws.model.PawsQueryClass"
            supportsCcaa="true">
      </class>
      <class
            class="org.wcs.smart.paws.model.PawsRun"
            supportsCcaa="true">
      </class>
      <class
            class="org.wcs.smart.paws.model.PawsService"
            supportsCcaa="true">
      </class>
      <class
            ca_property=".configuration.conservationArea"
            class="org.wcs.smart.paws.model.PawsSimpleClass"
            supportsCcaa="true">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.caTemplateCloner">
      <templateCloner
            class="org.wcs.smart.paws.plugin.CaTemplateCloner"
            id="org.wcs.smart.paws.caclone">
         <require
               id="org.wcs.smart.QueryCloner">
         </require>
         <require
               id="org.wcs.smart.query.*">
         </require>
      </templateCloner>
   </extension>
   <extension
         point="org.wcs.smart.caFilestoreDir">
      <FilestoreDirectory
            directory="paws">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.wcs.smart.paws.ui.PawsView$PawsViewWrapper"
            icon="images/icons/paws.png"
            id="org.wcs.smart.paws.view"
            name="%paws.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.wcs.smart.query.persepectives.single">
         <view
               closeable="false"
               id="org.wcs.smart.paws.view"
               minimized="false"
               relationship="stack"
               relative="org.wcs.smart.query.parts.itemlist"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.wcs.smart.query.persepectives.multi">
         <view
               closeable="false"
               id="org.wcs.smart.paws.view"
               minimized="false"
               relationship="stack"
               relative="org.wcs.smart.query.parts.itemlist"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.paws.ui.config.ConfigurationEditor"
            default="false"
            icon="images/icons/config.png"
            id="org.wcs.smart.paws.configuration.editor"
            name="%config.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.paws.ui.run.RunEditor"
            default="false"
            icon="images/icons/paws.png"
            id="org.wcs.smart.paws.run.editor"
            name="%run.editor.name">
      </editor>
   </extension>
   <extension
         point="org.wcs.smart.caLogin">
      <loginHandler
            clazz="org.wcs.smart.paws.LoginHandler">
      </loginHandler>
   </extension>
   <extension
         point="org.locationtech.udig.catalog.ServiceExtension">
      <service
            class="org.wcs.smart.paws.udig.PawsServiceExtension"
            id="&quot;org.wcs.smart.udig.catalog.pawsService"
            name="%udig.service.name">
      </service>
   </extension>
   <extension
         point="org.locationtech.udig.catalog.ui.connectionFactory">
      <factory
            class="org.wcs.smart.paws.udig.PawsConnectionFactory"
            id="org.wcs.smart.udig.catalog.paws">
      </factory>
      <wizardPage
            banner="images/icons/paws.png"
            class="org.wcs.smart.paws.udig.PawsWizardPage"
            description="%all.wizardPage.description"
            icon="images/icons/paws.png"
            id="org.wcs.smart.udig.catalog.paws"
            name="%all.wizardPage.name">
      </wizardPage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.wcs.smart.paws.ui.SettingsPreferencePage"
            id="org.wcs.smart.paws.preference.settings"
            name="%pawssettings.page.name">
      </page>
   </extension>

</plugin>
