<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.cybertracker.menu?before=org.wcs.smart.cybertracker.surveyseparator">
         <command
               commandId="org.wcs.smart.cybertracker.survey.export"
               label="%command.cybertracker.survey.export.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.cybertracker.menu?before=org.wcs.smart.cybertracker.surveymetaseparator">
         <command
               commandId="org.wcs.smart.er.missionScreens"
               label="%command.cybertracker.survey.meta.export.label"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.cybertracker.survey.export"
            name="%command.cybertracker.survey.export.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.cybertracker.survey.handler.SurveyCTExportHandler$SurveyCTExportHandlerWrapper"
            commandId="org.wcs.smart.cybertracker.survey.export">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.cybertracker.survey.export"
            icon="images/etool16/export.png">
      </image>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.datasource">
      <datasource
            dataBuilder="org.wcs.smart.cybertracker.survey.importer.SurveyCTDataBuilder"
            importEditorContent="org.wcs.smart.cybertracker.survey.importer.SurveyCTImportEditorContent"
            name="survey">
      </datasource>
   </extension>

</plugin>
