<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.qa">
      <data_provider
            class="org.wcs.smart.qa.patrol.routine.PatrolWaypointDataProvider">
         <qa_action
               class="org.wcs.smart.qa.patrol.ui.OpenSourcePatrolAction">
         </qa_action>
         <qa_action
               class="org.wcs.smart.qa.patrol.ui.EditWaypointAction">
         </qa_action>
         <qa_action
               class="org.wcs.smart.qa.patrol.ui.DeletePatrolWaypointAction">
         </qa_action>
      </data_provider>
      <data_provider
            class="org.wcs.smart.qa.patrol.routine.PatrolTrackDataProvider">
         <qa_action
               class="org.wcs.smart.qa.patrol.ui.OpenSourcePatrolAction">
         </qa_action>
         <qa_action
               class="org.wcs.smart.qa.patrol.ui.DeletePatrolTrackAction">
         </qa_action>
         <qa_action
               class="org.wcs.smart.qa.patrol.ui.EditTrackAction">
         </qa_action>
      </data_provider>
      <qa_routine
            class="org.wcs.smart.qa.patrol.routine.PatrolSpeedRoutineType">
         <parameter_collector
               class="org.wcs.smart.qa.patrol.ui.PatrolSpeedParameterCollector">
         </parameter_collector>
      </qa_routine>
   </extension>

</plugin>
