<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.data.ods.smart.table">
      <class
            SmartBirtTable="org.wcs.smart.reporttable.ca.EmployeeTable">
      </class>
      <class
            SmartBirtTable="org.wcs.smart.reporttable.ca.AgencyRankTable">
      </class>
      <class
            SmartBirtTable="org.wcs.smart.reporttable.ca.StationTable"></class>
      <class
            SmartBirtTable="org.wcs.smart.reporttable.patrol.PatrolMandateTable">
      </class>
      <class
            SmartBirtTable="org.wcs.smart.reporttable.patrol.PatrolTransportTable">
      </class>
      <class
            SmartBirtTable="org.wcs.smart.reporttable.patrol.TeamTable">
      </class>
      <class
            SmartBirtTable="org.wcs.smart.reporttable.ca.CaTable">
      </class>
   </extension>

</plugin>
