<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.data.oda.smart.table">
      <TableCategory
            icon="images/icons/obj16/smart16.gif"
            id="org.wcs.smart.ca.tables"
            name="Conservation Area Tables">
      </TableCategory>
      <StaticTable
            category="org.wcs.smart.ca.tables"
            class="org.wcs.smart.reporttable.ca.EmployeeTable">
      </StaticTable>
      <StaticTable
            category="org.wcs.smart.ca.tables"
            class="org.wcs.smart.reporttable.ca.AgencyRankTable">
      </StaticTable>
      <StaticTable
            category="org.wcs.smart.ca.tables"
            class="org.wcs.smart.reporttable.ca.StationTable">
      </StaticTable>
      <StaticTable
            category="org.wcs.smart.ca.tables"
            class="org.wcs.smart.reporttable.patrol.PatrolMandateTable">
      </StaticTable>
      <StaticTable
            category="org.wcs.smart.ca.tables"
            class="org.wcs.smart.reporttable.patrol.PatrolTransportTable">
      </StaticTable>
      <StaticTable
            category="org.wcs.smart.ca.tables"
            class="org.wcs.smart.reporttable.patrol.TeamTable">
      </StaticTable>
      <StaticTable
            category="org.wcs.smart.ca.tables"
            class="org.wcs.smart.reporttable.ca.CaTable">
      </StaticTable>
   </extension>

</plugin>
