<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.cybertracker.menu?before=org.wcs.smart.cybertracker.patrolseparator">
         <command
               commandId="org.wcs.smart.cybertracker.patrol.export"
               label="%command.cybertracker.patrol.export.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.cybertracker.menu?before=org.wcs.smart.cybertracker.patrolmetaseparator">
         <command
               commandId="org.wcs.smart.patrol.patrolScreens"
               label="%command.cybertracker.patrol.meta.export.label"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.cybertracker.patrol.export"
            name="%command.cybertracker.patrol.export.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.cybertracker.patrol.handler.PatrolCTExportHandler$PatrolCTExportHandlerWrapper"
            commandId="org.wcs.smart.cybertracker.patrol.export">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.cybertracker.patrol.export"
            icon="images/etool16/export.png">
      </image>
   </extension>

</plugin>
