<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.query.queryType">
      <QueryCategory
            html_description="%query.category.entities.description"
            id="org.wcs.smart.entity.query.group.EntityQuery"
            name="%query.category.entities.name">
      </QueryCategory>
      <QueryType
            QueryCategory="org.wcs.smart.entity.query.group.EntityQuery"
            class="org.wcs.smart.entity.query.model.type.EntityGridQueryType">
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.grid"
               itemPanelId="org.wcs.smart.entity.query.GriddedItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.filter"
               itemPanelId="org.wcs.smart.entity.query.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.entity.query.group.EntityQuery"
            class="org.wcs.smart.entity.query.model.type.EntitySummaryQueryType">
         <DefinitionPanel
               id="org.wcs.smart.entity.query.SummaryGroupByValuePanel"
               itemPanelId="org.wcs.smart.entity.query.summaryItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.filter"
               itemPanelId="org.wcs.smart.entity.query.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.entity.query.group.EntityQuery"
            class="org.wcs.smart.entity.query.model.type.EntityObservationQueryType">
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.filter"
               itemPanelId="org.wcs.smart.entity.query.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.entity.query.group.EntityQuery"
            class="org.wcs.smart.entity.query.model.type.EntityWaypointQueryType">
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.filter"
               itemPanelId="org.wcs.smart.entity.query.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
   </extension>
   <extension
         point="org.wcs.smart.query.queryItemPanel">
      <QueryItemPanel
            id="org.wcs.smart.entity.query.summaryItemPanel"
            panel="org.wcs.smart.entity.query.ui.itempanel.EntitySummaryItemPanel">
      </QueryItemPanel>
      <QueryItemPanel
            id="org.wcs.smart.entity.query.GriddedItemPanel"
            panel="org.wcs.smart.entity.query.ui.itempanel.EntityGriddedItemPanel">
      </QueryItemPanel>
      <QueryItemPanel
            id="org.wcs.smart.entity.query.filterPanel"
            panel="org.wcs.smart.entity.query.ui.itempanel.EntityQueryFilterPanel">
      </QueryItemPanel>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.entity.query.ui.SimpleQueryEditor"
            default="false"
            id="org.wcs.smart.entity.editor.simple"
            name="%org.wcs.smart.entity.editor.simple.name">
      </editor>
      <editor
            class="org.wcs.smart.entity.query.ui.EntitySummaryQueryEditor"
            default="false"
            id="org.wcs.smart.entity.editor.summary"
            name="%org.wcs.smart.entity.editor.summary.name">
      </editor>
      <editor
            class="org.wcs.smart.entity.query.ui.EntityGriddedQueryEditor"
            default="false"
            id="org.wcs.smart.entity.editor.gridded"
            name="%org.wcs.smart.entity.editor.gridded.name">
      </editor>
   </extension>
   <extension
         point="org.wcs.smart.query.queryDefinitionPanel">
      <QueryDefinitionPanel
            id="org.wcs.smart.entity.query.SummaryGroupByValuePanel"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.entity.query.ui.definition.EntitySummaryGroupByValuePanel">
      </QueryDefinitionPanel>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.entity.query.model.EntityObservationQuery">
      </class>
      <class
            class="org.wcs.smart.entity.query.model.EntityGriddedQuery">
      </class>
      <class
            class="org.wcs.smart.entity.query.model.EntityWaypointQuery">
      </class>
      <class
            class="org.wcs.smart.entity.query.model.EntitySummaryQuery">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.entity.query.internal.EntityQueryTemplateCloner"
            id="org.wcs.smart.entity.query.Cloner">
         <require
               id="org.wcs.smart.QueryCloner">
         </require>
      </templateCloner>
   </extension>
   <extension
         point="org.wcs.smart.query.export.format">
      <Exporter
            class="org.wcs.smart.entity.query.exportimport.EntityGridQueryDefinitionExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.entity.query.exportimport.EntityShapeQueryExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.entity.query.exportimport.EntitySimpleQueryDefinitionExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.entity.query.exportimport.EntitySummaryQueryDefinitionExporter">
      </Exporter>
   </extension>
   <extension
         point="org.wcs.smart.query.import">
      <QueryImporter
            class="org.wcs.smart.entity.query.exportimport.EntityGriddedQueryDefImporter">
      </QueryImporter>
      <QueryImporter
            class="org.wcs.smart.entity.query.exportimport.EntitySimpleQueryDefinitionImporter">
      </QueryImporter>
      <QueryImporter
            class="org.wcs.smart.entity.query.exportimport.EntitySummaryQueryDefinitionImporter">
      </QueryImporter>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.query.createQuery?before=org.wcs.smart.query.createunknown.separator2">
         <menu
               icon="images/icons/obj16/entitytype.png"
               id="org.wcs.smart.menu.query.createquery.entityqueries"
               label="%entityquery.menu.name"
               tooltip="%new.entityqueries.tooltip">
            <command
                  commandId="org.wcs.smart.query.createUnknownQuery"
                  icon="images/icons/obj16/entity_observation_query.png"
                  label="%new.observation.query.name"
                  style="pulldown"
                  tooltip="%new.observation.query.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="entityobservation">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.createUnknownQuery"
                  icon="images/icons/obj16/entity_waypoint_query.png"
                  label="%new.incident.query.name"
                  style="push"
                  tooltip="%new.incident.query.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="entitywaypoint">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.createUnknownQuery"
                  icon="images/icons/obj16/entity_summary_query.png"
                  label="%new.summary.query.name"
                  style="push"
                  tooltip="%new.summary.query.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="entitysummary">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.createUnknownQuery"
                  icon="images/icons/obj16/entity_gridded_query.png"
                  label="%new.gridded.query.name"
                  style="push"
                  tooltip="%new.gridded.query.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="entitygrid">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.query.newquery?before=org.wcs.smart.query.newquery.separator2">
         <menu
               icon="images/icons/obj16/entitytype.png"
               id="org.wcs.smart.menu.query.newquery.entityqueries"
               label="%entityquery.menu.name"
               tooltip="%new.entityqueries.tooltip">
            <command
                  commandId="org.wcs.smart.query.createUnknownQuery"
                  icon="images/icons/obj16/entity_observation_query.png"
                  label="%new.observation.query.name"
                  style="pulldown"
                  tooltip="%new.observation.query.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="entityobservation">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.createUnknownQuery"
                  icon="images/icons/obj16/entity_waypoint_query.png"
                  label="%new.incident.query.name"
                  style="push"
                  tooltip="%new.incident.query.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="entitywaypoint">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.createUnknownQuery"
                  icon="images/icons/obj16/entity_summary_query.png"
                  label="%new.summary.query.name"
                  style="push"
                  tooltip="%new.summary.query.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="entitysummary">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.createUnknownQuery"
                  icon="images/icons/obj16/entity_gridded_query.png"
                  label="%new.gridded.query.name"
                  style="push"
                  tooltip="%new.gridded.query.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="entitygrid">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.wcs.smart.query.property">
      <queryproperty
            propertyName="%querycolumns.property.name"
            propertyProvider="org.wcs.smart.entity.query.ui.ColumnQueryPropertyProvider">
      </queryproperty>
   </extension>

</plugin>
