<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.report.exporter" name="Report Exporter" schema="schema/org.wcs.smart.report.exporter.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.report.ShowReportDesigner"
            name="Show Report Designer">
      </command>
      <command
            id="org.wcs.smart.report.ShowReportViewer"
            name="Show Report Viewer">
      </command>
      <command
            id="org.wcs.smart.report.editReport"
            name="Edit Report">
      </command>
      <command
            id="org.wcs.smart.report.newFolder"
            name="New Folder">
      </command>
      <command
            id="org.wcs.smart.report.renameReportItem"
            name="Rename">
      </command>
      <command
            id="org.wcs.smart.report.deleteReportItem"
            name="Delete ">
      </command>
      <command
            id="org.wcs.smart.report.newReport"
            name="New Report">
      </command>
      <command
            id="org.wcs.smart.report.runReport"
            name="Run Report">
      </command>
      <command
            id="org.wcs.smart.report.exportReport"
            name="Export Report">
      </command>
      <command
            id="org.wcs.smart.report.importReport"
            name="Import Report">
      </command>
      <command
            id="org.wcs.smart.report.exportLibrary"
            name="Export Library">
      </command>
      <command
            id="org.wcs.smart.report.importLibrary"
            name="Import Library">
      </command>
      <command
            id="org.wcs.smart.report.editLibrary"
            name="Edit Library">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.report.internal.ui.ShowDesignHandler"
            commandId="org.wcs.smart.report.ShowReportDesigner">
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.ShowReportViewerPerspectiveHandler"
            commandId="org.wcs.smart.report.ShowReportViewer">
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.EditReportHandler"
            commandId="org.wcs.smart.report.editReport">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        args="edit"
                        property="org.wcs.smart.report.menu.editable">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.NewFolderHandler"
            commandId="org.wcs.smart.report.newFolder">
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.RenameReportItem"
            commandId="org.wcs.smart.report.renameReportItem">
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.DeleteReportItemHandler"
            commandId="org.wcs.smart.report.deleteReportItem">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        args="delete"
                        property="org.wcs.smart.report.menu.editable">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.NewReportHandler"
            commandId="org.wcs.smart.report.newReport">
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.RunReportHandler"
            commandId="org.wcs.smart.report.runReport">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.wcs.smart.report.model.Report">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.ExportReportHandler"
            commandId="org.wcs.smart.report.exportReport">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.wcs.smart.report.model.Report">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.ImportReportHandler"
            commandId="org.wcs.smart.report.importReport">
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.ImportLibraryHandler"
            commandId="org.wcs.smart.report.importLibrary">
         <enabledWhen>
            <and>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.report.ReportPerspective">
                  </equals>
               </with>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.ExportLibraryHandler"
            commandId="org.wcs.smart.report.exportLibrary">
         <enabledWhen>
            <and>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.report.ReportPerspective">
                  </equals>
               </with>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.EditLibraryHandler"
            commandId="org.wcs.smart.report.editLibrary">
         <enabledWhen>
            <and>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.report.ReportPerspective">
                  </equals>
               </with>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </and>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?before=org.wcs.smart.resetSeparator">
         <command
               commandId="org.wcs.smart.report.ShowReportViewer"
               icon="images/icons/etool16/report_view.png"
               label="Show Reports"
               mnemonic="R"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="analyst">
                  </test>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.wcs.smart.report.ReportListView">
         <command
               commandId="org.wcs.smart.report.newFolder"
               icon="images/icons/etool16/folder_add.png"
               label="New Folder..."
               style="push"
               tooltip="Adds a sub folder">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="newfolder"
                           property="org.wcs.smart.report.menu.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.query.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.report.runReport"
               label="Run Report"
               mnemonic="R"
               style="push"
               tooltip="Run the selected reports">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.wcs.smart.report.model.Report">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.query.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.report.editReport"
               label="Edit Report"
               mnemonic="e"
               style="push"
               tooltip="Edit the selected report">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="edit"
                           property="org.wcs.smart.report.menu.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.report.exportReport"
               label="Export Report"
               style="push"
               tooltip="Run and export the selected reports">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="export"
                           property="org.wcs.smart.report.menu.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.report.renameReportItem"
               label="Rename..."
               style="push"
               tooltip="Rename the folder/report">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="rename"
                           property="org.wcs.smart.report.menu.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.query.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.report.deleteReportItem"
               label="Delete"
               style="push"
               tooltip="Delete the selected items">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="delete"
                           property="org.wcs.smart.report.menu.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.report.ReportListView">
         <command
               commandId="org.wcs.smart.report.deleteReportItem"
               label="Delete"
               mnemonic="D"
               style="push"
               tooltip="Delete the selected items">
         </command>
         <command
               commandId="org.wcs.smart.report.newReport"
               label="New Report"
               mnemonic="N"
               style="push"
               tooltip="Creates a new report">
         </command>
         <command
               commandId="org.wcs.smart.report.editReport"
               label="Edit Report"
               mnemonic="E"
               style="push"
               tooltip="Edit the selected report">
         </command>
         <command
               commandId="org.wcs.smart.report.exportReport"
               label="Export Report"
               style="push"
               tooltip="Run and export the selected reports">
         </command>
         <command
               commandId="org.wcs.smart.report.runReport"
               label="Run Report"
               mnemonic="R"
               style="push"
               tooltip="Run the selected reports">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.wcs.smart.report.edit.toolbar">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  mnemonic="S"
                  style="push"
                  tooltip="Save ">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.wcs.smart.report.ReportPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="Save"
                  mnemonic="S"
                  style="push"
                  tooltip="Save ">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.wcs.smart.report.ReportPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.file?before=org.wcs.menu.file.changeuserpassword">
         <separator
               name="org.wcs.smart.report.file.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.save"
               id="org.wcs.smart.query.save.toolbar"
               label="Save"
               mnemonic="S"
               tooltip="Save the report definition">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.report.ReportPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.saveAs"
               label="Save Report As"
               mnemonic="A"
               tooltip="Saves a copy of the report">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.report.ReportPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.report.file.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.menu.query">
         <menu
               id="org.wcs.smart.report"
               label="Report"
               mnemonic="R">
            <command
                  commandId="org.wcs.smart.report.newReport"
                  mnemonic="N"
                  style="push"
                  tooltip="Creates a new report">
            </command>
            <command
                  commandId="org.wcs.smart.report.importReport"
                  mnemonic="m"
                  style="push"
                  tooltip="Import a report">
            </command>
            <separator
                  name="org.wcs.smart.report.separator3"
                  visible="true">
            </separator>
            <menu
                  id="org.wcs.smart.report.library"
                  label="Library"
                  mnemonic="L">
               <command
                     commandId="org.wcs.smart.report.editLibrary"
                     style="push"
                     tooltip="Edit the report library">
               </command>
               <separator
                     name="org.wcs.smart.report.separator4"
                     visible="true">
               </separator>
               <command
                     commandId="org.wcs.smart.report.exportLibrary"
                     mnemonic="x"
                     style="push"
                     tooltip="Export report library and shared resources">
               </command>
               <command
                     commandId="org.wcs.smart.report.importLibrary"
                     mnemonic="i"
                     style="push"
                     tooltip="Import report library and shared resources">
               </command>
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.wcs.smart.report.ReportPerspective">
                        </equals>
                     </with>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </menu>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="analyst">
                  </test>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wcs.smart.report.internal.ui.designer.SmartReportPerspective"
            id="org.wcs.smart.report.ReportPerspective"
            name="Report Editor Perspective">
      </perspective>
      <perspective
            class="org.wcs.smart.report.internal.ui.ReportViewerPerspective"
            id="org.wcs.smart.report.ReportViewerPerspective"
            name="Report Viewer Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.report.internal.ui.designer.RCPMultiPageReportEditor"
            default="true"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/report.gif"
            id="org.eclipse.birt.report.designer.ui.editors.ReportEditor"
            name="SMART Report Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.birt.report.designer.ui.editors.reportdesign">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.wcs.smart.report.internal.ui.designer.RCPMultiPageReportEditor"
            default="true"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/library.gif"
            id="org.eclipse.birt.report.designer.ui.editors.LibraryEditor"
            name="SMART Report Library">
         <contentTypeBinding
               contentTypeId="org.eclipse.birt.report.designer.ui.editors.reportlibrary">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.report.model.ReportFolder">
      </class>
      <class
            class="org.wcs.smart.report.model.Report">
      </class>
      <class
            ca_property=".id.report.conservationArea"
            class="org.wcs.smart.report.model.ReportQuery">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.wcs.smart.report.internal.ui.ReportListView"
            icon="images/icons/obj16/report.png"
            id="org.wcs.smart.report.ReportListView"
            name="Report List"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.wcs.smart.report.internal.ui.viewer.ReportView"
            icon="images/icons/obj16/report.png"
            id="org.wcs.smart.birt.ReportView"
            name="Report View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.wcs.smart.report.internal.ui.ReportItemEditablePropertyTester"
            id="org.wcs.smart.report.MenuItemVisible"
            namespace="org.wcs.smart.report.menu"
            properties="editable"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.wcs.smart.report.model.ReportFolder"
            class="org.wcs.smart.report.ui.ReportModelAdapterFactory">
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.wcs.smart.report.model.RootReportFolder"
            class="org.wcs.smart.report.ui.ReportModelAdapterFactory">
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.report.runReport"
            icon="images/icons/etool16/report_run.png">
      </image>
      <image
            commandId="org.wcs.smart.report.exportReport"
            icon="images/icons/etool16/report_export.png">
      </image>
      <image
            commandId="org.wcs.smart.report.deleteReportItem"
            icon="images/icons/etool16/delete.png">
      </image>
      <image
            commandId="org.wcs.smart.report.newReport"
            icon="images/icons/etool16/report_new.png">
      </image>
      <image
            commandId="org.wcs.smart.report.editReport"
            icon="images/icons/etool16/report_edit.png">
      </image>
      <image
            commandId="org.wcs.smart.report.importReport"
            icon="images/icons/etool16/report_import.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.birt.core.ScriptFunctionService">
      <Category
            factoryclass="org.wcs.smart.report.birt.function.SmartCategoryFactory"
            name="SmartFunctions">
         <Function
               desc="The current logged in smart user"
               name="SmartUser">
            <DataType
                  value="String">
            </DataType>
         </Function>
         <Function
               desc="The conservation area name"
               isConstructor="false"
               isStatic="true"
               isVisible="true"
               name="ConservationAreaName"
               variableArguments="false">
         </Function>
         <Function
               desc="The conservation area identifier"
               isConstructor="false"
               isStatic="true"
               isVisible="true"
               name="ConservationAreaId"
               variableArguments="false">
         </Function>
      </Category>
   </extension>
   <extension
         point="org.wcs.smart.query.property">
      <queryproperty
            propertyName="Reports"
            propertyProvider="org.wcs.smart.report.QueryReportPropertyProvider">
      </queryproperty>
   </extension>
   <extension
         point="org.wcs.smart.report.exporter">
      <exporter
            class="org.wcs.smart.report.export.internal.ReportDefintionExporter">
      </exporter>
   </extension>
   <extension
         point="org.wcs.smart.ca.deleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.report.internal.advisor.EmployeeDeleteAdvisor"
            class="org.wcs.smart.ca.Employee">
      </DeleteAdvisor>
   </extension>
</plugin>
