<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.report.exporter" name="Report Exporter" schema="schema/org.wcs.smart.report.exporter.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.report.editReport"
            name="%editreport.command.name">
      </command>
      <command
            id="org.wcs.smart.report.newFolder"
            name="%newfolder.command.name">
      </command>
      <command
            id="org.wcs.smart.report.renameReportItem"
            name="%rename.command.name">
      </command>
      <command
            id="org.wcs.smart.report.deleteReportItem"
            name="%delete.command.name ">
      </command>
      <command
            id="org.wcs.smart.report.newReport"
            name="%newreport.command.name">
      </command>
      <command
            id="org.wcs.smart.report.runReport"
            name="%runreport.command.name">
      </command>
      <command
            id="org.wcs.smart.report.exportReport"
            name="%exportreport.command.name">
         <commandParameter
               id="org.wcs.smart.report.export.parameter.isMultiple"
               name="MultipleReports"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="org.wcs.smart.report.importReport"
            name="%importreport.command.name">
      </command>
      <command
            id="org.wcs.smart.report.exportLibrary"
            name="%exportlibrary.command.name">
      </command>
      <command
            id="org.wcs.smart.report.importLibrary"
            name="%importlibrary.command.name">
      </command>
      <command
            id="org.wcs.smart.report.editLibrary"
            name="%editlibrary.command.name">
      </command>
      <command
            id="org.wcs.smart.report.translateItem"
            name="%translate.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.report.internal.ui.EditReportHandler$EditReportHandlerWrapper"
            commandId="org.wcs.smart.report.editReport">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        args="edit"
                        property="org.wcs.smart.report.menu.editable">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.NewFolderHandler$NewFolderHandlerWrapper"
            commandId="org.wcs.smart.report.newFolder">
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.RenameReportItem$RenameReportItemWrapper"
            commandId="org.wcs.smart.report.renameReportItem">
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.DeleteReportItemHandler$DeleteReportItemHandlerWrapper"
            commandId="org.wcs.smart.report.deleteReportItem">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        args="delete"
                        property="org.wcs.smart.report.menu.editable">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.NewReportHandler$NewReportHandlerWrapper"
            commandId="org.wcs.smart.report.newReport">
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.RunReportHandler$RunReportHandlerWrapper"
            commandId="org.wcs.smart.report.runReport">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.wcs.smart.report.model.Report">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.ExportReportHandler$ExportReportHandlerWrapper"
            commandId="org.wcs.smart.report.exportReport">
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.ImportReportHandler$ImportReportHandlerWrapper"
            commandId="org.wcs.smart.report.importReport">
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.ImportLibraryHandler$ImportLibraryHandlerWrapper"
            commandId="org.wcs.smart.report.importLibrary">
         <enabledWhen>
            <and>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.report.ReportPerspective">
                  </equals>
               </with>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.ExportLibraryHandler$ExportLibraryHandlerWrapper"
            commandId="org.wcs.smart.report.exportLibrary">
         <enabledWhen>
            <and>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.report.ReportPerspective">
                  </equals>
               </with>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.EditLibraryHandler$EditLibraryHandlerWrapper"
            commandId="org.wcs.smart.report.editLibrary">
         <enabledWhen>
            <and>
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.report.ReportPerspective">
                  </equals>
               </with>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.report.internal.ui.TranslateNamesHandler$TranslateNamesHandlerWrapper"
            commandId="org.wcs.smart.report.translateItem">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?after=org.wcs.smart.query.menu.view">
         <command
               commandId="org.wcs.smart.command.showperspective"
               icon="images/icons/etool16/report_view.png"
               id="org.wcs.smart.query.toolbar.report"
               label="%showreportperspective.menu.label"
               mnemonic="%showreportperspective.menu.mnemonic"
               style="pulldown"
               tooltip="%showreportperspective.menu.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="analyst">
                  </test>
               </or>
            </visibleWhen>
            <parameter
                  name="org.wcs.smart.perspectiveid"
                  value="org.wcs.smart.report.ReportViewerPerspective">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.wcs.smart.report.ReportListView">
         <command
               commandId="org.wcs.smart.report.newFolder"
               icon="images/icons/etool16/folder_add.png"
               label="%reportlist.popupmenu.newfolder.command.name"
               mnemonic="%reportlist.popupmenu.newfolder.command.mnemonic"
               style="push"
               tooltip="%reportlist.popupmenu.newfolder.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="newfolder"
                           property="org.wcs.smart.report.menu.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.query.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.report.runReport"
               label="%reportlist.popupmenu.runreport.command.name"
               mnemonic="%reportlist.popupmenu.runreport.command.mnemonic"
               style="push"
               tooltip="%reportlist.popupmenu.runreport.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.wcs.smart.report.model.Report">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.query.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.report.editReport"
               label="%reportlist.popupmenu.editreport.command.name"
               mnemonic="%reportlist.popupmenu.editreport.command.mnemonic"
               style="push"
               tooltip="%reportlist.popupmenu.editreport.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="edit"
                           property="org.wcs.smart.report.menu.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.report.exportReport"
               label="%reportlist.popupmenu.exportreport.command.name"
               mnemonic="%reportlist.popupmenu.exportreport.command.mnemonic"
               style="push"
               tooltip="%reportlist.popupmenu.exportreport.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="export"
                           property="org.wcs.smart.report.menu.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.report.renameReportItem"
               label="%reportlist.popupmenu.rename.command.name"
               mnemonic="%reportlist.popupmenu.rename.command.mnemonic"
               style="push"
               tooltip="%reportlist.popupmenu.rename.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="rename"
                           property="org.wcs.smart.report.menu.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.report.translateItem"
               label="%translate.command.label"
               mnemonic="%translate.command.mnemonic"
               style="push"
               tooltip="%translate.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="rename"
                           property="org.wcs.smart.report.menu.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.query.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.report.deleteReportItem"
               label="%reportlist.popupmenu.delete.command.name"
               mnemonic="%reportlist.popupmenu.delete.command.mnemonic"
               style="push"
               tooltip="%reportlist.popupmenu.delete.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="delete"
                           property="org.wcs.smart.report.menu.editable">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.report.ReportListView">
         <command
               commandId="org.wcs.smart.report.deleteReportItem"
               label="%reportlist.toolbar.delete.command.name"
               style="push"
               tooltip="%reportlist.toolbar.delete.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.report.newReport"
               label="%reportlist.toolbar.newreport.command.name"
               style="push"
               tooltip="%reportlist.toolbar.newreport.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.report.editReport"
               label="%reportlist.toolbar.editreport.command.name"
               style="push"
               tooltip="%reportlist.toolbar.editreport.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.report.exportReport"
               label="%reportlist.toolbar.exportreport.command.name"
               style="push"
               tooltip="%reportlist.toolbar.exportreport.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.report.runReport"
               label="%reportlist.toolbar.run.command.name"
               style="push"
               tooltip="%reportlist.toolbar.run.command.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.wcs.smart.report.edit.toolbar">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="%reportedit.toolbar.save.command.name"
                  style="push"
                  tooltip="%reportedit.toolbar.save.command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.wcs.smart.report.ReportPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="%reportedit.toolbar.saveas.command.name"
                  style="push"
                  tooltip="%reportedit.toolbar.saveas.command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.wcs.smart.report.ReportPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.file?before=org.wcs.menu.file.changeuserpassword">
         <separator
               name="org.wcs.smart.report.file.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.save"
               id="org.wcs.smart.query.save.toolbar"
               tooltip="%file.menu.save.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.report.ReportPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.saveAs"
               tooltip="%file.menu.saveas.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.report.ReportPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.report.file.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.menu.query">
         <menu
               id="org.wcs.smart.report"
               label="%report.menu.name"
               mnemonic="%report.menu.mnemonic">
            <command
                  commandId="org.wcs.smart.report.newReport"
                  mnemonic="%report.menu.newreport.command.mnemonic"
                  style="push"
                  tooltip="%report.menu.newreport.command.tooltip">
            </command>
            <separator
                  name="org.wcs.smart.report.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.report.exportReport"
                  label="%exportreport.command.name.1"
                  style="push">
               <parameter
                     name="org.wcs.smart.report.export.parameter.isMultiple"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.report.importReport"
                  mnemonic="%report.menu.importreport.command.mnemonic"
                  style="push"
                  tooltip="%report.menu.importreport.command.tooltip">
            </command>
            <separator
                  name="org.wcs.smart.report.separator3"
                  visible="true">
            </separator>
            <menu
                  id="org.wcs.smart.report.library"
                  label="%report.library.menu.name"
                  mnemonic="%report.library.menu.mnemonic">
               <command
                     commandId="org.wcs.smart.report.editLibrary"
                     style="push"
                     tooltip="%report.library.editlibrary.command.tooltip">
               </command>
               <separator
                     name="org.wcs.smart.report.separator4"
                     visible="true">
               </separator>
               <command
                     commandId="org.wcs.smart.report.exportLibrary"
                     style="push"
                     tooltip="%report.library.exportlibrary.command.tooltip">
               </command>
               <command
                     commandId="org.wcs.smart.report.importLibrary"
                     style="push"
                     tooltip="%report.library.importlibrary.command.tooltip">
               </command>
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.wcs.smart.report.ReportPerspective">
                        </equals>
                     </with>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </menu>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="analyst">
                  </test>
               </or>
            </visibleWhen>
            <separator
                  name="org.wcs.smart.report.separator9"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.command.showperspective"
                  icon="images/icons/etool16/report_view.png"
                  label="%showreportperspective.menu.label"
                  mnemonic="%showreportperspective.menu.mnemonic"
                  style="push"
                  tooltip="%showreportperspective.menu.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="analyst">
                     </test>
                  </or>
               </visibleWhen>
               <parameter
                     name="org.wcs.smart.perspectiveid"
                     value="org.wcs.smart.report.ReportViewerPerspective">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.toolbar.create?after=org.wcs.smart.query.toolbar.menu.create">
         <command
               commandId="org.wcs.smart.report.newReport"
               label="%reportlist.toolbar.newreport.command.name"
               style="push"
               tooltip="%reportlist.toolbar.newreport.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="analyst">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.query.toolbar.report">
         <command
               commandId="org.wcs.smart.command.showperspective"
               icon="images/icons/etool16/report_view.png"
               label="%showreportperspective.menu.label"
               mnemonic="%showreportperspective.menu.mnemonic"
               style="push"
               tooltip="%showreportperspective.menu.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="analyst">
                  </test>
               </or>
            </visibleWhen>
            <parameter
                  name="org.wcs.smart.perspectiveid"
                  value="org.wcs.smart.report.ReportViewerPerspective">
            </parameter>
         </command>
         <command
               commandId="org.wcs.smart.command.showperspective"
               icon="images/icons/etool16/report_edit.png"
               label="%showreportperspective.editor.menu.label"
               style="push"
               tooltip="%showreportperspective.editor.menu.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="analyst">
                  </test>
               </or>
            </visibleWhen>
            <parameter
                  name="org.wcs.smart.perspectiveid"
                  value="org.wcs.smart.report.ReportPerspective">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wcs.smart.report.internal.ui.designer.SmartReportPerspective"
            id="org.wcs.smart.report.ReportPerspective"
            name="%reporteditor.perspective.name">
      </perspective>
      <perspective
            class="org.wcs.smart.report.internal.ui.ReportViewerPerspective"
            id="org.wcs.smart.report.ReportViewerPerspective"
            name="%reportviewer.perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.birt.ui.RCPMultiPageReportEditor"
            default="true"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/library.gif"
            id="org.eclipse.birt.report.designer.ui.editors.LibraryEditor"
            name="%library.editor.name">
      </editor>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.report.model.ReportFolder">
      </class>
      <class
            class="org.wcs.smart.report.model.Report">
      </class>
      <class
            ca_property=".id.report.conservationArea"
            class="org.wcs.smart.report.model.ReportQuery">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.wcs.smart.report.internal.ui.ReportListView$ReportListViewWrapper"
            icon="images/icons/obj16/report.png"
            id="org.wcs.smart.report.ReportListView"
            name="%reportlist.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.wcs.smart.report.internal.ui.viewer.ReportView$ReportViewWrapper"
            icon="images/icons/obj16/report.png"
            id="org.wcs.smart.birt.ReportView"
            name="%report.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.wcs.smart.report.internal.ui.ReportItemEditablePropertyTester"
            id="org.wcs.smart.report.MenuItemVisible"
            namespace="org.wcs.smart.report.menu"
            properties="editable"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.wcs.smart.report.model.ReportFolder"
            class="org.wcs.smart.report.ui.ReportModelAdapterFactory">
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.wcs.smart.report.model.RootReportFolder"
            class="org.wcs.smart.report.ui.ReportModelAdapterFactory">
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.report.runReport"
            icon="images/icons/etool16/report_run.png">
      </image>
      <image
            commandId="org.wcs.smart.report.exportReport"
            icon="images/icons/etool16/report_export.png">
      </image>
      <image
            commandId="org.wcs.smart.report.deleteReportItem"
            icon="images/icons/etool16/delete.png">
      </image>
      <image
            commandId="org.wcs.smart.report.newReport"
            icon="images/icons/etool16/report_new.png">
      </image>
      <image
            commandId="org.wcs.smart.report.editReport"
            icon="images/icons/etool16/report_edit.png">
      </image>
      <image
            commandId="org.wcs.smart.report.importReport"
            icon="images/icons/etool16/report_import.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.birt.core.ScriptFunctionService">
      <Category
            factoryclass="org.wcs.smart.report.birt.function.SmartCategoryFactory"
            isVisible="true"
            name="SMART_Functions">
         <Function
               desc="%smart.birt.functions.smartuser.desc"
               name="SmartUser">
            <DataType
                  value="String">
            </DataType>
         </Function>
         <Function
               desc="%smart.birt.functions.caname.desc"
               isConstructor="false"
               isStatic="true"
               isVisible="true"
               name="ConservationAreaName"
               variableArguments="false">
         </Function>
         <Function
               desc="%smart.birt.functions.caid.desc"
               isConstructor="false"
               isStatic="true"
               isVisible="true"
               name="ConservationAreaId"
               variableArguments="false">
         </Function>
      </Category>
   </extension>
   <extension
         point="org.wcs.smart.query.property">
      <queryproperty
            propertyName="Reports"
            propertyProvider="org.wcs.smart.report.QueryReportPropertyProvider">
      </queryproperty>
   </extension>
   <extension
         point="org.wcs.smart.report.exporter">
      <exporter
            class="org.wcs.smart.report.export.internal.ReportDefintionExporter">
      </exporter>
   </extension>
   <extension
         point="org.wcs.smart.ca.deleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.report.internal.advisor.EmployeeDeleteAdvisor"
            class="org.wcs.smart.ca.Employee">
      </DeleteAdvisor>
   </extension>
   <extension
         point="org.wcs.smart.birt.reportEditorManager">
      <EditorManager
            EditorInput="org.wcs.smart.report.ui.SmartReportEditorInput"
            EditorManager="org.wcs.smart.report.internal.ui.designer.ReportEditorManager">
      </EditorManager>
      <EditorManager
            EditorInput="org.wcs.smart.report.ui.SmartLibraryEditorInput"
            EditorManager="org.wcs.smart.birt.ui.BasicReportEditorManager">
      </EditorManager>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.report.ReportTemplateCloner"
            id="org.wcs.smart.reportCloner">
         <require
               id="org.wcs.smart.QueryCloner">
         </require>
         <require
               id="org.wcs.smart.query.*">
         </require>
      </templateCloner>
   </extension>
   <extension
         point="org.wcs.smart.ca.filestoredir">
      <FilestoreDirectory
            directory="reports">
      </FilestoreDirectory>
   </extension>
</plugin>
