<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.connect.configure.optionpanel" name="Connect Server Options Configuration Panel" schema="schema/org.wcs.smart.connect.configure.optionpanel.exsd"/>
   <extension-point id="org.wcs.smart.connect.status.contribution" name="Connect Status Contribution" schema="schema/org.wcs.smart.connect.status.contribution.exsd"/>
   <extension-point id="org.wcs.smart.connect.ca.export" name="Connect Conservation Area Export Processor" schema="schema/org.wcs.smart.connect.ca.export.exsd"/>
   <extension
         point="org.wcs.smart.hibernate.libs.mapping">
      <class
            class="org.wcs.smart.connect.model.ConnectServer"
            supportsCcaa="true">
      </class>
      <class
            ca_property=".server.conservationArea"
            class="org.wcs.smart.connect.model.ConnectUser"
            supportsCcaa="true">
      </class>
      <class
            ca_uuid_property=".uuid"
            class="org.wcs.smart.connect.model.ConnectServerStatus"
            supportsCcaa="true">
      </class>
      <class
            class="org.wcs.smart.connect.model.ConnectSyncHistoryRecord"
            supportsCcaa="true">
      </class>
      <class
            ca_uuid_property=".conservationArea"
            class="org.wcs.smart.connect.model.ChangeLogItem"
            supportsCcaa="true">
      </class>
      <class
            ca_property=".id.server.conservationArea"
            class="org.wcs.smart.connect.model.ConnectServerOption"
            supportsCcaa="true">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.caFilestoreDir">
      <FilestoreDirectory
            directory="smart_connect">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.wcs.smart.dbStartUp">
      <StartUpRunner
            class="org.wcs.smart.connect.replication.DerbyStartUpRunner">
      </StartUpRunner>
   </extension>
   <extension
         point="org.wcs.smart.caLogin">
      <loginHandler
            class="org.wcs.smart.connect.replication.PostLoginHandler">
      </loginHandler>
      <postWindowOpen
            class="org.wcs.smart.connect.replication.PostWindowOpenLoginHandler">
      </postWindowOpen>
   </extension>
   <extension
         point="org.wcs.smart.startUpOption">
      <StartUpOption
            clazz="org.wcs.smart.connect.ui.startup.ImportFromConnectStartupOption">
      </StartUpOption>
      <StartUpOption
            clazz="org.wcs.smart.connect.ui.startup.SyncMultiStartupOption">
      </StartUpOption>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.connect.configuration.show"
            name="%configure.command.name">
      </command>
      <command
            id="org.wcs.smart.connect.server.exportca"
            name="%uploadca.command.name">
      </command>
      <command
            id="org.wcs.smart.connect.server.changelog.up"
            name="%uploadsync.command.name">
      </command>
      <command
            id="org.wcs.smart.connect.server.changelog.down"
            name="%downloadsync.command.name">
      </command>
      <command
            id="org.wcs.smart.connect.server.changelog.sync"
            name="%syncall.command.name">
      </command>
      <command
            id="org.wcs.smart.connect.server.downloadccaa"
            name="%downloadca.command.name">
      </command>
      <command
            id="org.wcs.smart.connect.server.web"
            name="%OpenBrowser">
      </command>
      <command
            id="org.wcs.smart.connect.server.downloadreplaceca"
            name="%replaceca.command.name">
      </command>
      <command
            id="org.wcs.smart.connect.server.changelog.syncmulti"
            name="%syncmulti.command.name">
      </command>
      <command
            id="org.wcs.smart.connect.server.recoverca"
            name="%recoverca.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.connect.server.changelog.up"
            icon="platform:/plugin/org.wcs.smart/images/icons/shared16/export.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.server.changelog.down"
            icon="platform:/plugin/org.wcs.smart/images/icons/shared16/import.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.configuration.show"
            icon="images/icons/obj16/server.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.server.exportca"
            icon="platform:/plugin/org.wcs.smart/images/icons/shared16/export.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.server.changelog.sync"
            icon="images/icons/obj16/server_sync.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.server.downloadccaa"
            icon="platform:/plugin/org.wcs.smart/images/icons/shared16/import.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.server.web"
            icon="images/icons/obj16/world.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.server.downloadreplaceca"
            icon="images/icons/obj16/server_ca_download.png">
      </image>
      <image
            commandId="org.wcs.smart.connect.server.recoverca"
            icon="images/icons/obj16/server_ca_download.png">
      </image>
   </extension>
   <extension
         id="id2"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="false"
            class="org.wcs.smart.connect.ui.StatusLineConfigProcessor">
      </processor>
      <processor
            apply="always"
            beforefragment="false"
            class="org.wcs.smart.connect.internal.server.replication.SyncOnStartupProcessor">
      </processor>
   </extension>
   <extension
         point="org.wcs.smart.caTemplateCloner">
      <templateCloner
            class="org.wcs.smart.connect.CloneConnect"
            id="org.wcs.smart.connect.CloneConnectConservationArea">
      </templateCloner>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.connect.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.changeLogInstaller">
      <ChangeLogTracker
            clazz="org.wcs.smart.connect.updatesite.ChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.report">
         <menu
               id="org.wcs.smart.connect.menu"
               label="%connect.menu.label"
               mnemonic="%connect.menu.mnemonic">
            <command
                  commandId="org.wcs.smart.connect.server.changelog.sync"
                  style="push">
            </command>
            <separator
                  name="org.wcs.smart.connect.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.connect.server.exportca"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <test
                           property="org.wcs.smart.caSingle">
                     </test>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.connect.server.exportca"
                  label="%downloadca.command.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <not>
                     <test
                           property="org.wcs.smart.caSingle">
                     </test>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.connect.server.downloadccaa"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <not>
                     <test
                           property="org.wcs.smart.caSingle">
                     </test>
                  </not>
               </visibleWhen>
            </command>
            <menu
                  label="%advancedop.menu.label">
               <command
                     commandId="org.wcs.smart.connect.server.changelog.syncmulti"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <test
                           property="org.wcs.smart.caSingle">
                     </test>
                  </visibleWhen>
               </command>
               <command
                     commandId="org.wcs.smart.connect.server.changelog.up"
                     style="push">
               </command>
               <command
                     commandId="org.wcs.smart.connect.server.changelog.down"
                     style="push">
               </command>
               <command
                     commandId="org.wcs.smart.connect.server.recoverca"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <and>
                        <test
                              property="org.wcs.smart.caSingle">
                        </test>
                     </and>
                  </visibleWhen>
               </command>
               <separator
                     name="org.wcs.smart.connect.separator1"
                     visible="true">
               </separator>
               <command
                     commandId="org.wcs.smart.observation.import.json"
                     icon="platform:/plugin/org.wcs.smart/images/icons/shared16/import.png"
                     label="%command.label.importjson"
                     style="push">
               </command>
            </menu>
            <menu
                  id="org.wcs.smart.connect.configuration"
                  label="%config.menu.label">
               <command
                     commandId="org.wcs.smart.connect.configuration.show"
                     style="push"
                     tooltip="%configure.command.tooltip">
                  <visibleWhen
                        checkEnabled="false">
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </visibleWhen>
               </command>
            </menu>
            <separator
                  name="org.wcs.smart.connect.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.connect.server.web"
                  style="push">
            </command>
            <separator
                  name="org.wcs.smart.connect.separator3"
                  visible="true">
            </separator>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="analyst">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.status.toolbar">
         <command
               commandId="org.wcs.smart.connect.server.changelog.sync"
               label="%command.sync.label"
               mode="FORCE_TEXT"
               style="push"
               tooltip="%sync.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="analyst">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
               </or>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.connect.separator1"
               visible="true">
         </separator>
         <control
               class="org.wcs.smart.connect.ui.StatusLineControl"
               id="org.wcs.smart.connect.status.control">
         </control>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.connect.ui.server.configure.ShowServerConfigurationHandler$ShowServerConfigurationHandlerWrapper"
            commandId="org.wcs.smart.connect.configuration.show">
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.UploadCaHandler$ExportCaHandlerrWrapper"
            commandId="org.wcs.smart.connect.server.exportca">
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.UploadChangeLogHandler$UploadChangeLogHandlerWrapper"
            commandId="org.wcs.smart.connect.server.changelog.up">
         <enabledWhen>
            <test
                  property="org.wcs.smart.connect.replication.isEnabled"
                  value="true">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.DownloadChangeLogHandler$DownloadChangeLogHandlerWrapper"
            commandId="org.wcs.smart.connect.server.changelog.down">
         <enabledWhen>
            <test
                  property="org.wcs.smart.connect.replication.isEnabled"
                  value="true">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.SyncChangeLogHandler$SyncChangeLogHandlerWrapper"
            commandId="org.wcs.smart.connect.server.changelog.sync">
         <enabledWhen>
            <test
                  property="org.wcs.smart.connect.replication.isEnabled"
                  value="true">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.DownloadInstallCcaaHandler$DownloadInstallCcaaHandlerWrapper"
            commandId="org.wcs.smart.connect.server.downloadccaa">
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.ShowConnectWebHandler$ShowConnectWebHandlerWrapper"
            commandId="org.wcs.smart.connect.server.web">
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.DownloadReplaceCaHandler$DownloadReplaceCaHandlerWrapper"
            commandId="org.wcs.smart.connect.server.downloadreplaceca">
         <enabledWhen>
            <test
                  property="org.wcs.smart.connect.replication.isEnabled"
                  value="true">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.SyncMultiChangeLogHandler$SyncMultiChangeLogHandlerWrapper"
            commandId="org.wcs.smart.connect.server.changelog.syncmulti">
         <enabledWhen>
            <test
                  property="org.wcs.smart.connect.replication.isEnabled"
                  value="true">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.connect.ui.server.RecoverCaHandler$RecoverCaHandlerWrapper"
            commandId="org.wcs.smart.connect.server.recoverca">
         <enabledWhen>
            <test
                  property="org.wcs.smart.connect.replication.isEnabled"
                  value="true">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.wcs.smart.connect.replication.ReplicationEnabledPropertyTester"
            id="org.wcs.smart.connect.replication"
            namespace="org.wcs.smart.connect.replication"
            properties="isEnabled"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrade">
      <dbUpgrader
            upgrader="org.wcs.smart.connect.updatesite.ConnectDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.wcs.smart.connect.configure.optionpanel">
      <Panel
            class="org.wcs.smart.connect.ui.server.configure.AutoOptionsPanel">
      </Panel>
      <Panel
            class="org.wcs.smart.connect.ui.server.configure.ConnectionOptionsPanel">
      </Panel>
   </extension>
   <extension
         point="org.wcs.smart.connect.status.contribution">
      <contribution
            class="org.wcs.smart.connect.ui.ReplicationStatusContribution">
      </contribution>
   </extension>
   <extension
         point="org.wcs.smart.connect.ca.export">
      <processor
            class="org.wcs.smart.connect.internal.server.ConnectCaExportProcessor">
      </processor>
   </extension>
   <extension
         point="org.wcs.smart.p2.pluginadvisor">
      <advisor
            class="org.wcs.smart.connect.internal.PluginAdvisor">
      </advisor>
   </extension>

</plugin>
