html {
	height: 100vh;
    width: 100vw;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
/*   font-family: "Open Sans", Helvetica, Arial, sans-serif; */
 	font-size: 0.8em;
 	overflow: hidden;
}


.alert_feature_popup{
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 1em;
}


body {
	margin: 0;
	padding: 0;
	background-color: white;
	height: 100%;
    width: 100%;
}

p {
	font-size: 1em;
    margin: 0;
}
h2 {
	font-size: 1.1em;
	font-weight: bold;
}

th {
	text-align:left;
}

#root-container {
	height: 100%;
    width: 100%;
	overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

#mainheader {
    flex: none;
	border: 0px solid black;
	padding: 10px 5px 10px 5px;
	text-align: center;
	color: black;
/* 	font-family: 'Allerta', Helvetica, Arial, sans-serif; */
	font-weight: 500;
	font-size: 40px;
}

#core {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    overflow: hidden;
    align-items: stretch;
}

#footerid {
	flex: none;	
}    

.run-title{
	font-weight: bold;
	padding-bottom: 8px;
	font-size: 1.2em;
}

.reportparameterrow 
{
    display:table-row;
    
}
.reportparameterrow label
{
	text-align:left;
    display:table-cell;
    width: 30%;
}

.reportparameterrow input, .reportparameterrow select 
{
    margin-top:8px;
    margin-left:8px;
    text-align:left;
    display:table-cell;
    width: calc(100% - 20px);
}

.smart-warninghighlight{
	color: red;
	font-weight:bold;
	font-size: 1.2em;
}

.select-limit{
	max-width:24em;
}

.smart-text{
	color: #324A73;
	font-weight: bold;
}


.link_small{
	font-size: .85em;
}

.linkButton { 
     background: none;
     border: none;
     color: #0066ff;
     text-decoration: underline;
     cursor: pointer;
     padding: 2px; 
}
.button:focus{
	border: 1px solid #72A6C8 !important; 
}
.button{
	border-radius: 3px;
 	border: 1px solid #BBC6F5; 
	background-color: white;	
	padding: 4px;
	color: #3A4469;
	text-decoration:none;
	cursor: pointer;
}

.button:hover{
	/*background-color: #4F5F88;*/
	color: white;
	background-color: #72A6C8;
}

.mapbutton{
	min-width:6em;
	text-align: center;
	margin:5px;	
}

.pageheader{
	border-bottom: 1px solid black;
	padding: 0px 0px 0px 0px;
	font-size: 1.2em;
}

.uielement{
	border-radius: 3px;
	border: 1px solid #BBC6F5;
	padding:2px;
}
.uielement:focus{
	border: 1px solid #72A6C8;/*#21B6E3;*/ /*#4F5F88;*/
}

.formtext{
	border-radius: 3px;
	border: 1px solid #BBC6F5;
	padding: 4px;
	width: calc(100% - 10px);
}
.formtext:focus{
	border: 1px solid #72A6C8;/*#21B6E3;*/ /*#4F5F88;*/
}

.table-cell{
	display:table-cell;
}

.td-align-top{
	vertical-align:top;
}

.table{
	display:table;
}
.table-row{
	display:table-row;
}

.quicklink{
	font-weight: bold;
	font-size:1.1em;
	padding-bottom: 2px;
	
    padding: 40px;
    border: 1px solid #CCCCCC;
    margin: 2px;
    display: inline-block;
    border-radius: 15px;
}

.label-header{
	font-weight: bold;
	margin-top: 5px;
	color: #3A4469;
}
.smart-table-header{
/* 	background-color:  #E6E9F0;	 */
 	background-color:  white;	 
	font-weight: bold;
	color: #3A4469;
	text-decoration:none;
}
.smart-table{
	border-spacing: 0px;
	border-top: 1px solid #eceeef;
}
.smart-table-cell{
	padding: 8px;
	vertical-align: middle;
}
.smart-table-rowon{
	background-color: #FFFFFF;
}
.smart-table-rowoff{
/* 	background-color: #EEEEEE; */
	background-color: rgba(0,0,0,.05)
}

.smart-table-selectedrow{
	background-color: #72A6C8;
}

#userheader{
	position:absolute;
	top: 0px;
	right:0px;
	text-align:left;
	margin-left: 5px;
}


.menuitem{
	padding: 3px;
	white-space:nowrap;
	cursor: pointer; 
	display: block;
	text-decoration: none;
	font-weight: normal;
	color: black;
	display:flex;
	flex-flow:row nowrap;
	height:24px;
	align-items:center;
	border-radius: 5px;
}

.textMenu{
	margin-left:8px;
	padding: 0px;
	margin-top:-2px;
}

.menuitem-active{
	border-radius: 5px;
	background-color: #5286A8;
	color: white;
}

.menuitem:hover{
	border-radius: 5px;
	background-color: #72A6C8;
	color: white;
}

.verticalmenu {
    padding: 10px 10px;
    border-radius: 3px;
    background: rgb(255, 255, 255); /* the fallback without opacity*/
    background: rgba(255, 255, 255, 0.5);
	vertical-align:top;
}

#login-main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}
#login-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
}
#login-left {
	width: 200px;
	margin-right: 30px;
}
#login-right {
	margin-top: auto;
	margin-bottom: auto;
}

.errorsection{
	border-radius: 3px;
	border: 1px solid #AF0505;
	background-color: #FEE2E2;
	color: #AF0505;
	padding: 5px;
	margin: 5px 0px;
	display: none;
}

.msgsection{
	border-radius: 3px;
	border: 1px solid #929204;
	background-color: #FEFEE2;
	color: black;
	padding: 5px;
	margin: 5px 0px;
	display: none;
}
.hide{
	display: none;
}
.show{
	display: inline-block;
}

.infotext{
	font-size:0.8em;
}

.infomessage{
	font-style:italic;
}
.dialog{
	border-radius: 3px;
	border: 1px solid #f3f3f3;
	padding: 10px 20px 10px 10px;
	background: white;
	min-width: 300px;
	overflow: auto;
	max-height: 100%;
	z-index: 2000;
}


.level2dialog{
	border-radius: 3px;
	border: 1px solid #f3f3f3;
	padding: 10px 20px 10px 10px;
	background: white;
	min-width: 300px;
	overflow: auto;
	max-height: 100%;
	z-index:3000;
}

.dialog-title{
	border-radius: 3px;
	background:  #4F5F88;
	border: 1px solid white;
	margin: -10px -20px 10px -10px;
	padding: 5px;
	font-weight: bold;
	color: white;
}

.overlay-widget{
	background: #333333;
    opacity: 0.9;
    z-index:1999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.overlay-widgetlevel2{
	background: #333333;
    opacity: 0.9;
    z-index:2999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.linkdialog{
	width:95%; 
	padding:10px;
	text-align: left;
}

.block{
	display:block;
}

.top-spacer{
	margin-top: 10px;
}

.icon-btn-default{
	color: #003366;
	cursor: pointer;
}

.icon-btn-spacing{
	margin-left: 4px;
	margin-right: 4px;
}

.dashboard-section{
	margin-top:10px;
	padding-top:5px;
	border-radius:3px;
	border: 1px solid  #72A6C8;
	margin-bottom: 10px;
}

#map-container { 
	flex: 1 1 auto;
}

#map {
	flex: 1 1 auto;
}

#main {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
    border: 0px;
    border-radius: 3px;
    background: rgb(255, 255, 255); /* The Fallback */
    background: rgba(255, 255, 255, 0.5);
    padding: 0px 5px 15px 5px;
}

.control-menu {
	position: relative;
	top: 0;
	z-index: 1001;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: flex-end;
	overflow: hidden;
	height: 100%;
	pointer-events: none;
}
.control-item {
	display: flex;
	flex-flow: column nowrap;  
	margin: 10px;
	border: 1px solid #999;
	background: #fff;
	border-radius: 4px;
	flex: none;
	overflow: hidden;
	cursor: auto;
	max-height: calc(100% - 20px);
	pointer-events: auto;
}
.control-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}
.control-title {
	padding: 0px 10px 0px 10px;
	flex: 1 1 auto;
	font-size: 1.2em;
	font-weight: bold;
}
.control-item-icon {
	flex: none;
	width: 24px;
	text-align: center;
	margin: 5px;
}
.control-item-content {
	flex: 1 1 auto;
	font-size: 0.85em;
	overflow: auto;
	padding: 0px 5px 5px 5px;
}

.folder-container {
}
.folder input, .folder img {
	vertical-align: middle;
}
.folder-name {
	cursor: pointer; 
}

.folder-name:hover{
	border-radius: 3px;
	background-color: #EEEEEE;
}
.folder-selected{
	border-radius: 3px;
	background-color: #EEEEAA !important;
}

.folder-contents {
	margin-left: 24px;
}
.folder-icon {
	margin: 2px;
	color: #003366;
}
.query-icon {
	margin: 0px 4px 1px 4px;
}
.color-box {
	padding: 1px 7px 1px 7px;
	border: 1px solid black;
}
.queryPopupTitle {
	font-weight: bold;
}
.queryPopupTable {
	border: 1px solid darkgrey;
	max-width: 323px;
	max-height: 250px;
	overflow: auto;
}
.queryPopupTable table {
	border-collapse: collapse;
}
.queryPopupTable table td {
	border: 1px solid darkgrey;
}
#map-info-box{
    margin-top: 2px;
    z-index: 10;
    max-height:93%;
    overflow:auto;
    text-align:right;
}
   
#filter-link{
    margin:5px;
}
#filter-form{
}
.marginleftright{
	margin-right: 5px;
	margin-left: 5px;
}

#settings-scroller {
	flex: 1 1 auto;
	overflow: auto;
}

/*Mozilla specific*/
#filter-button:before{
    display: block;
    width: 15px;
    height: 16px;
    float: left;
}
#filter-button{
    display: block;
    width: 15px;
    height: 16px;
    float: left;
}

.alert-select{
	width: 20em;
}

.layer_field{
	width: 20em;
}

div.scrollable {
    width: 30em;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}
div.caSelector {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.white{
	background-color: #fefefe
}

.date-input{
	width: 9em;
	float: left;
}
.date-input-center{
	width: 9em;
}
.date-text{
	float: left;
}

.settings-header{
	
	padding: 0px 0px 5px 0px;
	font-size: 1em;
	font-weight: bold;
}
.settingsTable{
	border: 1px solid #4F5F88;
    margin: 10px 5px 0px 0px;
    padding: 5px 5px;
}

.defaultLabel{
	width: 10em;
	display:inline-block;
}

.small{
	font-size:0.9em;
}

.button:disabled, .button:disabled:hover{
    color: #CCCCCC;
    background-color: #EEEEEE;
} 

.add_select_section{
	margin-bottom: 15px; 
	padding-top:5px; 
}

.border-section{
	background-color: white; 
	padding: 10px; 
	border: 1px solid #3A4469; 
	border-radius: 3px;
}

#runqueryform p {
	padding-top: 4px;
	margin: 0px;
}
fieldset{
	border: 1px solid #CCCCCC;
	border-radius: 3px; 
}

#filter-form fieldset{
	margin-top: 2px;
}

.map_date_picker{
	margin-bottom: 25px;
}

#runqueryform legend{
	font-weight:bold;
}

#runreportform legend{
	font-weight: bold;
}

.user-tables-wrapper{
	border-left: 10px;
}
.user-tables-float{
	float: left;
	padding: 10px;
}
.user-tables-clear{
	clear: both;	
}
.info-tables-float{
	display: block;
	padding: 10px 10px 10px 0px;
}
/* SMART Tabs */

.tabheader{
	border-radius: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.tab:hover{
	text-decoration: underline;
	
}
.tab{
	border-left: 1px solid black;
	color: #3A4469;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

.tab:first-child{
	border-left: 0px;
}

.tabbody{
	padding-top:5px;
}
.tabselected{
	color: #3A4469;
	font-weight:bold;
}

/* Dashboard Beta styling*/
#report-wrapper {
}
#report1 {
  width: 49%;
  display: inline-block;
  min-width:200px;
}
#report2 {
  width: 50%;
  display: inline-block;
  min-width:200px;
}

#typetable{
	width:100%;
}
.extrareport2dates{
	display:none;
}

.p-2{
	padding: .25rem;
}

.pt-5{
	padding-top: 1rem;
}