<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
		<property name="connection.url">jdbc:derby:./data/database/smartdb;create=false</property>

		<!--  (should not use built in connection pool; we use c3p0 here) -->
		<!-- <property name="connection.pool_size">1</property> -->
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">5</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.DerbyDialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property> 
		
		<property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>

		<property name="cache.use_second_level_cache">true</property>
		<property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="cache.use_query_cache">true</property> 
		<!-- <property name="cache.use_minimal_puts">true</property> --> 

				
	</session-factory>
</hibernate-configuration>
