<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=org.wcs.smart.menu.help">
         <menu
               id="org.wcs.smart.intelligence.menu"
               label="%menu.create.label">
            <command
                  commandId="org.wcs.smart.intelligence.NewIntelligence"
                  label="%command.create.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <separator
                  name="org.wcs.smart.intelligence.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.intelligence.editor.exportPdf"
                  label="%pdf.command.label"
                  style="push">
               <parameter
                     name="org.wcs.smart.intelligence.exportpdf.editor"
                     value="true">
               </parameter>
            </command>
              <command
                  commandId="org.wcs.smart.intelligence.export"
                  label="%export.command.label"
                  style="push"
                  tooltip="%export.command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.intelligence.import"
                  label="%import.command.label"
                  style="push"
                  tooltip="%import.command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <separator
                  name="org.wcs.smart.intelligence.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.intelligence.EditIntelligenceSources"
                  label="%sourceedit.command.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
               </visibleWhen>
            </command>
            
            <menu
                  label="%template.menu.label">
               <command
                     commandId="org.wcs.smart.intelligence.editTemplate"
                     style="push"
                     tooltip="%template.command.tooltip">
               </command>
               <separator
                     name="org.wcs.smart.intelligence.separator3"
                     visible="true">
               </separator>
               <command
                     commandId="org.wcs.smart.intelligence.revertTemplate"
                     style="push"
                     tooltip="%command.reverttemplate.tooltip">
               </command>
               <command
                     commandId="org.wcs.smart.intelligence.exportTemplate"
                     style="push"
                     tooltip="%command.exporttemplate.tooltip">
               </command>
               <command
                     commandId="org.wcs.smart.intelligence.importTemplate"
                     style="push"
                     tooltip="%command.importtemplate.tooltip">
               </command>
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </menu>
            <separator
                  name="org.wcs.smart.intelligence.separator2"
                  visible="true">
            </separator>
             <command
                  commandId="org.wcs.smart.intelligence.ShowInformant"
                  label="%informantview.command.label"
                  style="push"
                  tooltip="%informantview.command.tooltip">
            </command>
            <command
                  commandId="org.wcs.smart.command.showperspective"
                  label="%view.command.label"
                  style="push"
                  tooltip="%command.perspective.tooltip">
               <parameter
                     name="org.wcs.smart.perspectiveid"
                     value="org.wcs.smart.intelligence.IntelligencePerspective">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?endof=org.wcs.smart.perspectivesSeperator">
         <command
               commandId="org.wcs.smart.command.showperspective"
               icon="images/etool16/intelligence.png"
               label="%command.perspective.label"
               style="push"
               tooltip="%command.perspective.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </visibleWhen>
            <parameter
                  name="org.wcs.smart.perspectiveid"
                  value="org.wcs.smart.intelligence.IntelligencePerspective">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.intelligence.IntelligenceListView">
         <command
               commandId="org.wcs.smart.intelligence.DeleteIntelligence"
               icon="images/etool16/delete.png"
               label="%command.delete.label"
               style="push"
               tooltip="%command.delete.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.intelligence.NewIntelligence"
               label="%command.create.label"
               style="push"
               tooltip="%command.create.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.intelligence.ShowIntelligenceFilter"
               icon="images/etool16/filter.png"
               label="%command.filter.label"
               style="push"
               tooltip="%command.filter.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.wcs.smart.intelligence.IntelligenceListView">
         <command
               commandId="org.wcs.smart.intelligence.translate"
               label="%translate.command.label"
               style="push"
               tooltip="%translate.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.intelligence.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.intelligence.exportPdf"
               label="%pdf.list.command.label"
               style="push">
         </command>
         <separator
               name="org.wcs.smart.intelligence.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.intelligence.DeleteIntelligence"
               icon="images/etool16/delete.png"
               label="%delete.command.label"
               style="push"
               tooltip="%delete.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.file?before=org.wcs.menu.file.changeuserpassword">
         <separator
               name="org.wcs.smart.intelligence.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.export"
               label="%exportmap.command.label"
               mnemonic="%exportmap.command.mnemonic"
               style="push"
               tooltip="%exportmap.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.intelligence.IntelligencePerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.intelligence.editor.exportPdf"
               label="%pdf.toolbar.command.label"
               style="push"
               tooltip="%pdf.toolbar.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.intelligence.IntelligencePerspective">
                  </equals>
               </with>
            </visibleWhen>
            <parameter
                  name="org.wcs.smart.intelligence.exportpdf.editor"
                  value="true">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.file.save"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.intelligence.report.IntelligenceReportPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.intelligence.separator3"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.toolbar.create?before=org.wcs.smart.toolbar.create.other">
         <command
               commandId="org.wcs.smart.intelligence.NewIntelligence"
               label="%command.create.label"
               style="push"
               tooltip="%command.create.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.caSingle">
                  </test>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.wcs.smart.intelligence.toolbar">
            <command
                  commandId="org.wcs.smart.intelligence.editor.exportPdf"
                  label="%pdf.toolbar.command.label"
                  style="push"
                  tooltip="%pdf.toolbar.command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.wcs.smart.intelligence.IntelligencePerspective">
                     </equals>
                  </with>
               </visibleWhen>
               <parameter
                     name="org.wcs.smart.intelligence.exportpdf.editor"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.wcs.smart.intelligence.report.IntelligenceReportPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.intelligence.NewIntelligence"
            name="%command.create.name">
      </command>
      <command
            id="org.wcs.smart.intelligence.DeleteIntelligence"
            name="%command.delete.name">
      </command>
      <command
            id="org.wcs.smart.intelligence.ShowIntelligenceFilter"
            name="%command.filter.name">
      </command>
      <command
            id="org.wcs.smart.intelligence.translate"
            name="%translate.command.name">
      </command>
      <command
            id="org.wcs.smart.intelligence.export"
            name="%export.command.name">
      </command>
      <command
            id="org.wcs.smart.intelligence.import"
            name="%import.command.name">
      </command>
      <command
            id="org.wcs.smart.intelligence.EditIntelligenceSources"
            name="%sourceedit.command.name">
      </command>
      <command
            id="org.wcs.smart.intelligence.editTemplate"
            name="%template.command.name">
      </command>
      <command
            id="org.wcs.smart.intelligence.revertTemplate"
            name="%command.revertdefaulttemplate.name">
      </command>
      <command
            id="org.wcs.smart.intelligence.exportTemplate"
            name="%command.exporttemplate.name">
      </command>
      <command
            id="org.wcs.smart.intelligence.importTemplate"
            name="%command.importtemplate.name">
      </command>
      <command
            id="org.wcs.smart.intelligence.exportPdf"
            name="%pdf.editor.command.name">
         <commandParameter
               id="org.wcs.smart.intelligence.exportpdf.editor"
               name="Editor Export"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="org.wcs.smart.intelligence.ShowInformant"
            name="%command.showinformant.name">
      </command>
      <command
            id="org.wcs.smart.intelligence.editor.exportPdf"
            name="%pdf.editor.command.name">
         <commandParameter
               id="org.wcs.smart.intelligence.exportpdf.editor"
               name="Editor Export"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.NewIntelligenceHandler$NewIntelligenceHandlerWrapper"
            commandId="org.wcs.smart.intelligence.NewIntelligence">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.DeleteIntelligenceHandler$DeleteIntelligenceHandlerWrapper"
            commandId="org.wcs.smart.intelligence.DeleteIntelligence">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.wcs.smart.intelligence.ui.editor.IntelligenceEditorInput">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.ShowIntelligenceFilterHandler$ShowIntelligenceFilterHandlerWrapper"
            commandId="org.wcs.smart.intelligence.ShowIntelligenceFilter">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.TranslateIntelligenceHandler$TranslateIntelligenceHandlerWrapper"
            commandId="org.wcs.smart.intelligence.translate">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.ExportIntelligenceHandler$ExportIntelligenceHandlerWrapper"
            commandId="org.wcs.smart.intelligence.export">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.ImportIntelligenceHandler$ImportIntelligenceHandlerWrapper"
            commandId="org.wcs.smart.intelligence.import">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.EditIntelligenceSourceHandler$EditIntelligenceSourceHandlerWrapper"
            commandId="org.wcs.smart.intelligence.EditIntelligenceSources">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.EditIntelligenceTemplate$EditIntelligenceTemplateWrapper"
            commandId="org.wcs.smart.intelligence.editTemplate">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.RevertIntelligenceTemplateHandler$RevertIntelligenceTemplateHandlerWrapper"
            commandId="org.wcs.smart.intelligence.revertTemplate">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.wcs.smart.intelligence.report.IntelligenceReportPerspective">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.ExportIntelligenceTemplateHandler$ExportIntelligenceTemplateHandlerWrapper"
            commandId="org.wcs.smart.intelligence.exportTemplate">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.wcs.smart.intelligence.report.IntelligenceReportPerspective">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.ImportIntelligenceTemplateHandler$ImportIntelligenceTemplateHandlerWrapper"
            commandId="org.wcs.smart.intelligence.importTemplate">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.wcs.smart.intelligence.report.IntelligenceReportPerspective">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.ShowInformantDataHandler$ShowInformantDataHandlerWrapper"
            commandId="org.wcs.smart.intelligence.ShowInformant">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.ExportIntelligencePdf$ExportIntelligencePdffWrapper"
            commandId="org.wcs.smart.intelligence.editor.exportPdf">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.wcs.smart.intelligence.IntelligenceEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.ExportIntelligencePdf$ExportIntelligencePdffWrapper"
            commandId="org.wcs.smart.intelligence.exportPdf">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.wcs.smart.intelligence.ui.editor.IntelligenceEditorInput">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.intelligence.model.Intelligence">
      </class>
      <class
            ca_property=".intelligence.conservationArea"
            class="org.wcs.smart.intelligence.model.IntelligencePoint">
      </class>
      <class
            ca_property=".intelligence.conservationArea"
            class="org.wcs.smart.intelligence.model.IntelligenceAttachment">
      </class>
      <class
            ca_property=".id.patrol.conservationArea"
            class="org.wcs.smart.intelligence.model.PatrolIntelligence">
      </class>
      <class
            class="org.wcs.smart.intelligence.model.IntelligenceSource">
      </class>
      <class
            class="org.wcs.smart.intelligence.model.Informant">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wcs.smart.intelligence.ui.IntelligencePerspective"
            icon="images/etool16/intelligence.png"
            id="org.wcs.smart.intelligence.IntelligencePerspective"
            name="%perspective.name">
      </perspective>
      <perspective
            class="org.wcs.smart.intelligence.report.IntelligenceReportPerspective"
            id="org.wcs.smart.intelligence.report.IntelligenceReportPerspective"
            name="%template.perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.wcs.smart.intelligence.ui.IntelligenceListView$IntelligenceListViewWrapper"
            icon="images/etool16/intelligence.png"
            id="org.wcs.smart.intelligence.IntelligenceListView"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.intelligence.ui.editor.IntelligenceEditor"
            default="false"
            icon="images/etool16/intelligence.png"
            id="org.wcs.smart.intelligence.IntelligenceEditor"
            matchingStrategy="org.wcs.smart.intelligence.ui.editor.IntelligenceEditorMatchingStrategy"
            name="%editor.name">
      </editor>
      <editor
            class="org.wcs.smart.intelligence.informant.editor.InformantDataEditor"
            default="false"
            icon="images/etool16/informant.png"
            id="org.wcs.smart.intelligence.informant.InformantDataEditor"
            name="%editor.informant.name">
      </editor>
   </extension>
   <extension
         point="org.wcs.smart.patrol.editorContribution">
      <contribution
            class="org.wcs.smart.intelligence.ui.patrol.ReportedIntelligenceContribution">
      </contribution>
      <contribution
            class="org.wcs.smart.intelligence.ui.patrol.MotivationIntelligenceContribution">
      </contribution>
   </extension>
   <extension
         point="org.wcs.smart.patrol.wizardpage">
      <wizardpage
            class="org.wcs.smart.intelligence.ui.patrol.IntelligencePatrolWizardPage"
            id="newpatrol.intelligence"
            location="after=newpatrol.patrolid">
      </wizardpage>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.intelligence.NewIntelligence"
            icon="images/etool16/intelligence_add.png">
      </image>
      <image
            commandId="org.wcs.smart.intelligence.export"
            icon="images/etool16/export_intel.png">
      </image>
      <image
            commandId="org.wcs.smart.intelligence.import"
            icon="images/etool16/import_intel.png">
      </image>
      <image
            commandId="org.wcs.smart.intelligence.exportPdf"
            icon="images/etool16/printpdf.png">
      </image>
      <image
            commandId="org.wcs.smart.intelligence.ShowInformant"
            icon="images/etool16/informant.png">
      </image>
      <image
            commandId="org.wcs.smart.intelligence.editor.exportPdf"
            icon="images/etool16/printpdf.png">
      </image>
   </extension>
   <extension
         point="org.wcs.smart.patrol.xml">
      <contribution
            class="org.wcs.smart.intelligence.xml.patrol.PatrolXmlExtraDataContribution">
      </contribution>
   </extension>
   <extension
         point="org.wcs.smart.birt.reportEditorManager">
      <EditorManager
            EditorInput="org.wcs.smart.intelligence.report.ReportIntelligenceEditorInput"
            EditorManager="org.wcs.smart.intelligence.report.ReportIntelligenceManager">
      </EditorManager>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            defaultDisplayName="SMART Intelligence Data Source"
            driverClass="org.wcs.smart.intelligence.report.oda.SmartIntelligenceDriver"
            id="org.wcs.smart.intelligence.report.oda.SmartIntelligenceDriver"
            odaVersion="3.0"
            overrideExplorerFiltering="false"
            setThreadContextClassLoader="false">
      </dataSource>
      <dataSet
            defaultDisplayName="SMART Intelligence Location Points"
            id="org.wcs.smart.intelligence.report.oda.SmartIntelligencePoints">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="12"
               odaScalarDataType="String">
         </dataTypeMapping>
      </dataSet>
   </extension>
   <extension
         point="org.wcs.smart.report.birt.maplayer">
      <MapLayer
            maplayer="org.wcs.smart.intelligence.report.IntelligencePointsMapLayer">
      </MapLayer>
   </extension>
   <extension
         point="org.wcs.smart.patrol.query.contribution">
      <GroupByItem
            groupby="org.wcs.smart.intelligence.query.IntelligencePatrolGroupBy"
            viewer="org.wcs.smart.intelligence.query.IntelligenceGroupByPatrolContribution">
      </GroupByItem>
      <FilterItem
            filter="org.wcs.smart.intelligence.query.IntelligencePatrolQueryFilter"
            viewer="org.wcs.smart.intelligence.query.IntelligencePatrolQueryFilterViewer">
      </FilterItem>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.intelligence.updatesite.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="2.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.intelligence.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="2.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.intelligence.IntelligenceCaCloner"
            id="org.wcs.smart.intelligence.IntelligenceCaCloner">
      </templateCloner>
   </extension>
   <extension
         point="org.wcs.smart.ca.filestoredir">
      <FilestoreDirectory
            directory="intelligence">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.wcs.smart.ca.deleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.intelligence.SourceDeleteAdvisor"
            class="org.wcs.smart.intelligence.model.IntelligenceSource">
      </DeleteAdvisor>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrage">
      <dbUpgrader
            upgrader="org.wcs.smart.intelligence.upgrade.IntelligenceDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.wcs.smart.ca.create">
      <handler
            class="org.wcs.smart.intelligence.CaCreateHandler">
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.ca.export">
      <exporter
            caExporter="org.wcs.smart.intelligence.InformantDataExporter">
      </exporter>
   </extension>
   <extension
         point="org.wcs.smart.backup">
      <contributor
            class="org.wcs.smart.intelligence.InformantBackupContributor">
      </contributor>
   </extension>

</plugin>
