<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.plan.menu">
         <menu
               id="org.wcs.smart.intelligence.menu"
               label="%intelligence.menu.label">
            <command
                  commandId="org.wcs.smart.intelligence.NewIntelligence"
                  label="%intelligence.command.label"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives">
         <command
               commandId="org.wcs.smart.intelligence.ShowIntelligencePersepctive"
               icon="images/etool16/intelligence.png"
               label="Show Intelligence Persepctive"
               style="push"
               tooltip="Show Intelligence Persepctive">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.intelligence.NewIntelligence"
            name="%intelligence.command.name">
      </command>
      <command
            id="org.wcs.smart.intelligence.ShowIntelligencePersepctive"
            name="Show Intelligence Persepctive">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.NewIntelligenceHandler"
            commandId="org.wcs.smart.intelligence.NewIntelligence">
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.ShowIntelligencePersepctiveHandler"
            commandId="org.wcs.smart.intelligence.ShowIntelligencePersepctive">
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.intelligence.model.Intelligence">
      </class>
      <class
            ca_property=".intelligence.conservationArea"
            class="org.wcs.smart.intelligence.model.IntelligencePoint">
      </class>
      <class
            ca_property=".intelligence.conservationArea"
            class="org.wcs.smart.intelligence.model.IntelligenceAttachment">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wcs.smart.intelligence.ui.IntelligencePerspective"
            icon="images/etool16/intelligence.png"
            id="org.wcs.smart.intelligence.IntelligencePerspective"
            name="Intelligence Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.wcs.smart.intelligence.ui.IntelligenceListView"
            icon="images/etool16/intelligence.png"
            id="org.wcs.smart.intelligence.IntelligenceListView"
            name="Intelligence List View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.intelligence.ui.editor.IntelligenceEditor"
            default="false"
            icon="images/etool16/intelligence.png"
            id="org.wcs.smart.intelligence.IntelligenceEditor"
            name="Intelligence Editor">
      </editor>
   </extension>

</plugin>
