<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.plan.menu">
         <menu
               id="org.wcs.smart.intelligence.menu"
               label="%intelligence.menu.label">
            <command
                  commandId="org.wcs.smart.intelligence.NewIntelligence"
                  label="%intelligence.command.label"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?endof=org.wcs.smart.perspectivesSeperator">
         <command
               commandId="org.wcs.smart.intelligence.ShowIntelligencePersepctive"
               icon="images/etool16/intelligence.png"
               label="Show Intelligence Persepctive"
               style="push"
               tooltip="Show Intelligence Persepctive">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.intelligence.IntelligenceListView">
         <command
               commandId="org.wcs.smart.intelligence.DeleteIntelligence"
               icon="images/etool16/delete.png"
               label="Delete Intelligence"
               style="push"
               tooltip="Delete selected inteligence">
         </command>
         <command
               commandId="org.wcs.smart.intelligence.ShowIntelligenceFilter"
               icon="images/etool16/filter.png"
               label="Show Intelligence Filter"
               style="push"
               tooltip="Filter intelligences displayed in this list">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.wcs.smart.intelligence.IntelligenceListView">
         <command
               commandId="org.wcs.smart.intelligence.DeleteIntelligence"
               icon="images/etool16/delete.png"
               label="Delete Intelligence"
               style="push"
               tooltip="Delete selected inteligence">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.intelligence.NewIntelligence"
            name="%intelligence.command.name">
      </command>
      <command
            id="org.wcs.smart.intelligence.ShowIntelligencePersepctive"
            name="Show Intelligence Persepctive">
      </command>
      <command
            id="org.wcs.smart.intelligence.DeleteIntelligence"
            name="Delete Intelligence">
      </command>
      <command
            id="org.wcs.smart.intelligence.ShowIntelligenceFilter"
            name="Show Intelligence Filter">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.NewIntelligenceHandler"
            commandId="org.wcs.smart.intelligence.NewIntelligence">
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.ShowIntelligencePersepctiveHandler"
            commandId="org.wcs.smart.intelligence.ShowIntelligencePersepctive">
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.DeleteIntelligenceHandler"
            commandId="org.wcs.smart.intelligence.DeleteIntelligence">
      </handler>
      <handler
            class="org.wcs.smart.intelligence.ui.handlers.ShowIntelligenceFilterHandler"
            commandId="org.wcs.smart.intelligence.ShowIntelligenceFilter">
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.intelligence.model.Intelligence">
      </class>
      <class
            ca_property=".intelligence.conservationArea"
            class="org.wcs.smart.intelligence.model.IntelligencePoint">
      </class>
      <class
            ca_property=".intelligence.conservationArea"
            class="org.wcs.smart.intelligence.model.IntelligenceAttachment">
      </class>
      <class
            ca_property=".id.patrol.conservationArea"
            class="org.wcs.smart.intelligence.model.PatrolIntelligence">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wcs.smart.intelligence.ui.IntelligencePerspective"
            icon="images/etool16/intelligence.png"
            id="org.wcs.smart.intelligence.IntelligencePerspective"
            name="Intelligence Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.wcs.smart.intelligence.ui.IntelligenceListView"
            icon="images/etool16/intelligence.png"
            id="org.wcs.smart.intelligence.IntelligenceListView"
            name="Intelligence List View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.intelligence.ui.editor.IntelligenceEditor"
            default="false"
            icon="images/etool16/intelligence.png"
            id="org.wcs.smart.intelligence.IntelligenceEditor"
            matchingStrategy="org.wcs.smart.intelligence.ui.editor.IntelligenceEditorMatchingStrategy"
            name="Intelligence Editor">
      </editor>
   </extension>
   <extension
         point="org.wcs.smart.patrol.editorContribution">
      <contribution
            class="org.wcs.smart.intelligence.ui.patrol.ReportedIntelligenceContribution">
      </contribution>
      <contribution
            class="org.wcs.smart.intelligence.ui.patrol.MotivationIntelligenceContribution">
      </contribution>
   </extension>
   <extension
         point="org.wcs.smart.patrol.wizardpage">
      <wizardpage
            class="org.wcs.smart.intelligence.ui.patrol.IntelligencePatrolWizardPage"
            id="newpatrol.intelligence"
            location="after=newpatrol.patrolid">
      </wizardpage>
   </extension>

</plugin>
