<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.r.plugin.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.r.plugin.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrade">
      <dbUpgrader
            upgrader="org.wcs.smart.r.plugin.RDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.wcs.smart.changeLogInstaller">
      <ChangeLogTracker
            clazz="org.wcs.smart.r.plugin.ChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.libs.mapping">
   </extension>
   <extension
         point="org.wcs.smart.caTemplateCloner">
      <templateCloner
            class="org.wcs.smart.r.plugin.CaTemplateCloner"
            id="org.wcs.smart.r.caCloner">
      </templateCloner>
   </extension>

</plugin>
