<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<properties>
		<property name="logPath">log</property>
		
		<property name="nameAll">all</property>
		<property name="nameError">error</property>
		
 		<property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | (%F:%L) | %msg%n</property>
		<!-- It will look like that: 2013-04-03 07:37:51.993 | WARN | (ClassName.java:27) | My app is logging -->

	</properties>
	<appenders>
		<console name="console" target="SYSTEM_OUT">
			<patternLayout pattern="${pattern}" />
		</console>

		<file name="fileAll" fileName="${logPath}/${nameAll}.log">
			<patternLayout pattern="${pattern}" />
		</file>
		<file name="fileError" fileName="${logPath}/${nameError}.log">
			<patternLayout pattern="${pattern}" />
		</file>

	</appenders>
	<loggers>
		<root level="trace"> <!-- We log everything -->
			<appender-ref ref="console" level="trace"/>
 
 			<appender-ref ref="fileAll"  level="debug"/>
 			<appender-ref ref="fileError" level="error"/>
		
		</root>

	</loggers>
</configuration>