<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.qa">
      <data_provider
            class="org.wcs.smart.qa.incident.IncidentDataProvider"
            image="platform:/plugin/org.wcs.smart.independentincident/images/icons/obj16/incident.png">
         <qa_action
               class="org.wcs.smart.qa.incident.DeleteIncidentAction"
               image="platform:/plugin/org.wcs.smart/images/icons/shared16/delete.png">
         </qa_action>
         <qa_action
               class="org.wcs.smart.qa.incident.EditIncidentAction"
               image="platform:/plugin/org.wcs.smart/images/icons/shared16/edit.png">
         </qa_action>
         <qa_action
               class="org.wcs.smart.qa.incident.OpenIncidentAction"
               image="platform:/plugin/org.wcs.smart/images/icons/shared16/goto.png">
         </qa_action>
      </data_provider>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.libs.interceptor">
      <integrator
            class="org.wcs.smart.qa.incident.hibernate.IncidentQaIntegrator">
      </integrator>
   </extension>

</plugin>
