<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.hibernate.libs.mapping">
      <class
            ca_property=".waypoint.conservationArea"
            class="org.wcs.smart.smartcollect.model.SmartCollectWaypoint"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.smartcollect.model.SmartCollectPackage"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.observation.ObservationSource">
      <ObservationSource
            class="org.wcs.smart.smartcollect.model.SmartCollectWaypointSource"
            ui_provider="org.wcs.smart.smartcollect.ui.SmartCollectWaypointSourceProvider">
      </ObservationSource>
   </extension>
   <extension
         point="org.wcs.smart.independentincident.provider">
      <incidentprovider
            class="org.wcs.smart.smartcollect.SmartCollectIncidentProvider">
      </incidentprovider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.smartcollect.ui.SmartCollectIncidentEditor"
            default="false"
            icon="images/icons/smartcollect.16.png"
            id="org.wcs.smart.smartcollect.ui.IncidentEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.wcs.smart.smartcollect.model.SmartCollectWaypoint"
            class="org.wcs.smart.smartcollect.WaypointAdapterFactory">
         <adapter
               type="org.wcs.smart.observation.model.Waypoint">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.ctpackage">
      <ctpackagemanager
            class="org.wcs.smart.smartcollect.pkg.SmartCollectPackageManager">
      </ctpackagemanager>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.json.processor">
      <JsonProcessor
            class="org.wcs.smart.smartcollect.json.DesktopSmartCollectJsonProcessor">
      </JsonProcessor>
   </extension>
   <extension
         point="org.wcs.smart.caFilestoreDir">
      <FilestoreDirectory
            directory="smartcollect">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.wcs.smart.changeLogInstaller">
      <ChangeLogTracker
            clazz="org.wcs.smart.smartcollect.updatesite.SmartCollectChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrade">
      <dbUpgrader
            requires="org.wcs.smart.cybertracker"
            upgrader="org.wcs.smart.smartcollect.updatesite.SmartCollectDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.smartcollect.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="7.0.0">
      </action>
   </extension>

</plugin>
