<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.hibernate.libs.mapping">
      <class
            ca_property=".waypoint.conservationArea"
            class="org.wcs.smart.smartcollect.model.SmartCollectWaypoint"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.smartcollect.model.SmartCollectPackage"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.observation.ObservationSource">
      <ObservationSource
            class="org.wcs.smart.smartcollect.model.SmartCollectWaypointSource"
            ui_provider="org.wcs.smart.smartcollect.ui.SmartCollectWaypointSourceProvider">
      </ObservationSource>
   </extension>
   <extension
         point="org.wcs.smart.independentincident.provider">
      <incidentprovider
            class="org.wcs.smart.smartcollect.SmartCollectIncidentProvider">
      </incidentprovider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.smartcollect.ui.SmartCollectIncidentEditor"
            default="false"
            icon="images/icons/smartcollect.16.png"
            id="org.wcs.smart.smartcollect.ui.IncidentEditor"
            name="SMART Collect Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.wcs.smart.smartcollect.model.SmartCollectWaypoint"
            class="org.wcs.smart.smartcollect.WaypointAdapterFactory">
         <adapter
               type="org.wcs.smart.observation.model.Waypoint">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.ctpackage">
      <ctpackagemanager
            class="org.wcs.smart.smartcollect.pkg.SmartCollectPackageManager">
      </ctpackagemanager>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.json.processor">
      <JsonProcessor
            class="org.wcs.smart.smartcollect.json.SmartCollectDataProcessor">
      </JsonProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=vertical.org.wcs.smart.incident.toolbar2">
         <toolbar
               id="vertical.org.wcs.smartcollect.toolbar">
            <command
                  commandId="org.wcs.smart.cybertracker.packages.show"
                  icon="platform:/plugin/org.wcs.smart.cybertracker/images/etool16/smartmobileexport.png"
                  label="Export"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="Export SMARTCollect packages">
               <visibleWhen>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.caSingle">
                     </test>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.wcs.smart.observation.FieldDataPerspective">
                        </equals>
                     </with>
                     <test
                           property="org.wcs.smart.fielddata.focusview"
                           value="org.wcs.smart.observation.ui.incidientView">
                     </test>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="dataentry">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="analyst">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.wcs.smart.caFilestoreDir">
      <FilestoreDirectory
            directory="smartcollect">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.wcs.smart.changeLogInstaller">
      <ChangeLogTracker
            clazz="org.wcs.smart.smartcollect.updatesite.SmartCollectChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrade">
      <dbUpgrader
            upgrader="org.wcs.smart.smartcollect.updatesite.SmartCollectDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.smartcollect.updatesite.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="7.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.smartcollect.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="7.0.0">
      </action>
   </extension>

</plugin>
