<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=vertical.org.wcs.smart.er.toolbar1">
         <toolbar
               id="vertical.org.wcs.smart.cybertracker.er.toolbar2">
            <command
                  commandId="org.wcs.smart.cybertracker.json.import"
                  icon="platform:/plugin/org.wcs.smart.cybertracker/images/etool16/smartmobileimport.png"
                  label="%command.import.label"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="%command.import.tooltip">
               <visibleWhen>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.caSingle">
                     </test>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.wcs.smart.observation.FieldDataPerspective">
                        </equals>
                     </with>
                     <test
                           property="org.wcs.smart.fielddata.focusview"
                           value="org.wcs.smart.er.surveyDesignListView">
                     </test>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="dataentry">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="analyst">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.cybertracker.packages.show"
                  icon="platform:/plugin/org.wcs.smart.cybertracker/images/etool16/smartmobileexport.png"
                  label="%command.export.label"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="%command.export.tooltip">
               <visibleWhen>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.caSingle">
                     </test>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.wcs.smart.observation.FieldDataPerspective">
                        </equals>
                     </with>
                     <test
                           property="org.wcs.smart.fielddata.focusview"
                           value="org.wcs.smart.er.surveyDesignListView">
                     </test>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="dataentry">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="analyst">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>

 <extension
         point="org.wcs.smart.hibernate.libs.mapping">
      <class
            ca_property=".mission.survey.surveyDesign.conservationArea"
            class="org.wcs.smart.cybertracker.survey.model.CtMissionLink"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.cybertracker.survey.model.SurveyCtPackage"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".link.mission.survey.surveyDesign.conservationArea"
            class="org.wcs.smart.cybertracker.survey.model.CtMissionWpLink"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.json.processor">
      <JsonProcessor
            class="org.wcs.smart.cybertracker.survey.json.DesktopMissionJsonProcessor">
      </JsonProcessor>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrade">
      <dbUpgrader
            requires="org.wcs.smart.cybertracker"
            upgrader="org.wcs.smart.cybertracker.survey.updatesite.DataQueueCtMissionDatabaseUpgrader">
      </dbUpgrader>
      <pluginMapping
            new_plugin_id="org.wcs.smart.cybertracker.survey"
            old_plugin_id="org.wcs.smart.connect.dataqueue.cybertracker.survey"
            old_version_id="1.0">
      </pluginMapping>
   </extension>
   <extension
         point="org.wcs.smart.changeLogInstaller">
      <ChangeLogTracker
            clazz="org.wcs.smart.cybertracker.survey.updatesite.DataQueueCtMissionChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.cybertracker.survey.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.ctpackage">
      <ctpackagemanager
            class="org.wcs.smart.cybertracker.survey.ui.SurveyCtPackageManager">
      </ctpackagemanager>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.navigation">
      <targetprovider
            class="org.wcs.smart.cybertracker.survey.navigation.SamplingUnitNavigationTargetProvider">
      </targetprovider>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.device">
      <device_id_provider
            provider="org.wcs.smart.cybertracker.survey.SmartMobileMissionDeviceProvider">
      </device_id_provider>
   </extension>
   <extension
         point="org.wcs.smart.er.mission.contribution">
      <uieditor
            class="org.wcs.smart.cybertracker.survey.ui.MissionEditorContribution">
      </uieditor>
   </extension>
</plugin>
