<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.query.queryType">
      <QueryCategory
            html_description="&lt;p style=&quot;font-family:Verdana; font-size:12px; font-weight:bold;&quot;&gt;Survey Queries&lt;/p&gt;&lt;p style=&quot;font-family:Verdana; font-size:11px&quot;&gt;Query survey data providing survey and mission attributes in addition to data model items as filters and summary options.&lt;/p&gt;"
            id="org.wcs.smart.er.query.category.survey"
            name="Survey Queries">
      </QueryCategory>
      <QueryType
            QueryCategory="org.wcs.smart.er.query.category.survey"
            class="org.wcs.smart.er.query.model.SurveyObservationQueryType">
         <DefinitionPanel
               id="org.wcs.smart.query.er.survey.definition.filter"
               itemPanelId="org.wcs.smart.er.query.survey.filterItemPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.er.query.category.survey"
            class="org.wcs.smart.er.query.model.SurveyGridQueryType">
         <DefinitionPanel
               id="org.wcs.smart.query.er.survey.definition.grid"
               itemPanelId="org.wcs.smart.er.query.survey.gridValueItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.er.survey.definition.filter"
               itemPanelId="org.wcs.smart.er.query.survey.filterItemPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.er.query.category.survey"
            class="org.wcs.smart.er.query.model.SurveySummaryQueryType">
         <DefinitionPanel
               id="org.wcs.smart.query.er.survey.definition.summary"
               itemPanelId="org.wcs.smart.er.query.survey.summaryItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.er.survey.definition.filter"
               itemPanelId="org.wcs.smart.er.query.survey.filterItemPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.er.query.category.survey"
            class="org.wcs.smart.er.query.model.MissionQueryType">
         <DefinitionPanel
               id="org.wcs.smart.query.er.survey.definition.filter"
               itemPanelId="org.wcs.smart.er.query.survey.filterItemPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.er.query.category.survey"
            class="org.wcs.smart.er.query.model.SurveyWaypointQueryType">
         <DefinitionPanel
               id="org.wcs.smart.query.er.survey.definition.filter"
               itemPanelId="org.wcs.smart.er.query.survey.filterItemPanel">
         </DefinitionPanel>
      </QueryType>
   </extension>
   <extension
         point="org.wcs.smart.query.queryItemPanel">
      <QueryItemPanel
            id="org.wcs.smart.er.query.survey.filterItemPanel"
            panel="org.wcs.smart.er.query.ui.panels.item.FilterItemPanel">
      </QueryItemPanel>
      <QueryItemPanel
            id="org.wcs.smart.er.query.survey.gridValueItemPanel"
            panel="org.wcs.smart.er.query.ui.panels.item.GriddedValueItemPanel">
      </QueryItemPanel>
      <QueryItemPanel
            id="org.wcs.smart.er.query.survey.summaryItemPanel"
            panel="org.wcs.smart.er.query.ui.panels.item.GroupByValueItemPanel">
      </QueryItemPanel>
   </extension>
   <extension
         point="org.wcs.smart.query.queryDefinitionPanel">
      <QueryDefinitionPanel
            id="org.wcs.smart.query.er.survey.definition.filter"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.er.query.ui.panels.definition.FilterDefintionPanel">
      </QueryDefinitionPanel>
      <QueryDefinitionPanel
            id="org.wcs.smart.query.er.survey.definition.grid"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.er.query.ui.panels.definition.GriddedDefinitionPanel">
      </QueryDefinitionPanel>
      <QueryDefinitionPanel
            id="org.wcs.smart.query.er.survey.definition.summary"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.er.query.ui.panels.definition.SummaryDefinitionPanel">
      </QueryDefinitionPanel>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.query.createQuery?before=org.wcs.smart.query.createunknown.separator2">
         <menu
               icon="images/icons/obj16/survey.png"
               id="org.wcs.smart.query.createquery.surveyquery"
               label="Survey Queries"
               tooltip="%patrolquery.menu.tooltip">
            <command
                  commandId="org.wcs.smart.query.createUnknownQuery"
                  icon="images/icons/obj16/survey_observation_query.png"
                  label="New Survey Observation Query ..."
                  style="pulldown"
                  tooltip="creates a new observation query for survey elements">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="surveyobservation">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.createUnknownQuery"
                  icon="images/icons/obj16/survey_waypoint_query.png"
                  label="New Survey Incident Query ..."
                  style="push"
                  tooltip="creates a new incident query for survey elements">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="surveywaypoint">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.createUnknownQuery"
                  icon="images/icons/obj16/survey_gridded_query.png"
                  label="New Survey Grid Query"
                  style="push"
                  tooltip="creates a new gridded query for survey elements">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="surveygrid">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.createUnknownQuery"
                  icon="images/icons/obj16/survey_summary_query.png"
                  label="New Suvery Summary Query ..."
                  style="push"
                  tooltip="creates a new summary query for survey elements">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="surveysummary">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.createUnknownQuery"
                  label="New Mission Query ..."
                  style="push"
                  tooltip="creates a new mission query for survey elements">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="surveymission">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.query.newquery?before=org.wcs.smart.query.newquery.separator2">
         <menu
               icon="images/icons/obj16/survey.png"
               id="org.wcs.smart.query.createquery.surveyquery"
               label="Survey Queries"
               tooltip="%patrolquery.menu.tooltip">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.er.query.model.SurveyObservationQuery">
      </class>
      <class
            class="org.wcs.smart.er.query.model.SurveyWaypointQuery">
      </class>
      <class
            class="org.wcs.smart.er.query.model.SurveyGriddedQuery">
      </class>
      <class
            class="org.wcs.smart.er.query.model.SurveySummaryQuery">
      </class>
      <class
            class="org.wcs.smart.er.query.model.MissionQuery">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.er.query.ui.editor.SurveySimpleQueryResultEditor"
            default="false"
            icon="images/icons/obj16/survey_observation_query.png"
            id="org.wcs.smart.er.query.ui.SimpleQueryResultsEditor"
            name="Survey Observation Query Editor">
      </editor>
      <editor
            class="org.wcs.smart.er.query.ui.editor.SurveyGriddedEditor"
            default="false"
            icon="images/icons/obj16/survey_gridded_query.png"
            id="org.wcs.smart.er.query.ui.GriddedEditor"
            name="Survey Gridded Query Editor">
      </editor>
      <editor
            class="org.wcs.smart.er.query.ui.editor.SurveySummaryEditor"
            default="false"
            icon="images/icons/obj16/survey_summary_query.png"
            id="org.wcs.smart.er.query.ui.SummaryEditor"
            name="Survey Summary Query Editor">
      </editor>
   </extension>

</plugin>
