<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.wcs.smart.report.birt.query.queryDataset"
         point="org.wcs.smart.report.birt.maplayer">
      <MapLayer
            maplayer="org.wcs.smart.intelligence.query.report.map.QueryMapLayer">
      </MapLayer>
   </extension>
   <extension
         point="org.wcs.smart.report.birt.query.queryDataset">
      <QueryTypeDataset
            class="org.wcs.smart.intelligence.query.report.data.IntelligenceReportQuery"
            queryTypeKey="intelligencerecord">
      </QueryTypeDataset>
      <QueryTypeDataset
            class="org.wcs.smart.intelligence.query.report.data.IntelligenceReportQuery"
            queryTypeKey="intelligencesummary">
      </QueryTypeDataset>
   </extension>

</plugin>
