<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.dataentry.model.ConfigurableModel">
      </class>
      <class
            ca_property=".model.conservationArea"
            class="org.wcs.smart.dataentry.model.CmNode">
      </class>
   </extension>

</plugin>
