<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.dataentry.extradata" name="Additional Data associated with Configurable Model" schema="schema/org.wcs.smart.dataentry.extradata.exsd"/>
   <extension-point id="org.wcs.smart.dataentry.xml" name="Dataentry XML Export/Import Contribution" schema="schema/org.wcs.smart.dataentry.xml.exsd"/>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.dataentry.model.ConfigurableModel"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".model.conservationArea"
            class="org.wcs.smart.dataentry.model.CmNode"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".node.model.conservationArea"
            class="org.wcs.smart.dataentry.model.CmAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".cmAttribute.node.model.conservationArea"
            class="org.wcs.smart.dataentry.model.CmAttributeOption"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".configurableModel.conservationArea"
            class="org.wcs.smart.dataentry.model.CmAttributeTreeNode"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".configurableModel.conservationArea"
            class="org.wcs.smart.dataentry.model.CmAttributeListItem"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.dataentry.model.ScreenOption"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".screenOption.conservationArea"
            class="org.wcs.smart.dataentry.model.ScreenOptionUuid"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.model.conservationArea"
            class="org.wcs.smart.dataentry.model.CmDmAttributeSettings"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.ca?after=org.wcs.smart.command.ca.datamodel.show">
         <command
               commandId="org.wcs.smart.dataentry.showConfigurableModel"
               label="%cm.command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.smartAdminUser"
                     value="admin">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.dataentry.showConfigurableModel"
            name="%cm.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.dataentry.handlers.ShowConfigurableModelHandler$ShowConfigurableModelHandlerWrapper"
            commandId="org.wcs.smart.dataentry.showConfigurableModel">
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.dataentry.CmTemplateCloner"
            id="org.wcs.smart.dataentry.cmTemplateCloner">
         <require
               id="org.wcs.smart.conservationAreaCloner">
         </require>
      </templateCloner>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.dataentry.showConfigurableModel"
            icon="images/icons16/configmodel.png">
      </image>
   </extension>

</plugin>
