<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.connect.dataqueue.processor">
      <processor
            class="org.wcs.smart.connect.dataqueue.incident.IncidentProcessor">
      </processor>
   </extension>

</plugin>
