<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.birt.reportEditorManager" name="ReportEditorManager" schema="schema/org.wcs.smart.birt.reportEditorManager.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.birt.ui.RCPMultiPageReportEditor"
            default="false"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/report.gif"
            id="org.eclipse.birt.report.designer.ui.editors.ReportEditor"
            name="SMART Editor">
      </editor>
   </extension>

</plugin>
