<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.cybertracker.datasource" name="Data Source for CyberTracker" schema="schema/org.wcs.smart.cybertracker.datasource.exsd"/>
   <extension-point id="org.wcs.smart.cybertracker.alert" name="Alert Data for CyberTracker" schema="schema/org.wcs.smart.cybertracker.alert.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.fielddata?before=org.wcs.smart.fielddata.dataseparater2">
         <menu
               icon="images/etool16/cybertracker16.png"
               id="org.wcs.smart.cybertracker.menu"
               label="%cybertracker.menu.label">
            <separator
                  name="org.wcs.smart.cybertracker.patrolseparator"
                  visible="false">
            </separator>
            <separator
                  name="org.wcs.smart.cybertracker.surveyseparator"
                  visible="false">
            </separator>
            <separator
                  name="org.wcs.smart.cybertracker.exportseparator"
                  visible="false">
            </separator>
            <command
                  commandId="org.wcs.smart.cybertracker.import"
                  label="%cybertracker.import.command.label"
                  style="push">
            </command>
            <separator
                  name="org.wcs.smart.cybertracker.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.cybertracker.properties"
                  label="%cybertracker.properties.command.label"
                  style="push">
            </command>
            <separator
                  name="org.wcs.smart.cybertracker.patrolmetaseparator"
                  visible="false">
            </separator>
            <separator
                  name="org.wcs.smart.cybertracker.surveymetaseparator"
                  visible="false">
            </separator>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                  </or>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.caSingle">
                  </test>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.wcs.smart.cybertracker">
            <command
                  commandId="org.wcs.smart.cybertracker.import"
                  label="%cybertracker.import.command.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                  </or>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.cybertracker.import"
            name="%cybertracker.import.command.name">
      </command>
      <command
            id="org.wcs.smart.cybertracker.properties"
            name="%cybertracker.properties.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.cybertracker.handler.CyberTrackerImportHandler$CyberTrackerImportHandlerWrapper"
            commandId="org.wcs.smart.cybertracker.import">
      </handler>
      <handler
            class="org.wcs.smart.cybertracker.handler.CyberTrackerPropertiesHandler$CyberTrackerPropertiesHandlerWrapper"
            commandId="org.wcs.smart.cybertracker.properties">
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.cybertracker.model.CyberTrackerPropertiesOption"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.cybertracker.model.CyberTrackerPropertiesProfile"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".profile.conservationArea"
            class="org.wcs.smart.cybertracker.model.CyberTrackerPropertiesProfileOption"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.model.conservationArea"
            class="org.wcs.smart.cybertracker.model.ConfigurableModelCtPropertiesProfile"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.cybertracker.importer.CyberTrackerImportEditor"
            default="false"
            icon="images/etool16/cybertracker16.png"
            id="org.wcs.smart.cybertracker.CyberTrackerImportEditor"
            name="%cybertracker.editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.cybertracker.import"
            icon="images/etool16/import.png">
      </image>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.cybertracker.CybertrackerTemplateCloner"
            id="org.wcs.smart.cybertrackerTemplateCloner">
         <require
               id="org.wcs.smart.conservationAreaCloner">
         </require>
         <require
               id="org.wcs.smart.dataentry.cmTemplateCloner">
         </require>
      </templateCloner>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.cybertracker.updatesite.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.cybertracker.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.ca.filestoredir">
      <FilestoreDirectory
            directory="Cybertracker">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrage">
      <dbUpgrader
            upgrader="org.wcs.smart.cybertracker.upgrade.CtDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.wcs.smart.changelog.installer">
      <ChangeLogTracker
            clazz="org.wcs.smart.cybertracker.updatesite.ChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
   <extension
         point="org.wcs.smart.dataentry.extradata">
      <tab
            content="org.wcs.smart.cybertracker.properties.ConfigurableModelEditorCyberTrackerTab">
      </tab>
   </extension>
   <extension
         point="org.wcs.smart.dataentry.xml">
      <contribution
            class="org.wcs.smart.cybertracker.xml.dataentry.Ct2CmXmlExtraDataContribution">
      </contribution>
   </extension>

</plugin>
