<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <command
               commandId="org.wcs.smart.cybertracker.export"
               label="CT Export"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.cybertracker.export"
            name="CyberTracker Export">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.cybertracker.handler.CyberTrackerExportHandler"
            commandId="org.wcs.smart.cybertracker.export">
      </handler>
   </extension>

</plugin>
