<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.data.oda.smart.table">
      <TableCategory
            icon="images/icons/obj16/smart16.gif"
            id="org.wcs.smart.ca.tables"
            name="Conservation Area Tables">
      </TableCategory>
      <StaticTable
            category="org.wcs.smart.ca.tables"
            class="org.wcs.smart.reporttable.ca.EmployeeTable"
            supportsCcaa="true">
      </StaticTable>
      <StaticTable
            category="org.wcs.smart.ca.tables"
            class="org.wcs.smart.reporttable.ca.AgencyRankTable"
            supportsCcaa="true">
      </StaticTable>
      <StaticTable
            category="org.wcs.smart.ca.tables"
            class="org.wcs.smart.reporttable.ca.StationTable"
            supportsCcaa="true">
      </StaticTable>
      <StaticTable
            category="org.wcs.smart.ca.tables"
            class="org.wcs.smart.reporttable.patrol.PatrolMandateTable"
            supportsCcaa="true">
      </StaticTable>
      <StaticTable
            category="org.wcs.smart.ca.tables"
            class="org.wcs.smart.reporttable.patrol.PatrolTransportTable"
            supportsCcaa="true">
      </StaticTable>
      <StaticTable
            category="org.wcs.smart.ca.tables"
            class="org.wcs.smart.reporttable.patrol.TeamTable"
            supportsCcaa="true">
      </StaticTable>
      <StaticTable
            category="org.wcs.smart.ca.tables"
            class="org.wcs.smart.reporttable.ca.CaTable"
            supportsCcaa="true">
      </StaticTable>
   </extension>

</plugin>
