<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.wcs.smart.entity.ui.typelist.EntityTypeListView"
            icon="images/icons/obj16/entitytype.png"
            id="org.wcs.smart.entity.typelist"
            name="Entity Types"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.wcs.smart.observation.FieldDataPerspective">
         <view
               closeable="false"
               id="org.wcs.smart.entity.typelist"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.wcs.smart.fielddata.datafolder"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.fielddata?before=org.wcs.smart.fielddata.dataseparater">
         <menu
               icon="images/icons/obj16/entitytype.png"
               id="org.wcs.smart.menu.entity"
               label="Entity">
            <command
                  commandId="org.wcs.smart.entity.new"
                  mnemonic="n"
                  style="push"
                  tooltip="create a new entity">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <separator
                  name="org.wcs.smart.entity.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.entity.import"
                  mnemonic="i"
                  style="push"
                  tooltip="imports an entity type">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.entity.export"
                  mnemonic="x"
                  style="push"
                  tooltip="exports an entity type">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <separator
                  name="org.wcs.smart.entity.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.entity.perspective"
                  icon="images/icons/obj16/entitytype.png"
                  mnemonic="p"
                  style="push"
                  tooltip="shows the entity perspective">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.fielddata.perspective">
         <command
               commandId="org.wcs.smart.entity.perspective"
               icon="images/icons/obj16/entitytype.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.entity.typelist">
         <command
               commandId="org.wcs.smart.entity.delete"
               style="push"
               tooltip="Deletes the selected entity types">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.entity.new"
               style="push"
               tooltip="Creates a new entity type">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.wcs.smart.entity.typelist">
         <command
               commandId="org.wcs.smart.entity.delete"
               style="push"
               tooltip="Deletes the selected Entity Types">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.entity.new"
            name="New Entity Type">
      </command>
      <command
            id="org.wcs.smart.entity.perspective"
            name="View Entity Types">
      </command>
      <command
            id="org.wcs.smart.entity.delete"
            name="Delete Entity Types">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.entity.ui.NewEntityHandler"
            commandId="org.wcs.smart.entity.new">
         <activeWhen>
            <and>
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.entity.ui.ViewEntityHandler"
            commandId="org.wcs.smart.entity.perspective">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.entity.ui.DeleteEntityTypeHandler"
            commandId="org.wcs.smart.entity.delete">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            ca_property=".entityType.conservationArea"
            class="org.wcs.smart.entity.model.Entity">
      </class>
      <class
            ca_property=".entityType.conservationArea"
            class="org.wcs.smart.entity.model.EntityAttribute">
      </class>
      <class
            ca_property=".entity.entityType.conservationArea"
            class="org.wcs.smart.entity.model.EntityAttributeValue">
      </class>
      <class
            class="org.wcs.smart.entity.model.EntityType">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.ca.deleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.entity.event.DeleteEntityTypeAdvisor"
            class="org.wcs.smart.entity.model.EntityType">
      </DeleteAdvisor>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.entity.delete"
            icon="images/icons/etool16/deleteentitytype.png">
      </image>
      <image
            commandId="org.wcs.smart.entity.new"
            icon="images/icons/etool16/newentitytype.png">
      </image>
      <image
            commandId="org.wcs.smart.entity.perspective"
            icon="images/icons/obj16/entitytype.png">
      </image>
   </extension>

</plugin>
