<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="actiontype" name="Event Action Type Extension Point" schema="schema/org.wcs.smart.event.actiontype.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.event.configure.show"
            name="Configure SMART Database Triggers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.event.ui.handler.ShowConfigureDialogHandler$ShowConfigureDialogHandlerWrapper"
            commandId="org.wcs.smart.event.configure.show">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.fielddata?before=org.wcs.smart.observation.options">
         <command
               commandId="org.wcs.smart.event.configure.show"
               icon="images/icons/action_event.png"
               label="Configure System Triggers"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.libs.mapping">
      <class
            class="org.wcs.smart.event.model.EAction"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.event.model.EFilter"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".action.conservationArea"
            class="org.wcs.smart.event.model.EActionEvent"
            supportsCcaa="false">
      </class>
      <class
            ca_property="id.action.conservationArea"
            class="org.wcs.smart.event.model.EActionParameterValue"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.libs.interceptor">
      <integrator
            class="org.wcs.smart.event.EventHibernateIntegrator">
      </integrator>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrade">
      <dbUpgrader
            upgrader="org.wcs.smart.event.plugin.EventDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.event.plugin.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.event.plugin.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.caTemplateCloner">
      <templateCloner
            class="org.wcs.smart.event.ConservationAreaCloner"
            id="org.wcs.smart.event.ca.clone">
      </templateCloner>
   </extension>

</plugin>
