<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.help?before=org.wcs.smart.menu.help.separator2">
         <separator
               name="org.wcs.smart.help.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.help.helpContents"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.help.helpSearch"
               style="push">
         </command>
         <separator
               name="org.wcs.smart.help.separator2"
               visible="true">
         </separator>
      </menuContribution>
   </extension> 

</plugin>
