<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.patrol.wizardpage" name="New Patrol Wizard Page " schema="schema/org.wcs.smart.patrol.wizardpage.exsd"/>
   <extension-point id="org.wcs.smart.patrol.editorContribution" name="Patrol Editor Contribution" schema="schema/org.wcs.smart.patrol.editorContribution.exsd"/>
   <extension-point id="org.wcs.smart.patrol.contribution" name="Patrol Contribution" schema="schema/org.wcs.smart.patrol.contribution.exsd"/>
   <extension-point id="org.wcs.smart.patrol.xml" name="XML Export/Import Contribution" schema="schema/org.wcs.smart.patrol.xml.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=org.wcs.smart.fielddata">
         <menu
               id="org.wcs.smart.menu.patrol"
               label="%patrol.menu.label"
               mnemonic="%patrol.menu.mnemonic">
            <command
                  commandId="org.wcs.smart.patrol.newPatrol"
                  icon="images/icons/etool16/patrol_add.png"
                  label="%patrol.newpatrol.command.label"
                  mnemonic="%patrol.newpatrol.command.mnemonic"
                  style="push"
                  tooltip="%patrol.newpatrol.command.tooltip">
            </command>
            <command
                  commandId="org.wcs.smart.patrol.exportPatrol"
                  icon="images/icons/etool16/patrol_export.png"
                  label="%patrol.export.command.label"
                  mnemonic="%patrol.export.command.mnemonic"
                  style="push"
                  tooltip="%patrol.export.command.tooltip">
            </command>
            <command
                  commandId="org.wcs.smart.patrol.importPatrol"
                  icon="images/icons/etool16/patrol_import.png"
                  label="%patrol.importpatrols.command.label"
                  mnemonic="%patrol.importpatrols.command.mnemonic"
                  style="push"
                  tooltip="%patrol.importpatrols.command.tooltip">
            </command>
            <separator
                  name="org.wcs.smart.patrol.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.patrol.patrolMandate"
                  icon="images/icons/etool16/patrol_mandate.png"
                  label="%patrol.mandates.command.label"
                  mnemonic="%patrol.mandates.command.mnemonic"
                  style="push"
                  tooltip="%patrol.mandates.command.tooltip">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.patrol.patrolTypes"
                  icon="images/icons/etool16/patrol.png"
                  label="%patro.types.command.label"
                  mnemonic="%patro.types.command.mnemonic"
                  style="push"
                  tooltip="%patro.types.command.tooltip">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.patrol.teamList"
                  icon="images/icons/etool16/patrol_team.png"
                  label="%patrols.teams.command.label"
                  mnemonic="%patrols.teams.command.mnemonic"
                  style="push"
                  tooltip="%patrols.teams.command.tooltip">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
               </visibleWhen>
            </command>
            <separator
                  name="org.wcs.smart.patrol.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.observation.perspective.show"
                  icon="images/icons/etool16/patrol.png"
                  label="%showpatrolperspective.command.label"
                  mnemonic="%showpatrolperspectivecommand.mnemonic"
                  style="push"
                  tooltip="%showpatrolperspectivecommand.tooltip">
               <parameter
                     name="org.wcs.smart.observation.perspective.show.focusview"
                     value="org.wcs.smart.patrol.ui.PatrolListView">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.caSingle">
                  </test>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="analyst">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.file?before=org.wcs.menu.file.logout">
         <separator
               name="org.wcs.smart.patrol.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.toolbar.create?before=org.wcs.smart.toolbar.create.data">
         <command
               commandId="org.wcs.smart.patrol.newPatrol"
               icon="images/icons/etool16/patrol_add.png"
               label="%patroltoolbar.newpatrol.command.label"
               mnemonic="%patroltoolbar.newpatrol.command.mnemonic"
               style="push"
               tooltip="%patroltoolbar.newpatrol.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.caSingle">
                  </test>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="analyst">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.patrol.ui.PatrolListView">
         <command
               commandId="org.wcs.smart.patrol.view.DeletePatrol"
               icon="images/icons/etool16/patrol_delete.png"
               label="%patrollist.delete.command.label"
               mnemonic="%patrollist.delete.command.mnemonic"
               style="push"
               tooltip="%patrollist.delete.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.patrol.newPatrol"
               icon="images/icons/etool16/patrol_add.png"
               label="%patroltoolbar.newpatrol.command.label"
               mnemonic="%patroltoolbar.newpatrol.command.mnemonic"
               style="push"
               tooltip="%patroltoolbar.newpatrol.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.patrol.view.ShowPatrolFilter"
               icon="images/icons/etool16/patrol_filter.png"
               label="%patrollist.filter.command.label"
               style="push"
               tooltip="%patrollist.filter.command.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.wcs.smart.patrol.ui.PatrolListView">
         <command
               commandId="org.wcs.smart.patrol.view.DeletePatrol"
               icon="images/icons/etool16/patrol_delete.png"
               label="%popup.delete.command.label"
               mnemonic="%popup.delete.command.mnemonic"
               style="push"
               tooltip="%popup.delete.command.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?after=org.wcs.smart.perspective.fielddata">
         <command
               commandId="org.wcs.smart.observation.perspective.show"
               icon="images/icons/etool16/patrol.png"
               label="%showpatrolperspective.command.label"
               mnemonic="%showpatrolperspectivecommand.mnemonic"
               style="push"
               tooltip="%showpatrolperspectivecommand.tooltip">
            <parameter
                  name="org.wcs.smart.observation.perspective.show.focusview"
                  value="org.wcs.smart.patrol.ui.PatrolListView">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.caSingle">
                  </test>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="analyst">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.patrol.patrolMandate"
            name="%mandates.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.patrolTypes"
            name="%types.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.teamList"
            name="%teams.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.newPatrol"
            name="%newpatrol.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.PatrolPerspective"
            name="%showperspective.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.exportPatrol"
            name="%exportpatrol.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.importPatrol"
            name="%importpatrol.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.view.ShowPatrolFilter"
            name="%patrolfilter.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.view.DeletePatrol"
            name="%deletepatrol.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.patrolScreens"
            name="%command.name.screenconfiguration">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.ShowPatrolTypeHandler$ShowPatrolTypeHandlerWrapper"
            commandId="org.wcs.smart.patrol.patrolTypes">
         <activeWhen>
            <and>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="admin">
               </test>
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.ShowPatrolMandateHandler$ShowPatrolMandateHandlerWrapper"
            commandId="org.wcs.smart.patrol.patrolMandate">
         <activeWhen>
            <and>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="admin">
               </test>
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.ShowPatrolTeamsHandler$ShowPatrolTeamsHandlerWrapper"
            commandId="org.wcs.smart.patrol.teamList">
         <activeWhen>
            <and>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="admin">
               </test>
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.caSingle">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.NewPatrolHandler$NewPatrolHandlerWrapper"
            commandId="org.wcs.smart.patrol.newPatrol">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.xml.export.ExportPatrolHandler$ExportPatrolHandlerWrapper"
            commandId="org.wcs.smart.patrol.exportPatrol">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.xml.in.ImportPatrolHandler$ImportPatrolHandlerWrapper"
            commandId="org.wcs.smart.patrol.importPatrol">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.views.ShowPatrolFilterHandler$ShowPatrolFilterHandlerWrapper"
            commandId="org.wcs.smart.patrol.view.ShowPatrolFilter">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.views.DeletePatrolHandler$DeletePatrolHandlerWrapper"
            commandId="org.wcs.smart.patrol.view.DeletePatrol">
         <activeWhen>
            <test
                  forcePluginActivation="true"
                  property="org.wcs.smart.caSingle">
            </test>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.wcs.smart.patrol.ui.PatrolEditorInput">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.PartolScreenOptionsMetaHandler$PatrolScreenOptionsMetaHandlerWrapper"
            commandId="org.wcs.smart.patrol.patrolScreens">
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.patrol.model.PatrolMandate"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.conservationArea"
            class="org.wcs.smart.patrol.model.PatrolType"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.patrol.model.PatrolTransportType"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.patrol.model.Team"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".patrol.conservationArea"
            class="org.wcs.smart.patrol.model.PatrolLeg"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.patrol.model.Patrol"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.PatrolLegDay"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.PatrolLegMember"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".patrolLegDay.patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.Track"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.waypoint.conservationArea"
            class="org.wcs.smart.patrol.model.PatrolWaypoint"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.wcs.smart.patrol.internal.ui.views.PatrolListView$PatrolListViewWrapper"
            icon="images/icons/view16/patrol.png"
            id="org.wcs.smart.patrol.ui.PatrolListView"
            name="%patrollist.view.name"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.patrol.ui.PatrolEditor"
            icon="images/icons/view16/patrol.png"
            id="org.wcs.smart.patrol.ui.PatrolEditor"
            name="%patrol.editor.name">
      </editor>
   </extension>
   <extension
         point="org.wcs.smart.ca.deleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.MandateDeleteAdvisor"
            class="org.wcs.smart.patrol.model.PatrolMandate">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.StationDeleteAdvisor"
            class="org.wcs.smart.ca.Station">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.TeamDeleteAdvisor"
            class="org.wcs.smart.patrol.model.Team">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.TransportTypeDeleteAdvisor"
            class="org.wcs.smart.patrol.model.PatrolTransportType">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.EmployeeDeleteAdvisor"
            class="org.wcs.smart.ca.Employee">
      </DeleteAdvisor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.wcs.smart.patrol.geotools.PatrolFeature"
            class="org.wcs.smart.patrol.geotools.WaypointFeatureAdapterFactory">
         <adapter
               type="org.wcs.smart.observation.model.Waypoint">
         </adapter>
      </factory>
      <factory
            adaptableType="org.wcs.smart.patrol.model.PatrolWaypoint"
            class="org.wcs.smart.patrol.geotools.WaypointFeatureAdapterFactory">
         <adapter
               type="org.wcs.smart.observation.model.Waypoint">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.wcs.smart.patrol.wizardpage">
      <wizardpage
            class="org.wcs.smart.patrol.internal.ui.createpatrol.PatrolIdWizardPage"
            id="newpatrol.patrolid">
      </wizardpage>
      <wizardpage
            class="org.wcs.smart.patrol.internal.ui.createpatrol.TransportTypeWizardPage"
            id="newpatrol.transporttype">
      </wizardpage>
      <wizardpage
            class="org.wcs.smart.patrol.internal.ui.createpatrol.PatrolArmedWizardPage"
            id="newpatrol.patrolarmed">
      </wizardpage>
      <wizardpage
            class="org.wcs.smart.patrol.internal.ui.createpatrol.StationTeamWizardPage"
            id="newpatrol.stationteam">
      </wizardpage>
      <wizardpage
            class="org.wcs.smart.patrol.internal.ui.createpatrol.PatrolMandateWizardPage"
            id="newpatrol.patrolmandate">
      </wizardpage>
      <wizardpage
            class="org.wcs.smart.patrol.internal.ui.createpatrol.PatrolObjectiveWizardPage"
            id="newpatrol.patrolobjective">
      </wizardpage>
      <wizardpage
            class="org.wcs.smart.patrol.internal.ui.createpatrol.CommentWizardPage"
            id="newpatrol.patrolcomment">
      </wizardpage>
      <wizardpage
            class="org.wcs.smart.patrol.internal.ui.createpatrol.PatrolDateWizardPage"
            id="newpatrol.patroldate">
      </wizardpage>
      <wizardpage
            class="org.wcs.smart.patrol.internal.ui.createpatrol.PatrolMemberWizardPage"
            id="newpatrol.patrolmember">
      </wizardpage>
      <wizardpage
            class="org.wcs.smart.patrol.internal.ui.createpatrol.PatrolLeaderWizardPage"
            id="newpatrol.patrolleader">
      </wizardpage>
      <wizardpage
            class="org.wcs.smart.patrol.internal.ui.createpatrol.MultiLegWizardPage"
            id="newpatrol.patrolmutlileg">
      </wizardpage>
      <wizardpage
            class="org.wcs.smart.patrol.internal.ui.createpatrol.PatrolLegsWizardPage"
            id="newpatrol.patrollegs">
      </wizardpage>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.patrol.PatrolTemplateCloner"
            id="org.wcs.smart.query.PatrolQueryCloner">
         <require
               id="org.wcs.smart.conservationAreaCloner">
         </require>
      </templateCloner>
   </extension>
   <extension
         point="org.wcs.smart.observation.ObservationSource">
      <ObservationSource
            class="org.wcs.smart.patrol.model.PatrolWaypointSource"
            ui_provider="org.wcs.smart.patrol.ui.PatrolWaypointSourceUiProvider">
      </ObservationSource>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.wcs.smart.observation.FieldDataPerspective">
         <view
               closeable="false"
               id="org.wcs.smart.patrol.ui.PatrolListView"
               minimized="false"
               moveable="true"
               ratio="0.60"
               relationship="stack"
               relative="org.wcs.smart.fielddata.datafolder"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.wcs.smart.ca.filestoredir">
      <FilestoreDirectory
            directory="patrol">
      </FilestoreDirectory>
   </extension>

</plugin>
