<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.report.birt.maplayer" name="Map Layer" schema="schema/org.wcs.smart.report.birt.maplayer.exsd"/>
<extension
         point="org.eclipse.birt.report.model.reportItemModel">
      <reportItem
            class="org.wcs.smart.report.birt.map.item.SmartMapItemFactory"
            displayNameID="SmartMapItem.Name"
            extendsFrom="ReportItem"
            extensionName="org.wcs.smart.report.birt.SmartMap">
         <property
               allowExpression="false"
               defaultDisplayName="%mapitem.parameter.basemap.name"
               hasOwnModel="false"
               isEncryptable="false"
               name="org.wcs.smart.birt.map.basemap"
               type="string">
         </property>
         <propertyGroup
               defaultDisplayName="%mapitem.parameter.bounds.name"
               name="org.wcs.smart.report.birt.map.bounds">
            <property
                  canInherit="true"
                  defaultDisplayName="%mapitem.parameter.bounds.xmin.name"
                  hasOwnModel="true"
                  isEncryptable="false"
                  isList="false"
                  name="org.wcs.smart.report.birt.map.bounds.xmin"
                  type="float">
            </property>
            <property
                  canInherit="true"
                  defaultDisplayName="%mapitem.parameter.bounds.xmax.name"
                  hasOwnModel="true"
                  isEncryptable="false"
                  isList="false"
                  name="org.wcs.smart.report.birt.map.bounds.xmax"
                  type="float">
            </property>
            <property
                  canInherit="true"
                  defaultDisplayName="%mapitem.parameter.bounds.ymin.name"
                  hasOwnModel="true"
                  isEncryptable="false"
                  isList="false"
                  name="org.wcs.smart.report.birt.map.bounds.ymin"
                  type="float">
            </property>
            <property
                  canInherit="true"
                  defaultDisplayName="%mapitem.parameter.bounds.ymax.name"
                  hasOwnModel="true"
                  isEncryptable="false"
                  isList="false"
                  name="org.wcs.smart.report.birt.map.bounds.ymax"
                  type="float">
            </property>
            <property
                  canInherit="true"
                  defaultDisplayName="%mapitem.parameter.bounds.crs.name"
                  hasOwnModel="true"
                  isEncryptable="false"
                  isList="false"
                  name="org.wcs.smart.report.birt.map.bounds.srid"
                  type="string">
            </property>
         </propertyGroup>
         <overrideProperty
               allowedUnits="CM,IN,MM,PT,PC,PX"
               propertyName="width">
         </overrideProperty>
         <overrideProperty
               allowedUnits="CM,IN,MM,PT,PC,PX"
               propertyName="height">
         </overrideProperty>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="true"
               name="org.wcs.smart.birt.map.layers2"
               type="element">
            <elementType
                  name="org.wcs.smart.report.birt.MapLayer">
            </elementType>
         </property>
         <property
               canInherit="true"
               defaultDisplayName="%mapitem.parameter.dpi"
               defaultValue="org.wcs.smart.birt.map.dpi.96"
               isEncryptable="false"
               name="org.wcs.smart.birt.map.dpi"
               subType="integer"
               type="choice">
            <choice
                  defaultDisplayName="72"
                  name="org.wcs.smart.birt.map.dpi.72"
                  value="72">
            </choice>
            <choice
                  defaultDisplayName="96"
                  name="org.wcs.smart.birt.map.dpi.96"
                  value="96">
            </choice>
            <choice
                  defaultDisplayName="150"
                  name="org.wcs.smart.birt.map.dpi.150"
                  value="150">
            </choice>
            <choice
                  defaultDisplayName="300"
                  name="org.wcs.smart.birt.map.dpi.300"
                  value="300">
            </choice>
         </property>
      </reportItem>
      <reportItem
            class="org.wcs.smart.report.birt.map.item.LayerItemFactory"
            extendsFrom="ReportItem"
            extensionName="org.wcs.smart.report.birt.MapLayer"
            hasStyle="false"
            isNameRequired="false">
         <property
               canInherit="true"
               defaultDisplayName="%mapitem.parameter.layerNames.name"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="org.wcs.smart.birt.map.layerName"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultDisplayName="%mapitem.parameter.layerStyles.name"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="org.wcs.smart.birt.map.layerStyle"
               type="string">
         </property>
         <property
               canInherit="false"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="org.wcs.smart.birt.map.layerType"
               type="string">
         </property>
         <property
               canInherit="true"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="org.wcs.smart.birt.map.geomColumn"
               type="string">
         </property>
      </reportItem>
   </extension>
   <extension
         point="org.eclipse.birt.report.engine.extendedItemFactory">
      <itemFactory
            class="org.wcs.smart.report.birt.map.item.MapItemFactory"
            id="org.wcs.smart.report.birt.SmartMap"
            name="org.wcs.smart.report.birt.SmartMap">
      </itemFactory>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               factory="org.wcs.smart.report.birt.map.properties.SmartMapItemPageGeneratorFactory"
               id="SmartMap.AttributeView"
               singleton="false"
               type="org.eclipse.birt.report.designer.ui.views.IPageGenerator">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property=" ExtendItemHandle.extensionName"
                     value="org.wcs.smart.report.birt.SmartMap">
               </test>
            </enablement>
         </adapter>
      </adaptable>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.reportitemUI">
      <model
            extensionName="org.wcs.smart.report.birt.SmartMap">
      </model>
      <palette
            icon="images/icons/obj16/map.png">
      </palette>
      <editor
            canResize="true"
            showInDesigner="true"
            showInMasterPage="true">
      </editor>
      <outline
            icon="images/icons/obj16/map.png">
      </outline>
      <reportItemImageUI
            class="org.wcs.smart.report.birt.map.SmartMapItemImageUi">
      </reportItemImageUI>
   </extension>
</plugin>
