<Context>

	<Realm className="org.apache.catalina.realm.LockOutRealm">
		<Realm className="org.apache.catalina.realm.DataSourceRealm"
			dataSourceName="jdbc/smart"
          	userTable="connect.users" userNameCol="username" 
          	userCredCol="password" userRoleTable="connect.user_roles" roleNameCol="role_id"
          	localDataSource="true">
			<CredentialHandler className="org.wcs.smart.connect.apache.BcryptCredentialHandler"/>
		</Realm>
  	</Realm>
  	
	<ResourceLink global="org.wcs.smart.connect.datasource.postgresql" name="jdbc/smart"/>
	<ResourceLink global="smartconnect.filestorelocation" name="smartconnect.filestorelocation"/>
	<ResourceLink global="smartconnect.dataqueue_cleanup_days" name="smartconnect.dataqueue_cleanup_days"/>
	<ResourceLink global="smartconnect.spatial_ref_sys_table" name="smartconnect.spatial_ref_sys_table"/>
	<ResourceLink global="smartconnect.number_background_threads" name="smartconnect.number_background_threads"/>
	<ResourceLink global="smartconnect.work_item_history_days_available" name="smartconnect.work_item_history_days_available"/>
	<ResourceLink global="smartconnect.changelog_cleanup_days" name="smartconnect.changelog_cleanup_days"/>
	<ResourceLink global="smartconnect.ca_export_days_available" name="smartconnect.ca_export_days_available"/>
	<ResourceLink global="smartconnect.sync_download_hours_available" name="smartconnect.sync_download_hours_available"/>
	<ResourceLink global="smartconnect.cleanup_task_interval_hours" name="smartconnect.cleanup_task_interval_hours"/>
	<ResourceLink global="mail/Session" name="mail/Session"/>
</Context>