<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.data.ods.smart.table" name="smartbirttable" schema="schema/org.wcs.smart.data.ods.smart.table.exsd"/>

   <extension
         id="org.wcs.smart.data.oda.smart"
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            driverClass="org.wcs.smart.data.oda.smart.impl.SmartDriver"
            defaultDisplayName="%datasource.display.name"
            setThreadContextClassLoader="false"
            odaVersion="3.2"
            id="org.wcs.smart.data.oda.smart">
      </dataSource>
      <dataSet
            defaultDisplayName="%query.dataset.display.name"
            id="org.wcs.smart.data.oda.smart.smartQueryDataset">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="8"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="BigDecimal"
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="91"
               odaScalarDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Time"
               nativeDataTypeCode="92"
               odaScalarDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Timestamp"
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="12"
               odaScalarDataType="String">
         </dataTypeMapping>
      </dataSet>
      <dataSet
            defaultDisplayName="%table.dataset.display.name"
            id="org.wcs.smart.data.oda.smart.smartTableDataset">
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="8"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="BigDecimal"
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="91"
               odaScalarDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Time"
               nativeDataTypeCode="92"
               odaScalarDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Timestamp"
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="12"
               odaScalarDataType="String">
         </dataTypeMapping>
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            name="%smartcategory.connectionprofile.name"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory"
            id="org.wcs.smart.data.oda.smart">
      </category>
      <connectionProfile
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            name="%datasource.connectionprofile.name"
            category="org.wcs.smart.data.oda.smart"
            id="org.wcs.smart.data.oda.smart">
      </connectionProfile>
      <connectionFactory
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="%connectionfactory.name"
            profile="org.wcs.smart.data.oda.smart">
      </connectionFactory>
   </extension>

</plugin>
