<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.query.queryDefinitionPanel">
      <QueryDefinitionPanel
            id="org.wcs.smart.asset.query.AssetSummaryGroupByValuePanel"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.asset.query.ui.definition.AssetSummaryGroupByValuePanel">
      </QueryDefinitionPanel>

   </extension>
   <extension
         point="org.wcs.smart.query.queryItemPanel">
      <QueryItemPanel
            id="org.wcs.smart.query.asset.summaryItemPanel"
            panel="org.wcs.smart.asset.query.ui.itempanel.SummaryFilterPanel">
      </QueryItemPanel>
      <QueryItemPanel
            id="org.wcs.smart.query.asset.filterPanel"
            panel="org.wcs.smart.asset.query.ui.itempanel.QueryFilterPanel">
      </QueryItemPanel>
   </extension>
   <extension
         id="org.wcs.smart.query.queryType"
         point="org.wcs.smart.query.queryType">
      <QueryCategory
            html_description="%asset.querycategory.html_description"
            id="org.wcs.smart.asset.query.group.AssetQueries"
            name="Asset Queries">
      </QueryCategory>
      <QueryType
            QueryCategory="org.wcs.smart.asset.query.group.AssetQueries"
            class="org.wcs.smart.asset.query.model.types.AssetObservationQueryType"
            executor="org.wcs.smart.asset.query.engine.AssetObservationEngine">
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.filter"
               itemPanelId="org.wcs.smart.query.asset.filterPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.asset.query.group.AssetQueries"
            class="org.wcs.smart.asset.query.model.types.AssetWaypointQueryType"
            executor="org.wcs.smart.asset.query.engine.AssetWaypointEngine">
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.filter"
               itemPanelId="org.wcs.smart.query.asset.filterPanel">
         </DefinitionPanel>
      </QueryType>
     
      <QueryType
            QueryCategory="org.wcs.smart.asset.query.group.AssetQueries"
            class="org.wcs.smart.asset.query.model.types.AssetSummaryQueryType"
            executor="org.wcs.smart.asset.query.engine.AssetSummaryEngine">
         <DefinitionPanel
               id="org.wcs.smart.asset.query.AssetSummaryGroupByValuePanel"
               itemPanelId="org.wcs.smart.query.asset.summaryItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.filter"
               itemPanelId="org.wcs.smart.query.asset.filterPanel">
         </DefinitionPanel>
      </QueryType>
   </extension>
   <extension
         point="org.wcs.smart.query.property">
      <queryproperty
            propertyName="Query Columns:"
            propertyProvider="org.wcs.smart.asset.query.ui.ColumnQueryPropertyProvider">
      </queryproperty>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.libs.mapping">
      <class
            class="org.wcs.smart.asset.query.model.AssetSummaryQuery"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.query.model.AssetWaypointQuery"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.query.model.AssetObservationQuery"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.query.exportFormat">
      <Exporter
            class="org.wcs.smart.asset.query.exportimport.AssetSimpleQueryDefinitionExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.asset.query.exportimport.AssetSummaryQueryDefinitionExporter">
      </Exporter>
   </extension>
    <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.asset.query.plugin.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.asset.query.plugin.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.asset.query.ui.editor.AssetSimpleQueryResultEditor"
            default="false"
            icon="images/icons/obj16/observation_query.png"
            id="org.wcs.smart.asset.query.ui.QueryResultsEditor"
            name="%observationqueryeditor.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.asset.query.ui.editor.AssetSummaryEditor"
            default="false"
            icon="images/icons/obj16/summary_query.png"
            id="org.wcs.smart.asset.query.ui.SummaryEditor"
            name="%summaryqueryeditor.editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.query.toolbar.menu.create?before=org.wcs.smart.query.createunknown.separator2">
         <menu
               icon="images/icons/obj16/asset.png"
               id="org.wcs.smart.query.createquery.assetquery"
               label="%assetquery.menu.label"
               tooltip="%assetquery.menu.tooltip">
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/observation_query.png"
                  label="%querytoolbar.createquery.menu.newobservationquery.command.label"
                  style="pulldown"
                  tooltip="%querytoolbar.createquery.menu.newobservationquery.command.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="assetobservation">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/waypoint_query.png"
                  label="%querytoolbar.newincident.command.label"
                  style="push"
                  tooltip="%querytoolbar.newincident.command.tooltip.">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="assetwaypoint">
               </parameter>
            </command>

            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/summary_query.png"
                  label="%querytoolbar.createquery.menu.newsummaryquery.command.label"
                  style="push"
                  tooltip="%querytoolbar.createquery.menu.newsummaryquery.command.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="assetsummary">
               </parameter>
            </command>
            
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.query.newquery?before=org.wcs.smart.query.newquery.separator2">
         <menu
               icon="images/icons/obj16/asset.png"
               id="org.wcs.smart.menu.query.newquery.assetqueries"
               label="%assetquery1.menu.label"
               tooltip="%assetquery1.menu.tooltip">
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/observation_query.png"
                  label="%querytoolbar.createquery.menu.newobservationquery.command.label"
                  style="pulldown"
                  tooltip="%querytoolbar.createquery.menu.newobservationquery.command.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="assetobservation">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/waypoint_query.png"
                  label="%querytoolbar.newincident.command.label"
                  style="push"
                  tooltip="%querytoolbar.newincident.command.tooltip.">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="assetwaypoint">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/summary_query.png"
                  label="%querytoolbar.createquery.menu.newsummaryquery.command.label"
                  style="push"
                  tooltip="%querytoolbar.createquery.menu.newsummaryquery.command.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="assetsummary">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.wcs.smart.query.import">
      <QueryImporter
            class="org.wcs.smart.asset.query.exportimport.AssetSimpleQueryDefinitionImporter">
      </QueryImporter>
      <QueryImporter
            class="org.wcs.smart.asset.query.exportimport.AssetSummaryQueryDefinitionImporter">
      </QueryImporter>
   </extension>
   <extension
         point="org.wcs.smart.caTemplateCloner">
      <templateCloner
            class="org.wcs.smart.asset.query.AssetQueryTemplateCloner"
            id="org.wcs.smart.assetQueryCloner">
         <require
               id="org.wcs.smart.QueryCloner">
         </require>
      </templateCloner>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrade">
      <dbUpgrader
            upgrader="org.wcs.smart.asset.query.plugin.AssetQueryDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.wcs.smart.changeLogInstaller">
      <ChangeLogTracker
            clazz="org.wcs.smart.asset.query.plugin.ChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
</plugin>
