<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.menu.ca">
         <menu
               id="org.wcs.smart.menu.patrol"
               label="Patrol"
               mnemonic="P">
            <command
                  commandId="org.wcs.smart.patrol.newPatrol"
                  icon="images/icons/etool16/patrol_add.png"
                  label="Create New Patrol"
                  mnemonic="C"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.patrol.importPatrol"
                  icon="images/icons/etool16/patrol_import.png"
                  label="Import Patrol"
                  mnemonic="I"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.patrol.exportPatrol"
                  icon="images/icons/etool16/patrol_export.png"
                  label="Export Patrol"
                  mnemonic="x"
                  style="push">
            </command>
            <separator
                  name="org.wcs.smart.patrol.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.patrol.patrolOptions"
                  icon="images/icons/etool16/patrol_option.png"
                  label="Patrol Options ..."
                  mnemonic="O"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.patrol.patrolMandate"
                  icon="images/icons/etool16/patrol_mandate.png"
                  label="Patrol Mandates ..."
                  mnemonic="M"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.patrol.patrolTypes"
                  icon="images/icons/etool16/patrol.png"
                  label="Patrol Types ..."
                  mnemonic="T"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.patrol.teamList"
                  icon="images/icons/etool16/patrol_team.png"
                  label="Patrol Teams ..."
                  mnemonic="e"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?before=org.wcs.smart.resetSeparator">
         <command
               commandId="org.wcs.smart.patrol.PatrolPerspective"
               icon="images/icons/etool16/patrol.png"
               label="Show Patrol Perspective"
               mnemonic="p"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.file?before=org.wcs.menu.file.logout">
         <separator
               name="org.wcs.smart.patrol.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.wcs.smart.patrol.patrolToolbar">
            <command
                  commandId="org.wcs.smart.patrol.newPatrol"
                  icon="images/icons/etool16/patrol_add.png"
                  label="Create New Patrol"
                  mnemonic="C"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.patrol.ui.PatrolListView">
         <command
               commandId="org.wcs.smart.patrol.view.DeletePatrol"
               icon="images/icons/etool16/patrol_delete.png"
               label="Delete Patrol"
               mnemonic="d"
               style="push"
               tooltip="delete the current selected patrol">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.patrol.view.ShowPatrolFilter"
               icon="images/icons/etool16/patrol_filter.png"
               style="push"
               tooltip="Filter the patrols displayed in this list">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.wcs.smart.patrol.ui.PatrolListView">
         <command
               commandId="org.wcs.smart.patrol.view.DeletePatrol"
               icon="images/icons/etool16/patrol_delete.png"
               label="Delete Patrol"
               mnemonic="d"
               style="push"
               tooltip="delete this patrol">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.patrol.patrolMandate"
            name="Show Patrol Mandate List">
      </command>
      <command
            id="org.wcs.smart.patrol.patrolTypes"
            name="Show Patrol Type List">
      </command>
      <command
            id="org.wcs.smart.patrol.patrolOptions"
            name="Show Patrol Options ">
      </command>
      <command
            id="org.wcs.smart.patrol.teamList"
            name="Show Team List">
      </command>
      <command
            id="org.wcs.smart.patrol.newPatrol"
            name="Create New Patrol">
      </command>
      <command
            id="org.wcs.smart.patrol.PatrolPerspective"
            name="Show Patrol Perspective">
      </command>
      <command
            id="org.wcs.smart.patrol.exportPatrol"
            name="Export Patrol">
      </command>
      <command
            id="org.wcs.smart.patrol.importPatrol"
            name="Import Patrol">
      </command>
      <command
            description="displays the patrol filter dialog"
            id="org.wcs.smart.patrol.view.ShowPatrolFilter"
            name="Show Patrol Filter">
      </command>
      <command
            description="Deletes the current selected patrol"
            id="org.wcs.smart.patrol.view.DeletePatrol"
            name="Delete Patrol">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.ShowPatrolTypeHandler"
            commandId="org.wcs.smart.patrol.patrolTypes">
         <activeWhen>
            <test
                  property="org.wcs.smart.smartAdminUser"
                  value="admin">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.ShowPatrolMandateHandler"
            commandId="org.wcs.smart.patrol.patrolMandate">
         <activeWhen>
            <test
                  property="org.wcs.smart.smartAdminUser"
                  value="admin">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.ShowPatrolOptionsHandler"
            commandId="org.wcs.smart.patrol.patrolOptions">
         <activeWhen>
            <test
                  property="org.wcs.smart.smartAdminUser"
                  value="admin">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.ShowPatrolTeamsHandler"
            commandId="org.wcs.smart.patrol.teamList">
         <activeWhen>
            <test
                  property="org.wcs.smart.smartAdminUser"
                  value="admin">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.NewPatrolHandler"
            commandId="org.wcs.smart.patrol.newPatrol">
         <activeWhen>
            <or>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="admin">
               </test>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="dataentry">
               </test>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="manager">
               </test>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.ShowPatrolPersepctiveHandler"
            commandId="org.wcs.smart.patrol.PatrolPerspective">
      </handler>
      <handler
            class="org.wcs.smart.patrol.xml.export.ExportPatrolHandler"
            commandId="org.wcs.smart.patrol.exportPatrol">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.wcs.smart.patrol.ui.PatrolEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.xml.in.ImportPatrolHandler"
            commandId="org.wcs.smart.patrol.importPatrol">
         <activeWhen>
            <or>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="admin">
               </test>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="dataentry">
               </test>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="manager">
               </test>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.views.ShowPatrolFilterHandler"
            commandId="org.wcs.smart.patrol.view.ShowPatrolFilter">
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.views.DeletePatrolHandler"
            commandId="org.wcs.smart.patrol.view.DeletePatrol">
         <activeWhen>
            <or>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="admin">
               </test>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="dataentry">
               </test>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="manager">
               </test>
            </or>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.wcs.smart.patrol.internal.ui.editor.PatrolEditorInput">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.patrol.model.PatrolMandate">
      </class>
      <class
            class="org.wcs.smart.patrol.model.PatrolType">
      </class>
      <class
            class="org.wcs.smart.patrol.model.PatrolTransportType">
      </class>
      <class
            class="org.wcs.smart.patrol.model.PatrolOptions">
      </class>
      <class
            class="org.wcs.smart.patrol.model.Team">
      </class>
      <class
            ca_property=".patrol.conservationArea"
            class="org.wcs.smart.patrol.model.PatrolLeg">
      </class>
      <class
            class="org.wcs.smart.patrol.model.Patrol">
      </class>
      <class
            ca_property=".patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.PatrolLegDay">
      </class>
      <class
            ca_property=".id.patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.PatrolLegMember">
      </class>
      <class
            ca_property=".patrolLegDay.patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.Waypoint">
      </class>
      <class
            ca_property=".waypoint.patrolLegDay.patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.WaypointAttachment">
      </class>
      <class
            ca_property=".waypoint.patrolLegDay.patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.WaypointObservation">
      </class>
      <class
            ca_property=".id.observation.waypoint.patrolLegDay.patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.WaypointObservationAttribute">
      </class>
      <class
            ca_property=".patrolLegDay.patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.Track">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.wcs.smart.patrol.internal.ui.views.PatrolListView"
            icon="images/icons/view16/patrol.png"
            id="org.wcs.smart.patrol.ui.PatrolListView"
            name="Patrol List View"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wcs.smart.patrol.internal.ui.editor.PatrolPerspective"
            icon="images/icons/view16/patrol.png"
            id="org.wcs.smart.patrol.PatrolPerspective"
            name="Patrol Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.patrol.internal.ui.editor.PatrolEditor"
            icon="images/icons/view16/patrol.png"
            id="org.wcs.smart.patrol.ui.PatrolEditor"
            name="Patrol Editor">
      </editor>
      <editor
            class="org.wcs.smart.patrol.internal.ui.editor.PatrolSummaryEditor"
            id="org.wcs.smart.patrol.ui.PatrolSummaryEditor"
            name="Patrol Summary Editor">
      </editor>
      <editor
            class="org.wcs.smart.patrol.internal.ui.editor.PatrolDayEditor"
            id="org.wcs.smart.patrol.ui.PatrolDayEditor"
            name="Patrol Day Editor">
      </editor>
      <editor
            class="org.wcs.smart.patrol.internal.ui.editor.PatrolMapPageEditor"
            default="false"
            id="org.wcs.smart.patrol.ui.PatrolMapEditor"
            name="Patrol Map Editor">
      </editor>
   </extension>

</plugin>
