<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=org.wcs.smart.menu.ca">
         <menu
               id="org.wcs.smart.menu.patrol"
               label="%patrol.menu.label"
               mnemonic="%patrol.menu.mnemonic">
            <command
                  commandId="org.wcs.smart.patrol.newPatrol"
                  icon="images/icons/etool16/patrol_add.png"
                  label="%patrol.newpatrol.command.label"
                  mnemonic="%patrol.newpatrol.command.mnemonic"
                  style="push"
                  tooltip="%patrol.newpatrol.command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.patrol.importPatrol"
                  icon="images/icons/etool16/patrol_import.png"
                  label="%patrol.importpatrols.command.label"
                  mnemonic="%patrol.importpatrols.command.mnemonic"
                  style="push"
                  tooltip="%patrol.importpatrols.command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.patrol.exportPatrol"
                  icon="images/icons/etool16/patrol_export.png"
                  label="%patrol.export.command.label"
                  mnemonic="%patrol.export.command.mnemonic"
                  style="push"
                  tooltip="%patrol.export.command.tooltip">
            </command>
            <separator
                  name="org.wcs.smart.patrol.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.patrol.patrolOptions"
                  icon="images/icons/etool16/patrol_option.png"
                  label="%patrol.options.command.label"
                  mnemonic="%patro.options.command.mnemonic"
                  style="push"
                  tooltip="%patrol.options.command.tooltip">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.patrol.patrolMandate"
                  icon="images/icons/etool16/patrol_mandate.png"
                  label="%patrol.mandates.command.label"
                  mnemonic="%patrol.mandates.command.mnemonic"
                  style="push"
                  tooltip="%patrol.mandates.command.tooltip">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.patrol.patrolTypes"
                  icon="images/icons/etool16/patrol.png"
                  label="%patro.types.command.label"
                  mnemonic="%patro.types.command.mnemonic"
                  style="push"
                  tooltip="%patro.types.command.tooltip">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.patrol.teamList"
                  icon="images/icons/etool16/patrol_team.png"
                  label="%patrols.teams.command.label"
                  mnemonic="%patrols.teams.command.mnemonic"
                  style="push"
                  tooltip="%patrols.teams.command.tooltip">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?before=org.wcs.smart.resetSeparator">
         <command
               commandId="org.wcs.smart.patrol.PatrolPerspective"
               icon="images/icons/etool16/patrol.png"
               label="%showpatrolperspective.command.label"
               mnemonic="%showpatrolperspectivecommand.mnemonic"
               style="push"
               tooltip="%showpatrolperspectivecommand.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.file?before=org.wcs.menu.file.logout">
         <separator
               name="org.wcs.smart.patrol.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.wcs.smart.patrol.patrolToolbar">
            <command
                  commandId="org.wcs.smart.patrol.newPatrol"
                  icon="images/icons/etool16/patrol_add.png"
                  label="%patroltoolbar.newpatrol.command.label"
                  mnemonic="%patroltoolbar.newpatrol.command.mnemonic"
                  style="push"
                  tooltip="%patroltoolbar.newpatrol.command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.patrol.ui.PatrolListView">
         <command
               commandId="org.wcs.smart.patrol.view.DeletePatrol"
               icon="images/icons/etool16/patrol_delete.png"
               label="%patrollist.delete.command.label"
               mnemonic="%patrollist.delete.command.mnemonic"
               style="push"
               tooltip="%patrollist.delete.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.wcs.smart.patrol.view.ShowPatrolFilter"
               icon="images/icons/etool16/patrol_filter.png"
               label="%patrollist.filter.command.label"
               style="push"
               tooltip="%patrollist.filter.command.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.wcs.smart.patrol.ui.PatrolListView">
         <command
               commandId="org.wcs.smart.patrol.view.DeletePatrol"
               icon="images/icons/etool16/patrol_delete.png"
               label="%popup.delete.command.label"
               mnemonic="%popup.delete.command.mnemonic"
               style="push"
               tooltip="%popup.delete.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.file?before=org.wcs.menu.file.changeuserpassword">
         <separator
               name="org.wcs.smart.query.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.export"
               id="x"
               label="%file.exportmap.command.label"
               style="push"
               tooltip="%file.exportmap.command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.wcs.smart.patrol.PatrolPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.wcs.smart.query.separator3"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.patrol.patrolMandate"
            name="%mandates.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.patrolTypes"
            name="%types.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.patrolOptions"
            name="%options.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.teamList"
            name="%teams.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.newPatrol"
            name="%newpatrol.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.PatrolPerspective"
            name="%showperspective.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.exportPatrol"
            name="%exportpatrol.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.importPatrol"
            name="%importpatrol.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.view.ShowPatrolFilter"
            name="%patrolfilter.command.name">
      </command>
      <command
            id="org.wcs.smart.patrol.view.DeletePatrol"
            name="%deletepatrol.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.ShowPatrolTypeHandler"
            commandId="org.wcs.smart.patrol.patrolTypes">
         <activeWhen>
            <test
                  property="org.wcs.smart.smartAdminUser"
                  value="admin">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.ShowPatrolMandateHandler"
            commandId="org.wcs.smart.patrol.patrolMandate">
         <activeWhen>
            <test
                  property="org.wcs.smart.smartAdminUser"
                  value="admin">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.ShowPatrolOptionsHandler"
            commandId="org.wcs.smart.patrol.patrolOptions">
         <activeWhen>
            <test
                  property="org.wcs.smart.smartAdminUser"
                  value="admin">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.ShowPatrolTeamsHandler"
            commandId="org.wcs.smart.patrol.teamList">
         <activeWhen>
            <test
                  property="org.wcs.smart.smartAdminUser"
                  value="admin">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.properties.handlers.NewPatrolHandler"
            commandId="org.wcs.smart.patrol.newPatrol">
         <activeWhen>
            <or>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="admin">
               </test>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="dataentry">
               </test>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="manager">
               </test>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.ShowPatrolPersepctiveHandler"
            commandId="org.wcs.smart.patrol.PatrolPerspective">
      </handler>
      <handler
            class="org.wcs.smart.patrol.xml.export.ExportPatrolHandler"
            commandId="org.wcs.smart.patrol.exportPatrol">
         <activeWhen>
            <or>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="admin">
               </test>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="dataentry">
               </test>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="manager">
               </test>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.xml.in.ImportPatrolHandler"
            commandId="org.wcs.smart.patrol.importPatrol">
         <activeWhen>
            <or>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="admin">
               </test>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="dataentry">
               </test>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="manager">
               </test>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.views.ShowPatrolFilterHandler"
            commandId="org.wcs.smart.patrol.view.ShowPatrolFilter">
      </handler>
      <handler
            class="org.wcs.smart.patrol.internal.ui.views.DeletePatrolHandler"
            commandId="org.wcs.smart.patrol.view.DeletePatrol">
         <activeWhen>
            <or>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="admin">
               </test>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="dataentry">
               </test>
               <test
                     property="org.wcs.smart.smartAdminUser"
                     value="manager">
               </test>
            </or>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.wcs.smart.patrol.internal.ui.editor.PatrolEditorInput">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.patrol.model.PatrolMandate">
      </class>
      <class
            ca_property=".id.conservationArea"
            class="org.wcs.smart.patrol.model.PatrolType">
      </class>
      <class
            class="org.wcs.smart.patrol.model.PatrolTransportType">
      </class>
      <class
            ca_property=".uuid"
            class="org.wcs.smart.patrol.model.PatrolOptions">
      </class>
      <class
            class="org.wcs.smart.patrol.model.Team">
      </class>
      <class
            ca_property=".patrol.conservationArea"
            class="org.wcs.smart.patrol.model.PatrolLeg">
      </class>
      <class
            class="org.wcs.smart.patrol.model.Patrol">
      </class>
      <class
            ca_property=".patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.PatrolLegDay">
      </class>
      <class
            ca_property=".id.patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.PatrolLegMember">
      </class>
      <class
            ca_property=".patrolLegDay.patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.Waypoint">
      </class>
      <class
            ca_property=".waypoint.patrolLegDay.patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.WaypointAttachment">
      </class>
      <class
            ca_property=".waypoint.patrolLegDay.patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.WaypointObservation">
      </class>
      <class
            ca_property=".id.observation.waypoint.patrolLegDay.patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.WaypointObservationAttribute">
      </class>
      <class
            ca_property=".patrolLegDay.patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.patrol.model.Track">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.wcs.smart.patrol.internal.ui.views.PatrolListView"
            icon="images/icons/view16/patrol.png"
            id="org.wcs.smart.patrol.ui.PatrolListView"
            name="%patrollist.view.name"
            restorable="false">
      </view>
      <view
            class="org.wcs.smart.patrol.ui.views.WaypointInfoView"
            icon="images/icons/view16/waypoint_info.png"
            id="org.wcs.smart.patrol.waypointInfo"
            name="%waypointinfo.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wcs.smart.patrol.internal.ui.editor.PatrolPerspective"
            icon="images/icons/view16/patrol.png"
            id="org.wcs.smart.patrol.PatrolPerspective"
            name="%patrol.perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.patrol.internal.ui.editor.PatrolEditor"
            icon="images/icons/view16/patrol.png"
            id="org.wcs.smart.patrol.ui.PatrolEditor"
            name="%patrol.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.patrol.internal.ui.editor.PatrolSummaryEditor"
            id="org.wcs.smart.patrol.ui.PatrolSummaryEditor"
            name="%patrolsummary.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.patrol.internal.ui.editor.PatrolDayEditor"
            id="org.wcs.smart.patrol.ui.PatrolDayEditor"
            name="%patrolday.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.patrol.internal.ui.editor.PatrolMapPageEditor"
            default="false"
            id="org.wcs.smart.patrol.ui.PatrolMapEditor"
            name="%patrolmap.editor.name">
      </editor>
   </extension>
   <extension
         point="org.wcs.smart.ca.deleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.MandateDeleteAdvisor"
            class="org.wcs.smart.patrol.model.PatrolMandate">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.StationDeleteAdvisor"
            class="org.wcs.smart.ca.Station">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.TeamDeleteAdvisor"
            class="org.wcs.smart.patrol.model.Team">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.TransportTypeDeleteAdvisor"
            class="org.wcs.smart.patrol.model.PatrolTransportType">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.CategoryDMAdvisor"
            class="org.wcs.smart.ca.datamodel.Category">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.AttributeDMAdvisor"
            class="org.wcs.smart.ca.datamodel.Attribute">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.CategoryAttributeDMAdvisor"
            class="org.wcs.smart.ca.datamodel.CategoryAttribute">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.AttributeTreeNodeDMAdvisor"
            class="org.wcs.smart.ca.datamodel.AttributeTreeNode">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.AttributeListItemDMAdvisor"
            class="org.wcs.smart.ca.datamodel.AttributeListItem">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.patrol.internal.advisors.EmployeeDeleteAdvisor"
            class="org.wcs.smart.ca.Employee">
      </DeleteAdvisor>
   </extension>

</plugin>
