<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.query.queryItemPanel">
      <QueryItemPanel
            id="org.wcs.smart.observation.query.GriddedItemPanel"
            panel="org.wcs.smart.observation.query.ui.itempanel.GriddedItemPanel">
      </QueryItemPanel>
      <QueryItemPanel
            id="org.wcs.smart.observation.query.summaryItemPanel"
            panel="org.wcs.smart.observation.query.ui.itempanel.SummaryFilterPanel">
      </QueryItemPanel>
      <QueryItemPanel
            id="org.wcs.smart.observation.query.filterPanel"
            panel="org.wcs.smart.observation.query.ui.itempanel.QueryFilterPanel">
      </QueryItemPanel>
   </extension>
   <extension
         point="org.wcs.smart.query.queryType">
      <QueryCategory
            html_description="%querycategory.html_description"
            id="org.wcs.smart.observation.query.group.AllData"
            name="%querycategory.name">
      </QueryCategory>
      <QueryType
            QueryCategory="org.wcs.smart.observation.query.group.AllData"
            class="org.wcs.smart.observation.query.model.types.ObservationQueryType"
            executor="org.wcs.smart.observation.query.engine.DerbyObservationEngine">
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.filter"
               itemPanelId="org.wcs.smart.observation.query.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.observation.query.group.AllData"
            class="org.wcs.smart.observation.query.model.types.ObservationWaypointQueryType"
            executor="org.wcs.smart.observation.query.engine.DerbyWaypointEngine">
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.filter"
               itemPanelId="org.wcs.smart.observation.query.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.observation.query.group.AllData"
            class="org.wcs.smart.observation.query.model.types.ObservationGridQueryType"
            executor="org.wcs.smart.observation.query.engine.DerbyGridEngine">
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.grid"
               itemPanelId="org.wcs.smart.observation.query.GriddedItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.filter"
               itemPanelId="org.wcs.smart.observation.query.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.observation.query.group.AllData"
            class="org.wcs.smart.observation.query.model.types.ObservationSummaryQueryType"
            executor="org.wcs.smart.observation.query.engine.DerbySummaryEngine">
         <DefinitionPanel
               id="org.wcs.smart.observation.query.ObservationSummaryGroupByValuePanel"
               itemPanelId="org.wcs.smart.observation.query.summaryItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.filter"
               itemPanelId="org.wcs.smart.observation.query.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
   </extension>
   <extension
         point="org.wcs.smart.query.queryDefinitionPanel">
      <QueryDefinitionPanel
            id="org.wcs.smart.observation.query.ObservationSummaryGroupByValuePanel"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.observation.query.ui.definition.ObservationSummaryGroupByValuePanel">
      </QueryDefinitionPanel>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.query.toolbar.menu.create?after=org.wcs.smart.query.createunknown.separator">
         <menu
               id="org.wcs.smart.query.createquery.alldata"
               label="%menu.query.alldata.name"
               tooltip="%menu.query.alldata.tooltip">
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/observation_query.png"
                  label="%command.label.newobservation"
                  style="pulldown"
                  tooltip="%command.tooltip.newobservation">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="observationobservation">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/waypoint_query.png"
                  label="%command.label.newincident"
                  style="push"
                  tooltip="%command.tooltip.newincident">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="observationwaypoint">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/summary_query.png"
                  label="%command.label.newsummary"
                  style="push"
                  tooltip="%command.tooltip.newsummary">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="observationsummary">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/gridded_query.png"
                  label="%command.label.newgrid"
                  style="push"
                  tooltip="%command.tooltip.newgrid">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="observationgrid">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.query.newquery?after=org.wcs.smart.query.newquery.separator">
         <menu
               id="org.wcs.smart.menu.query.newquery.alldata"
               label="%menu.query.alldata.name"
               tooltip="%menu.query.alldata.tooltip">
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/observation_query.png"
                  label="%command.label.newobservation"
                  style="pulldown"
                  tooltip="%command.tooltip.newobservation">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="observationobservation">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/waypoint_query.png"
                  label="%command.label.newincident"
                  style="push"
                  tooltip="%command.tooltip.newincident">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="observationwaypoint">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/summary_query.png"
                  label="%command.label.newsummary"
                  style="push"
                  tooltip="%command.tooltip.newsummary">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="observationsummary">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/gridded_query.png"
                  label="%command.label.newgrid"
                  style="push"
                  tooltip="%command.tooltip.newgrid">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="observationgrid">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.observation.query.ui.SimpleQueryEditor"
            default="false"
            id="org.wcs.smart.observation.editor.simple"
            name="%editor.name.simple">
      </editor>
      <editor
            class="org.wcs.smart.observation.query.ui.ObservationSummaryQueryEditor"
            default="false"
            id="org.wcs.smart.observation.editor.summary"
            name="%editor.name.summary">
      </editor>
      <editor
            class="org.wcs.smart.observation.query.ui.ObservationGriddedQueryEditor"
            default="false"
            id="org.wcs.smart.observation.editor.gridded"
            name="%editor.name.gridded">
      </editor>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.observation.query.model.ObservationGriddedQuery"
            supportsCcaa="true">
      </class>
      <class
            class="org.wcs.smart.observation.query.model.ObservationWaypointQuery"
            supportsCcaa="true">
      </class>
      <class
            class="org.wcs.smart.observation.query.model.ObservationSummaryQuery"
            supportsCcaa="true">
      </class>
      <class
            class="org.wcs.smart.observation.query.model.ObsObservationQuery"
            supportsCcaa="true">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.query.export.format">
      <Exporter
            class="org.wcs.smart.observation.query.exportimport.ObsGridQueryDefinitionExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.observation.query.exportimport.ObsSummaryQueryDefinitionExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.observation.query.exportimport.ObsSimpleQueryDefinitionExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.observation.query.exportimport.ObsShapeQueryExporter">
      </Exporter>
   </extension>
   <extension
         point="org.wcs.smart.query.import">
      <QueryImporter
            class="org.wcs.smart.observation.query.exportimport.ObsGriddedQueryDefImporter">
      </QueryImporter>
      <QueryImporter
            class="org.wcs.smart.observation.query.exportimport.ObsSimpleQueryDefinitionImporter">
      </QueryImporter>
      <QueryImporter
            class="org.wcs.smart.observation.query.exportimport.ObsSummaryQueryDefinitionImporter">
      </QueryImporter>
   </extension>
   <extension
         point="org.wcs.smart.query.property">
      <queryproperty
            propertyName="org.wcs.smart.observation.query.observationquerycolumns"
            propertyProvider="org.wcs.smart.observation.query.ui.ColumnQueryPropertyProvider">
      </queryproperty>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.observation.query.internal.ObservationQueryTemplateCloner"
            id="org.wcs.smart.query.ObservationQueryCloner">
         <require
               id="org.wcs.smart.QueryCloner">
         </require>
      </templateCloner>
   </extension>

</plugin>
