<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.patrol.query.filter.patrol" name="Patrol Filter" schema="schema/org.wcs.smart.patrol.query.filter.patrol.exsd"/>
   <extension
         point="org.wcs.smart.query.queryDefinitionPanel">
      <QueryDefinitionPanel
            id="org.wcs.smart.patrol.query.SimplePatrolFilterPanel"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.patrol.query.ui.definition.SimplePatrolFilterPanel">
      </QueryDefinitionPanel>
      <QueryDefinitionPanel
            id="org.wcs.smart.patrol.query.PatrolSummaryGroupByValuePanel"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.patrol.query.ui.definition.PatrolSummaryGroupByValuePanel">
      </QueryDefinitionPanel>
      <QueryDefinitionPanel
            id="org.wcs.smart.patrol.query.PatrolGriddedQueryDefinitionPanel"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.patrol.query.ui.definition.PatrolGriddedQueryDefinitionPanel">
      </QueryDefinitionPanel>
      <QueryDefinitionPanel
            id="org.wcs.smart.patrol.query.PatrolValueRateFilterPanel"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.patrol.query.ui.definition.SimpleValueRateFilterPanel">
      </QueryDefinitionPanel>
   </extension>
   <extension
         point="org.wcs.smart.query.queryItemPanel">
      <QueryItemPanel
            id="org.wcs.smart.query.patrol.summaryItemPanel"
            panel="org.wcs.smart.patrol.query.ui.itempanel.SummaryFilterPanel">
      </QueryItemPanel>
      <QueryItemPanel
            id="org.wcs.smart.query.patrol.filterPanel"
            panel="org.wcs.smart.patrol.query.ui.itempanel.QueryFilterPanel">
      </QueryItemPanel>
      <QueryItemPanel
            id="org.wcs.smart.query.patrol.GridFilterItemPanel"
            panel="org.wcs.smart.patrol.query.ui.itempanel.GriddedFilterPanel">
      </QueryItemPanel>
   </extension>
   <extension
         point="org.wcs.smart.query.queryType">
      <QueryType
            class="org.wcs.smart.patrol.query.model.types.PatrolObservationQueryType">
         <DefinitionPanel
               id="org.wcs.smart.patrol.query.SimplePatrolFilterPanel"
               itemPanelId="org.wcs.smart.query.patrol.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            class="org.wcs.smart.patrol.query.model.types.PatrolWaypointQueryType">
         <DefinitionPanel
               id="org.wcs.smart.patrol.query.SimplePatrolFilterPanel"
               itemPanelId="org.wcs.smart.query.patrol.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            class="org.wcs.smart.patrol.query.model.types.PatrolQueryType">
         <DefinitionPanel
               id="org.wcs.smart.patrol.query.SimplePatrolFilterPanel"
               itemPanelId="org.wcs.smart.query.patrol.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            class="org.wcs.smart.patrol.query.model.types.PatrolGridQueryType">
         <DefinitionPanel
               id="org.wcs.smart.patrol.query.PatrolGriddedQueryDefinitionPanel"
               itemPanelId="org.wcs.smart.query.patrol.GridFilterItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.patrol.query.PatrolValueRateFilterPanel"
               itemPanelId="org.wcs.smart.query.patrol.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            class="org.wcs.smart.patrol.query.model.types.PatrolSummaryQueryType">
         <DefinitionPanel
               id="org.wcs.smart.patrol.query.PatrolSummaryGroupByValuePanel"
               itemPanelId="org.wcs.smart.query.patrol.summaryItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.patrol.query.PatrolValueRateFilterPanel"
               itemPanelId="org.wcs.smart.query.patrol.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
   </extension>
   <extension
         point="org.wcs.smart.query.property">
      <queryproperty
            propertyName="Query Columns:"
            propertyProvider="org.wcs.smart.patrol.query.ui.ColumnQueryPropertyProvider">
      </queryproperty>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.patrol.query.model.PatrolSummaryQuery">
      </class>
      <class
            class="org.wcs.smart.patrol.query.model.PatrolQuery">
      </class>
      <class
            class="org.wcs.smart.patrol.query.model.PatrolGriddedQuery">
      </class>
      <class
            class="org.wcs.smart.patrol.query.model.PatrolWaypointQuery">
      </class>
      <class
            class="org.wcs.smart.patrol.query.model.PatrolObservationQuery">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.query.export.format">
      <Exporter
            class="org.wcs.smart.patrol.query.exportimport.ShapeQueryExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.patrol.query.exportimport.CsvSimpleQueryExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.patrol.query.exportimport.CsvSummaryExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.patrol.query.exportimport.SimpleQueryDefinitionExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.patrol.query.exportimport.SummaryQueryDefinitionExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.patrol.query.exportimport.ShapePatrolQueryExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.patrol.query.exportimport.GridQueryDefinitionExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.patrol.query.exportimport.GridArcImageExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.patrol.query.exportimport.GridTiffImageExporter">
      </Exporter>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.patrol.query.ui.editor.PatrolSimpleQueryResultEditor"
            default="false"
            icon="images/icons/obj16/observation_query.png"
            id="org.wcs.smart.query.ui.QueryResultsEditor"
            name="%observationqueryeditor.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.patrol.query.ui.editor.PatrolSummaryEditor"
            default="false"
            icon="images/icons/obj16/summary_query.png"
            id="org.wcs.smart.query.ui.SummaryEditor"
            name="%summaryqueryeditor.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.patrol.query.ui.editor.PatrolQueryResultsEditor"
            default="false"
            icon="images/icons/obj16/patrol_query.png"
            id="org.wcs.smart.query.ui.PatrolQueryResultsEditor"
            name="%patrolqueryeditor.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.patrol.query.ui.editor.PatrolGriddedEditor"
            default="false"
            icon="images/icons/obj16/gridded_query.png"
            id="org.wcs.smart.query.ui.GriddedEditor"
            name="%griddedqueryeditor.editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.query.createPatrolQuery"
            icon="images/icons/obj16/patrol_query.png">
      </image>
      <image
            commandId="org.wcs.smart.query.createSummary"
            icon="images/icons/obj16/summary_query.png">
      </image>
      <image
            commandId="org.wcs.smart.query.createGriddedSummary"
            icon="images/icons/obj16/gridded_query.png">
      </image>
      <image
            commandId="org.wcs.smart.query.createWaypointQuery"
            icon="images/icons/obj16/waypoint_query.png">
      </image>
      <image
            commandId="org.wcs.smart.query.createQuery"
            icon="images/icons/obj16/observation_query.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.query.createUnknownQuery">
         <command
               commandId="org.wcs.smart.query.createQuery"
               label="%querytoolbar.createquery.menu.newobservationquery.command.label"
               style="pulldown"
               tooltip="%querytoolbar.createquery.menu.newobservationquery.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.query.createWaypointQuery"
               label="%querytoolbar.newincident.command.label"
               style="push"
               tooltip="%querytoolbar.newincident.command.tooltip.">
         </command>
         <command
               commandId="org.wcs.smart.query.createPatrolQuery"
               label="%querytoolbar.createquery.menu.newpatrolquery.command.label"
               style="push"
               tooltip="%querytoolbar.createquery.menu.newpatrolquery.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.query.createSummary"
               label="%querytoolbar.createquery.menu.newsummaryquery.command.label"
               style="push"
               tooltip="%querytoolbar.createquery.menu.newsummaryquery.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.query.createGriddedSummary"
               label="%querytoolbar.createquery.menu.newgridsummary.command.label"
               style="push"
               tooltip="%querytoolbar.createquery.menu.newgridsummary.command.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.query.newquery">
         <separator
               name="org.wcs.smart.patrol.query.menu.newquery.sep1"
               visible="true">
         </separator>
         <command
               commandId="org.wcs.smart.query.createQuery"
               label="%querytoolbar.createquery.menu.newobservationquery.command.label"
               style="pulldown"
               tooltip="%querytoolbar.createquery.menu.newobservationquery.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.query.createWaypointQuery"
               label="%querytoolbar.newincident.command.label"
               style="push"
               tooltip="%querytoolbar.newincident.command.tooltip.">
         </command>
         <command
               commandId="org.wcs.smart.query.createPatrolQuery"
               label="%querytoolbar.createquery.menu.newpatrolquery.command.label"
               style="push"
               tooltip="%querytoolbar.createquery.menu.newpatrolquery.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.query.createSummary"
               label="%querytoolbar.createquery.menu.newsummaryquery.command.label"
               style="push"
               tooltip="%querytoolbar.createquery.menu.newsummaryquery.command.tooltip">
         </command>
         <command
               commandId="org.wcs.smart.query.createGriddedSummary"
               label="%querytoolbar.createquery.menu.newgridsummary.command.label"
               style="push"
               tooltip="%querytoolbar.createquery.menu.newgridsummary.command.tooltip">
         </command>
         <separator
               name="org.wcs.smart.patrol.query.menu.newquery.sep2"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.query.createQuery"
            name="%createquery.command.name">
      </command>
      <command
            id="org.wcs.smart.query.createSummary"
            name="%createsummaryquery.command.name">
      </command>
      <command
            id="org.wcs.smart.query.createPatrolQuery"
            name="%createpatrolquery.command.name">
      </command>
      <command
            id="org.wcs.smart.query.createGriddedSummary"
            name="%creategriddedquery.command.name">
      </command>
      <command
            id="org.wcs.smart.query.createWaypointQuery"
            name="%newincident.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.patrol.query.ui.CreateQueryHandler"
            commandId="org.wcs.smart.query.createSummary">
      </handler>
      <handler
            class="org.wcs.smart.patrol.query.ui.CreateQueryHandler"
            commandId="org.wcs.smart.query.createGriddedSummary">
      </handler>
      <handler
            class="org.wcs.smart.patrol.query.ui.CreateQueryHandler"
            commandId="org.wcs.smart.query.createWaypointQuery">
      </handler>
      <handler
            class="org.wcs.smart.patrol.query.ui.CreateQueryHandler"
            commandId="org.wcs.smart.query.createPatrolQuery">
      </handler>
      <handler
            class="org.wcs.smart.patrol.query.ui.CreateQueryHandler"
            commandId="org.wcs.smart.query.createQuery">
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.query.import">
      <QueryImporter
            class="org.wcs.smart.patrol.query.exportimport.SimpleQueryDefinitionImporter">
      </QueryImporter>
      <QueryImporter
            class="org.wcs.smart.patrol.query.exportimport.SummaryQueryDefinitionImporter">
      </QueryImporter>
      <QueryImporter
            class="org.wcs.smart.patrol.query.exportimport.GriddedQueryDefinitionImporter">
      </QueryImporter>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.patrol.query.PatrolQueryTemplateCloner"
            id="org.wcs.smart.queryAreaCloner">
         <require
               id="org.wcs.smart.queryAreaCloner">
         </require>
      </templateCloner>
   </extension>
</plugin>
