<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.patrol.query.contribution" name="Patrol Query Contributions" schema="schema/org.wcs.smart.patrol.query.contribution.exsd"/>
   <extension
         point="org.wcs.smart.query.queryDefinitionPanel">
      <QueryDefinitionPanel
            id="org.wcs.smart.patrol.query.PatrolSummaryGroupByValuePanel"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.patrol.query.ui.definition.PatrolSummaryGroupByValuePanel">
      </QueryDefinitionPanel>
      <QueryDefinitionPanel
            id="org.wcs.smart.patrol.query.PatrolGriddedQueryDefinitionPanel"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.patrol.query.ui.definition.PatrolGriddedQueryDefinitionPanel">
      </QueryDefinitionPanel>
      <QueryDefinitionPanel
            id="org.wcs.smart.patrol.query.PatrolValueRateFilterPanel"
            isMultiCa="true"
            isSingleCa="true"
            panel="org.wcs.smart.patrol.query.ui.definition.SimpleValueRateFilterPanel">
      </QueryDefinitionPanel>
   </extension>
   <extension
         point="org.wcs.smart.query.queryItemPanel">
      <QueryItemPanel
            id="org.wcs.smart.query.patrol.summaryItemPanel"
            panel="org.wcs.smart.patrol.query.ui.itempanel.SummaryFilterPanel">
      </QueryItemPanel>
      <QueryItemPanel
            id="org.wcs.smart.query.patrol.filterPanel"
            panel="org.wcs.smart.patrol.query.ui.itempanel.QueryFilterPanel">
      </QueryItemPanel>
      <QueryItemPanel
            id="org.wcs.smart.query.patrol.GridFilterItemPanel"
            panel="org.wcs.smart.patrol.query.ui.itempanel.GriddedFilterPanel">
      </QueryItemPanel>
   </extension>
   <extension
         id="org.wcs.smart.query.queryType"
         point="org.wcs.smart.query.queryType">
      <QueryCategory
            html_description="%patrol.querycategory.html_description"
            id="org.wcs.smart.patrol.query.group.PatrolQueries"
            name="Patrol Queries">
      </QueryCategory>
      <QueryType
            QueryCategory="org.wcs.smart.patrol.query.group.PatrolQueries"
            class="org.wcs.smart.patrol.query.model.types.PatrolObservationQueryType"
            executor="org.wcs.smart.patrol.query.engine.DerbyObservationEngine">
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.filter"
               itemPanelId="org.wcs.smart.query.patrol.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.patrol.query.group.PatrolQueries"
            class="org.wcs.smart.patrol.query.model.types.PatrolWaypointQueryType"
            executor="org.wcs.smart.patrol.query.engine.DerbyWaypointEngine">
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.filter"
               itemPanelId="org.wcs.smart.query.patrol.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.patrol.query.group.PatrolQueries"
            class="org.wcs.smart.patrol.query.model.types.PatrolQueryType"
            executor="org.wcs.smart.patrol.query.engine.DerbyPatrolEngine">
         <DefinitionPanel
               id="org.wcs.smart.query.common.definition.filter"
               itemPanelId="org.wcs.smart.query.patrol.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.patrol.query.group.PatrolQueries"
            class="org.wcs.smart.patrol.query.model.types.PatrolGridQueryType"
            executor="org.wcs.smart.patrol.query.engine.DerbyGridEngine">
         <DefinitionPanel
               id="org.wcs.smart.patrol.query.PatrolGriddedQueryDefinitionPanel"
               itemPanelId="org.wcs.smart.query.patrol.GridFilterItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.patrol.query.PatrolValueRateFilterPanel"
               itemPanelId="org.wcs.smart.query.patrol.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
      <QueryType
            QueryCategory="org.wcs.smart.patrol.query.group.PatrolQueries"
            class="org.wcs.smart.patrol.query.model.types.PatrolSummaryQueryType"
            executor="org.wcs.smart.patrol.query.engine.DerbySummaryEngine">
         <DefinitionPanel
               id="org.wcs.smart.patrol.query.PatrolSummaryGroupByValuePanel"
               itemPanelId="org.wcs.smart.query.patrol.summaryItemPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.patrol.query.PatrolValueRateFilterPanel"
               itemPanelId="org.wcs.smart.query.patrol.filterPanel">
         </DefinitionPanel>
         <DefinitionPanel
               id="org.wcs.smart.query.conservationAreaPanel">
         </DefinitionPanel>
      </QueryType>
   </extension>
   <extension
         point="org.wcs.smart.query.property">
      <queryproperty
            propertyName="Query Columns:"
            propertyProvider="org.wcs.smart.patrol.query.ui.ColumnQueryPropertyProvider">
      </queryproperty>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.patrol.query.model.PatrolSummaryQuery"
            supportsCcaa="true">
      </class>
      <class
            class="org.wcs.smart.patrol.query.model.PatrolQuery"
            supportsCcaa="true">
      </class>
      <class
            class="org.wcs.smart.patrol.query.model.PatrolGriddedQuery"
            supportsCcaa="true">
      </class>
      <class
            class="org.wcs.smart.patrol.query.model.PatrolWaypointQuery"
            supportsCcaa="true">
      </class>
      <class
            class="org.wcs.smart.patrol.query.model.PatrolObservationQuery"
            supportsCcaa="true">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.query.export.format">
      <Exporter
            class="org.wcs.smart.patrol.query.exportimport.PatrolSimpleQueryDefinitionExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.patrol.query.exportimport.PatrolSummaryQueryDefinitionExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.patrol.query.exportimport.PatrolShapeQueryExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.patrol.query.exportimport.PatrolGridQueryDefinitionExporter">
      </Exporter>
      <Exporter
            class="org.wcs.smart.patrol.query.exportimport.PatrolGpxQueryExporter">
      </Exporter>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.patrol.query.ui.editor.PatrolSimpleQueryResultEditor"
            default="false"
            icon="images/icons/obj16/observation_query.png"
            id="org.wcs.smart.query.ui.QueryResultsEditor"
            name="%observationqueryeditor.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.patrol.query.ui.editor.PatrolSummaryEditor"
            default="false"
            icon="images/icons/obj16/summary_query.png"
            id="org.wcs.smart.query.ui.SummaryEditor"
            name="%summaryqueryeditor.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.patrol.query.ui.editor.PatrolQueryResultsEditor"
            default="false"
            icon="images/icons/obj16/patrol_query.png"
            id="org.wcs.smart.query.ui.PatrolQueryResultsEditor"
            name="%patrolqueryeditor.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.patrol.query.ui.editor.PatrolGriddedEditor"
            default="false"
            icon="images/icons/obj16/gridded_query.png"
            id="org.wcs.smart.query.ui.GriddedEditor"
            name="%griddedqueryeditor.editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.query.toolbar.menu.create?before=org.wcs.smart.query.createunknown.separator2">
         <menu
               icon="images/icons/obj16/patrol.png"
               id="org.wcs.smart.query.createquery.patrolquery"
               label="%patrolquery.menu.label"
               tooltip="%patrolquery.menu.tooltip">
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/observation_query.png"
                  label="%querytoolbar.createquery.menu.newobservationquery.command.label"
                  style="pulldown"
                  tooltip="%querytoolbar.createquery.menu.newobservationquery.command.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="patrolobservation">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/waypoint_query.png"
                  label="%querytoolbar.newincident.command.label"
                  style="push"
                  tooltip="%querytoolbar.newincident.command.tooltip.">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="patrolwaypoint">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/patrol_query.png"
                  label="%querytoolbar.createquery.menu.newpatrolquery.command.label"
                  style="push"
                  tooltip="%querytoolbar.createquery.menu.newpatrolquery.command.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="patrolquery">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/summary_query.png"
                  label="%querytoolbar.createquery.menu.newsummaryquery.command.label"
                  style="push"
                  tooltip="%querytoolbar.createquery.menu.newsummaryquery.command.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="patrolsummary">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/gridded_query.png"
                  label="%querytoolbar.createquery.menu.newgridsummary.command.label"
                  style="push"
                  tooltip="%querytoolbar.createquery.menu.newgridsummary.command.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="patrolgrid">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.query.newquery?before=org.wcs.smart.query.newquery.separator2">
         <menu
               icon="images/icons/obj16/patrol.png"
               id="org.wcs.smart.menu.query.newquery.patrolqueries"
               label="%patrolquery1.menu.label"
               tooltip="%patrolquery1.menu.tooltip">
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/observation_query.png"
                  label="%querytoolbar.createquery.menu.newobservationquery.command.label"
                  style="pulldown"
                  tooltip="%querytoolbar.createquery.menu.newobservationquery.command.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="patrolobservation">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/waypoint_query.png"
                  label="%querytoolbar.newincident.command.label"
                  style="push"
                  tooltip="%querytoolbar.newincident.command.tooltip.">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="patrolwaypoint">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/patrol_query.png"
                  label="%querytoolbar.createquery.menu.newpatrolquery.command.label"
                  style="push"
                  tooltip="%querytoolbar.createquery.menu.newpatrolquery.command.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="patrolquery">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/summary_query.png"
                  label="%querytoolbar.createquery.menu.newsummaryquery.command.label"
                  style="push"
                  tooltip="%querytoolbar.createquery.menu.newsummaryquery.command.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="patrolsummary">
               </parameter>
            </command>
            <command
                  commandId="org.wcs.smart.query.create.unknown"
                  icon="images/icons/obj16/gridded_query.png"
                  label="%querytoolbar.createquery.menu.newgridsummary.command.label"
                  style="push"
                  tooltip="%querytoolbar.createquery.menu.newgridsummary.command.tooltip">
               <parameter
                     name="org.wcs.smart.query.type"
                     value="patrolgrid">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.wcs.smart.query.import">
      <QueryImporter
            class="org.wcs.smart.patrol.query.exportimport.PatrolSimpleQueryDefinitionImporter">
      </QueryImporter>
      <QueryImporter
            class="org.wcs.smart.patrol.query.exportimport.PatrolSummaryQueryDefinitionImporter">
      </QueryImporter>
      <QueryImporter
            class="org.wcs.smart.patrol.query.exportimport.PatrolGriddedQueryDefImporter">
      </QueryImporter>
   </extension>
   <extension
         point="org.wcs.smart.ca.templateCloner">
      <templateCloner
            class="org.wcs.smart.patrol.query.PatrolQueryTemplateCloner"
            id="org.wcs.smart.PatrolQueryCloner">
         <require
               id="org.wcs.smart.QueryCloner">
         </require>
      </templateCloner>
   </extension>
</plugin>
