<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=org.wcs.smart.menu.help">
         <menu
               id="org.wcs.smart.cybertracker.menu"
               label="Cyber Tracker">
            <command
                  commandId="org.wcs.smart.cybertracker.export"
                  label="Export ..."
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.cybertracker.import"
                  label="Import ..."
                  style="push">
            </command>
            <separator
                  name="org.wcs.smart.cybertracker.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.cybertracker.properties"
                  label="Properties ..."
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="admin">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="manager">
                  </test>
                  <test
                        property="org.wcs.smart.smartAdminUser"
                        value="dataentry">
                  </test>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.cybertracker.export"
            name="CyberTracker Export">
      </command>
      <command
            id="org.wcs.smart.cybertracker.import"
            name="CyberTracker Import">
      </command>
      <command
            id="org.wcs.smart.cybertracker.properties"
            name="Properties">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.cybertracker.handler.CyberTrackerExportHandler"
            commandId="org.wcs.smart.cybertracker.export">
      </handler>
      <handler
            class="org.wcs.smart.cybertracker.handler.CyberTrackerImportHandler"
            commandId="org.wcs.smart.cybertracker.import">
      </handler>
      <handler
            class="org.wcs.smart.cybertracker.handler.CyberTrackerPropertiesHandler"
            commandId="org.wcs.smart.cybertracker.properties">
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            class="org.wcs.smart.cybertracker.model.CyberTrackerProperties">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.cybertracker.importer.CyberTrackerImportEditor"
            default="false"
            icon="images/etool16/cybertracker16.png"
            id="org.wcs.smart.cybertracker.CyberTrackerImportEditor"
            name="CyberTracker Import">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.cybertracker.export"
            icon="images/etool16/export.png">
      </image>
      <image
            commandId="org.wcs.smart.cybertracker.import"
            icon="images/etool16/import.png">
      </image>
   </extension>

</plugin>
