<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.cybertracker.export.package.contribution">
      <contribution
            contribution="org.wcs.smart.cybertracker.incident.IncidentPackageContribution">
      </contribution>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.json.processor">
      <JsonProcessor
            class="org.wcs.smart.cybertracker.incident.IncidentJsonProcessor">
      </JsonProcessor>
      <JsonPostProcessor
            class="org.wcs.smart.cybertracker.incident.IncidentJsonPostProcessor">
      </JsonPostProcessor>
   </extension>
   <extension
         point="org.wcs.smart.cybertracker.ctpackage">
      <ctpackagemanager
            class="org.wcs.smart.cybertracker.incident.pkg.IncidentPackageManager">
      </ctpackagemanager>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.libs.mapping">
      <class
            class="org.wcs.smart.cybertracker.incident.model.IncidentCtPackage"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.wcs.smart.changeLogInstaller">
      <ChangeLogTracker
            clazz="org.wcs.smart.cybertracker.incident.updatesite.CtIncidentChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrade">
      <dbUpgrader
            upgrader="org.wcs.smart.cybertracker.incident.updatesite.CtIncidentDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=vertical.org.wcs.smart.incident.toolbar2">
         <toolbar
               id="vertical.org.wcs.smart.cybertracker.incident">
            <command
                  commandId="org.wcs.smart.cybertracker.json.import"
                  icon="platform:/plugin/org.wcs.smart.cybertracker/images/etool16/smartmobileimport.png"
                  label="%import.command.label"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="%import.command.tooltip">
               <visibleWhen>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.caSingle">
                     </test>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.wcs.smart.observation.FieldDataPerspective">
                        </equals>
                     </with>
                     <test
                           property="org.wcs.smart.fielddata.focusview"
                           value="org.wcs.smart.observation.ui.incidientView">
                     </test>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="dataentry">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="analyst">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.cybertracker.packages.show"
                  icon="platform:/plugin/org.wcs.smart.cybertracker/images/etool16/smartmobileexport.png"
                  label="%export.command.label"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="%export.command.tooltip">
               <visibleWhen>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.caSingle">
                     </test>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.wcs.smart.observation.FieldDataPerspective">
                        </equals>
                     </with>
                     <test
                           property="org.wcs.smart.fielddata.focusview"
                           value="org.wcs.smart.observation.ui.incidientView">
                     </test>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="dataentry">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="analyst">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.cybertracker.incident.updatesite.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.cybertracker.incident.updatesite.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>

</plugin>
