<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.hibernate.libs.mapping">
      <class
            class="org.wcs.smart.asset.model.Asset"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.model.AssetAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetAttributeListItem"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetAttributeValue"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".asset.conservationArea"
            class="org.wcs.smart.asset.model.AssetDeployment"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetDeploymentAttributeValue"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".asset.conservationArea"
            class="org.wcs.smart.asset.model.AssetHistoryRecord"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.model.AssetModuleSettings"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.model.AssetStation"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetStationAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetStationAttributeValue"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.model.AssetType"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetTypeAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.assetType.conservationArea"
            class="org.wcs.smart.asset.model.AssetTypeDeploymentAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.waypoint.conservationArea"
            class="org.wcs.smart.asset.model.AssetWaypoint"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".assetType.conservationArea"
            class="org.wcs.smart.asset.model.AssetExifMetadataMapping"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.asset.plugin.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.asset.plugin.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.caFilestoreDir">
      <FilestoreDirectory
            directory="assets">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.wcs.smart.observation.ObservationSource">
      <ObservationSource
            class="org.wcs.smart.asset.model.AssetWaypointSource">
      </ObservationSource>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrade">
      <dbUpgrader
            upgrader="org.wcs.smart.asset.plugin.AssetDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.fielddata">
         <menu
               label="Assets">
            <command
                  commandId="org.wcs.smart.asset.command.attributelist.show"
                  label="Asset Attributes..."
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.asset.command.assettype.show"
                  label="Asset Types..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.asset.command.attributelist.show"
            name="Asset Attributes">
      </command>
      <command
            id="org.wcs.smart.asset.command.assettype.show"
            name="Asset Types">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.asset.ui.handler.ShowAttributeListDialogHandler$ShowAttributeListDialogHandlerWrapper"
            commandId="org.wcs.smart.asset.command.attributelist.show">
      </handler>
      <handler
            class="org.wcs.smart.asset.ui.handler.ShowAssetTypeDialogHandler$ShowAssetTypeDialogHandlerWrapper"
            commandId="org.wcs.smart.asset.command.assettype.show">
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.caDeleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.asset.DeleteAssetAttributeAdvisor"
            class="org.wcs.smart.asset.model.AssetAttribute">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.asset.DeleteIntelAttributeListItemAdvisor"
            class="org.wcs.smart.asset.model.AssetAttributeListItem">
      </DeleteAdvisor>
   </extension>

</plugin>
