<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.hibernate.libs.mapping">
      <class
            class="org.wcs.smart.asset.model.Asset"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.model.AssetAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetAttributeListItem"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetAttributeValue"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".asset.conservationArea"
            class="org.wcs.smart.asset.model.AssetDeployment"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetDeploymentAttributeValue"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".asset.conservationArea"
            class="org.wcs.smart.asset.model.AssetHistoryRecord"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.model.AssetModuleSettings"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.model.AssetStation"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetStationAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetStationAttributeValue"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.model.AssetType"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetTypeAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.assetType.conservationArea"
            class="org.wcs.smart.asset.model.AssetTypeDeploymentAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.waypoint.conservationArea"
            class="org.wcs.smart.asset.model.AssetWaypoint"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.model.AssetMetadataMapping"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".station.conservationArea"
            class="org.wcs.smart.asset.model.AssetStationLocation"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.stationLocation.station.conservationArea"
            class="org.wcs.smart.asset.model.AssetStationLocationAttributeValue"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".stationLocation.station.conservationArea"
            class="org.wcs.smart.asset.model.AssetStationLocationHistoryRecord"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetStationLocationAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.waypointAttachment.waypoint.conservationArea"
            class="org.wcs.smart.asset.model.AssetWaypointAttachment"
            supportsCcaa="true">
      </class>
      <class
            class="org.wcs.smart.asset.model.AssetMapStyle"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".assetDeployment.asset.conservationArea"
            class="org.wcs.smart.asset.model.AssetDeploymentDisruption"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.asset.plugin.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.asset.plugin.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.caFilestoreDir">
      <FilestoreDirectory
            directory="assets">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.wcs.smart.observation.ObservationSource">
      <ObservationSource
            class="org.wcs.smart.asset.model.AssetWaypointSource"
            ui_provider="org.wcs.smart.asset.ui.AssetWaypointSourceUiProvider">
      </ObservationSource>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrade">
      <dbUpgrader
            upgrader="org.wcs.smart.asset.plugin.AssetDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.fielddata">
         <menu
               icon="images/icons/obj16/asset.png"
               label="%assets.menu.label">
            <command
                  commandId="org.wcs.smart.asset.command.data.import"
                  label="%import.assetdata.command.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <separator
                  name="org.wcs.smart.asset.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.asset.command.assettype.show"
                  label="%assettypes.command.label."
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.asset.command.attributelist.show"
                  icon="platform:/plugin/org.wcs.smart/images/icons/obj16/attribute_text.png"
                  label="%assetattributes.command.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.asset.command.stationproperties.show"
                  label="%stationlocationattributes.command.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.asset.command.metadata.mapping.open"
                  label="%mappings.command.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.asset.command.settings.open"
                  icon="images/icons/obj16/configure.png"
                  label="%settings.command.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <menu
                  label="%importexport.menu.label">
               <command
                     commandId="org.wcs.smart.asset.command.model.xml.export"
                     label="%exportmodel.command.label"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <or>
                        <test
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </visibleWhen>
               </command>
               <command
                     commandId="org.wcs.smart.asset.command.model.xml.import"
                     label="%importmodel.command.label"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <or>
                        <test
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </visibleWhen>
               </command>
            </menu>
            <separator
                  name="org.wcs.smart.asset.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.asset.command.overviewmap.show"
                  label="%viewmap.command.label"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.observation.perspective.show"
                  icon="images/icons/obj16/asset.png"
                  label="%viewassets.command.label"
                  style="push">
               <parameter
                     name="org.wcs.smart.observation.perspective.show.focusview"
                     value="org.wcs.smart.asset.view.assets">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.caSingle">
                  </test>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="analyst">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.file?before=org.eclipse.ui.file.export">
         <command
               commandId="org.eclipse.ui.file.save"
               disabledIcon="platform:/plugin/org.wcs.smart/images/icons/shared16/save_disabled.png"
               icon="platform:/plugin/org.wcs.smart/images/icons/shared16/save.png">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <or>
                     <equals
                           value="org.wcs.smart.asset.ui.views.asset">
                     </equals>
                     <equals
                           value="org.wcs.smart.asset.ui.views.station">
                     </equals>
                     <equals
                           value="org.wcs.smart.asset.ui.views.station">
                     </equals>
                     <equals
                           value="org.wcs.smart.asset.ui.views.stationlocation">
                     </equals>
                  </or>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.wcs.smart.perspectives?endof=org.wcs.smart.perspective.fielddata">
         <command
               commandId="org.wcs.smart.observation.perspective.show"
               icon="images/icons/obj16/asset@2x.png"
               id="org.wcs.smart.perspective.fielddata.asset"
               label="%openperspective.command.label"
               mode="FORCE_TEXT"
               style="radio"
               tooltip="%openperspective.command.tooltip">
            <parameter
                  name="org.wcs.smart.observation.perspective.show.focusview"
                  value="org.wcs.smart.asset.view.assets">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.caSingle">
                  </test>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="analyst">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="vertical.org.wcs.smart.asset.toolbar2">
            <command
                  commandId="org.wcs.smart.asset.command.data.import"
                  label="%command.importfiles.label"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="%command.importfiles.tooltip">
               <visibleWhen>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.caSingle">
                     </test>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.wcs.smart.observation.FieldDataPerspective">
                        </equals>
                     </with>
                     <test
                           property="org.wcs.smart.fielddata.focusview"
                           value="org.wcs.smart.asset.view.assets">
                     </test>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="dataentry">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="analyst">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.asset.command.overviewmap.show"
                  label="%command.sensormap.label"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="%command.sensormap.tooltip">
               <visibleWhen>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.caSingle">
                     </test>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.wcs.smart.observation.FieldDataPerspective">
                        </equals>
                     </with>
                     <test
                           property="org.wcs.smart.fielddata.focusview"
                           value="org.wcs.smart.asset.view.assets">
                     </test>
                  </and>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="vertical.org.wcs.smart.asset.toolbar1">
            <command
                  commandId="org.eclipse.ui.file.save"
                  disabledIcon="platform:/plugin/org.wcs.smart/images/icons/shared16/save_disabled.png"
                  icon="platform:/plugin/org.wcs.smart/images/icons/shared16/save.png"
                  mode="FORCE_TEXT"
                  style="push">
               <visibleWhen>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.caSingle">
                     </test>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="org.wcs.smart.observation.FieldDataPerspective">
                        </equals>
                     </with>
                     <test
                           property="org.wcs.smart.fielddata.focusview"
                           value="org.wcs.smart.asset.view.assets">
                     </test>
                  </and>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.asset.command.attributelist.show"
            name="%assetattributes.command.name">
      </command>
      <command
            id="org.wcs.smart.asset.command.assettype.show"
            name="%assettypes.command.name">
      </command>
      <command
            id="org.wcs.smart.asset.command.stationproperties.show"
            name="%stationproperties.command.name">
      </command>
      <command
            id="org.wcs.smart.asset.command.metadata.mapping.open"
            name="%mappings.command.name">
      </command>
      <command
            id="org.wcs.smart.asset.command.settings.open"
            name="%settings.command.name">
      </command>
      <command
            id="org.wcs.smart.asset.command.model.xml.export"
            name="%exportmodel.command.name">
      </command>
      <command
            id="org.wcs.smart.asset.command.model.xml.import"
            name="%importmodel.command.name">
      </command>
      <command
            id="org.wcs.smart.asset.command.data.import"
            name="%importasset.command.name">
      </command>
      <command
            id="org.wcs.smart.asset.command.overviewmap.show"
            name="%viewmap.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.asset.ui.handler.ShowAttributeListDialogHandler$ShowAttributeListDialogHandlerWrapper"
            commandId="org.wcs.smart.asset.command.attributelist.show">
      </handler>
      <handler
            class="org.wcs.smart.asset.ui.handler.ShowAssetTypeDialogHandler$ShowAssetTypeDialogHandlerWrapper"
            commandId="org.wcs.smart.asset.command.assettype.show">
      </handler>
      <handler
            class="org.wcs.smart.asset.ui.handler.StationPropertyHandler$StationPropertyHandlerWrapper"
            commandId="org.wcs.smart.asset.command.stationproperties.show">
      </handler>
      <handler
            class="org.wcs.smart.asset.ui.handler.OpenMappingDialogHandler$OpenMappingDialogHandlerWrapper"
            commandId="org.wcs.smart.asset.command.metadata.mapping.open">
      </handler>
      <handler
            class="org.wcs.smart.asset.ui.handler.ShowSettingHandler$ShowSettingHandlerWrapper"
            commandId="org.wcs.smart.asset.command.settings.open">
      </handler>
      <handler
            class="org.wcs.smart.asset.ui.handler.ExportModelToXmlDialogHandler$ExportModelToXmlDialogHandlerWrapper"
            commandId="org.wcs.smart.asset.command.model.xml.export">
      </handler>
      <handler
            class="org.wcs.smart.asset.ui.handler.ImportAssetModelDataHandler$ImportAssetModelDataHandlerWrapper"
            commandId="org.wcs.smart.asset.command.model.xml.import">
      </handler>
      <handler
            class="org.wcs.smart.asset.ui.handler.ImportAssetDataHandler$ImportAssetDataHandlerWrapper"
            commandId="org.wcs.smart.asset.command.data.import">
      </handler>
      <handler
            class="org.wcs.smart.asset.ui.handler.ShowAssetOverviewMapHandler$ShowAssetOverviewMapHandlerWrapper"
            commandId="org.wcs.smart.asset.command.overviewmap.show">
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.caDeleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.asset.DeleteAssetAttributeAdvisor"
            class="org.wcs.smart.asset.model.AssetAttribute">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.asset.DeleteIntelAttributeListItemAdvisor"
            class="org.wcs.smart.asset.model.AssetAttributeListItem">
      </DeleteAdvisor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.wcs.smart.observation.FieldDataPerspective">
         <view
               closeable="false"
               id="org.wcs.smart.asset.view.assets"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="stack"
               relative="org.wcs.smart.fielddata.datafolder"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.wcs.smart.asset.ui.views.asset.AssetListView$AssetListViewWrapper"
            icon="images/icons/obj16/asset.png"
            id="org.wcs.smart.asset.view.assets"
            name="%assets.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.asset.ui.views.asset.AssetEditor"
            default="false"
            id="org.wcs.smart.asset.ui.views.asset"
            name="%asset.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.asset.ui.views.station.StationEditor"
            default="false"
            icon="images/icons/obj16/station.png"
            id="org.wcs.smart.asset.ui.views.station"
            name="%station.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.asset.ui.views.stationlocation.StationLocationEditor"
            default="false"
            icon="images/icons/obj16/location.png"
            id="org.wcs.smart.asset.ui.views.stationlocation"
            name="%location.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.asset.ui.views.data.DataImporterView"
            default="false"
            icon="platform:/plugin/org.wcs.smart/images/icons/shared16/import.png"
            id="org.wcs.smart.asset.ui.views.data.importer"
            name="%import.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.asset.ui.views.map.AssetOverviewMap"
            default="false"
            icon="images/icons/obj16/asset_map.png"
            id="org.wcs.smart.asset.overviewmap"
            name="%map.editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.asset.command.stationproperties.show"
            icon="images/icons/obj16/station.png">
      </image>
      <image
            commandId="org.wcs.smart.asset.command.assettype.show"
            icon="images/icons/obj16/asset.png">
      </image>
      <image
            commandId="org.wcs.smart.asset.command.data.import"
            icon="platform:/plugin/org.wcs.smart/images/icons/shared16/import.png">
      </image>
      <image
            commandId="org.wcs.smart.asset.command.overviewmap.show"
            icon="images/icons/obj16/asset_map.png">
      </image>
      <image
            commandId="org.wcs.smart.asset.command.model.xml.import"
            icon="platform:/plugin/org.wcs.smart/images/icons/shared16/import.png">
      </image>
      <image
            commandId="org.wcs.smart.asset.command.model.xml.export"
            icon="platform:/plugin/org.wcs.smart/images/icons/shared16/export.png">
      </image>
   </extension>
   <extension
         point="org.wcs.smart.caTemplateCloner">
      <templateCloner
            class="org.wcs.smart.asset.ConservationAreaCloner"
            id="org.wcs.smart.asset.ca.cloner">
         <require
               id="org.wcs.smart.conservationAreaCloner">
         </require>
      </templateCloner>
   </extension>
   <extension
         point="org.wcs.smart.changeLogInstaller">
      <ChangeLogTracker
            clazz="org.wcs.smart.asset.plugin.ChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.asset.plugin.OnInstallAction"
            name="org.wcs.smart.asset.onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.asset.plugin.OnUninstallAction"
            name="org.wcs.smart.asset.onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="1.0.0">
      </action>
   </extension>

</plugin>
