<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.hibernate.libs.mapping">
      <class
            class="org.wcs.smart.asset.model.Asset"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.model.AssetAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetAttributeListItem"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetAttributeValue"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".asset.conservationArea"
            class="org.wcs.smart.asset.model.AssetDeployment"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetDeploymentAttributeValue"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".asset.conservationArea"
            class="org.wcs.smart.asset.model.AssetHistoryRecord"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.model.AssetModuleSettings"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.model.AssetStation"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetStationAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetStationAttributeValue"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.asset.model.AssetType"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetTypeAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.assetType.conservationArea"
            class="org.wcs.smart.asset.model.AssetTypeDeploymentAttribute"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.waypoint.conservationArea"
            class="org.wcs.smart.asset.model.AssetWaypoint"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".assetType.conservationArea"
            class="org.wcs.smart.asset.model.AssetMetadataMapping"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".station.conservationArea"
            class="org.wcs.smart.asset.model.AssetStationLocation"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".id.stationLocation.station.conservationArea"
            class="org.wcs.smart.asset.model.AssetStationLocationAttributeValue"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".stationLocation.station.conservationArea"
            class="org.wcs.smart.asset.model.AssetStationLocationHistoryRecord"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.asset.model.AssetStationLocationAttribute"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.asset.plugin.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.asset.plugin.OnUninstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.caFilestoreDir">
      <FilestoreDirectory
            directory="assets">
      </FilestoreDirectory>
   </extension>
   <extension
         point="org.wcs.smart.observation.ObservationSource">
      <ObservationSource
            class="org.wcs.smart.asset.model.AssetWaypointSource">
      </ObservationSource>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrade">
      <dbUpgrader
            upgrader="org.wcs.smart.asset.plugin.AssetDatabaseUpgrader">
      </dbUpgrader>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.fielddata">
         <menu
               label="Assets">
            <command
                  commandId="org.wcs.smart.asset.command.attributelist.show"
                  label="Asset Attributes..."
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.asset.command.assettype.show"
                  label="Asset Types..."
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.asset.command.stationproperties.show"
                  label="Station Properties..."
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.asset.command.metadata.mapping.open"
                  label="Metadata Mappings..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.wcs.smart.asset.toolbar">
            <command
                  commandId="org.eclipse.ui.file.save">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePartId">
                     <or>
                        <equals
                              value="org.wcs.smart.asset.ui.views.asset">
                        </equals>
                        <equals
                              value="org.wcs.smart.asset.ui.views.station">
                        </equals>
                        <equals
                              value="org.wcs.smart.asset.ui.views.station">
                        </equals>
                        <equals
                              value="org.wcs.smart.asset.ui.views.stationlocation">
                        </equals>
                     </or>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.menu.file?before=org.eclipse.ui.file.export">
         <command
               commandId="org.eclipse.ui.file.save">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <or>
                     <equals
                           value="org.wcs.smart.asset.ui.views.asset">
                     </equals>
                     <equals
                           value="org.wcs.smart.asset.ui.views.station">
                     </equals>
                     <equals
                           value="org.wcs.smart.asset.ui.views.station">
                     </equals>
                     <equals
                           value="org.wcs.smart.asset.ui.views.stationlocation">
                     </equals>
                  </or>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.asset.command.attributelist.show"
            name="Asset Attributes">
      </command>
      <command
            id="org.wcs.smart.asset.command.assettype.show"
            name="Asset Types">
      </command>
      <command
            id="org.wcs.smart.asset.command.stationproperties.show"
            name="Station Properties">
      </command>
      <command
            id="org.wcs.smart.asset.command.metadata.mapping.open"
            name="Metadata Mapping">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.asset.ui.handler.ShowAttributeListDialogHandler$ShowAttributeListDialogHandlerWrapper"
            commandId="org.wcs.smart.asset.command.attributelist.show">
      </handler>
      <handler
            class="org.wcs.smart.asset.ui.handler.ShowAssetTypeDialogHandler$ShowAssetTypeDialogHandlerWrapper"
            commandId="org.wcs.smart.asset.command.assettype.show">
      </handler>
      <handler
            class="org.wcs.smart.asset.ui.handler.StationPropertyHandler$StationPropertyHandlerWrapper"
            commandId="org.wcs.smart.asset.command.stationproperties.show">
      </handler>
      <handler
            class="org.wcs.smart.asset.ui.handler.OpenMappingDialogHandler$OpenMappingDialogHandlerWrapper"
            commandId="org.wcs.smart.asset.command.metadata.mapping.open">
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.caDeleteAdvisor">
      <DeleteAdvisor
            advisor="org.wcs.smart.asset.DeleteAssetAttributeAdvisor"
            class="org.wcs.smart.asset.model.AssetAttribute">
      </DeleteAdvisor>
      <DeleteAdvisor
            advisor="org.wcs.smart.asset.DeleteIntelAttributeListItemAdvisor"
            class="org.wcs.smart.asset.model.AssetAttributeListItem">
      </DeleteAdvisor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.wcs.smart.observation.FieldDataPerspective">
         <view
               closeable="false"
               id="org.wcs.smart.asset.views.asset"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="stack"
               relative="org.wcs.smart.fielddata.datafolder"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.wcs.smart.asset.ui.views.asset.AssetListView$AssetListViewWrapper"
            icon="images/icons/obj16/asset.png"
            id="org.wcs.smart.asset.views.asset"
            name="Assets"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.asset.ui.views.asset.AssetEditor"
            default="false"
            id="org.wcs.smart.asset.ui.views.asset"
            name="Asset Editor">
      </editor>
      <editor
            class="org.wcs.smart.asset.ui.views.station.StationEditor"
            default="false"
            icon="images/icons/obj16/station.png"
            id="org.wcs.smart.asset.ui.views.station"
            name="Station Editor">
      </editor>
      <editor
            class="org.wcs.smart.asset.ui.views.stationlocation.StationLocationEditor"
            default="false"
            icon="images/icons/obj16/location.png"
            id="org.wcs.smart.asset.ui.views.stationlocation"
            name="Station Location Editor">
      </editor>
      <editor
            class="org.wcs.smart.asset.ui.views.data.DataImporterView"
            default="false"
            icon="images/icons/obj16/import.png"
            id="org.wcs.smart.asset.ui.views.data.importer"
            name="Data Importer View">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.asset.command.stationproperties.show"
            icon="images/icons/obj16/station.png">
      </image>
      <image
            commandId="org.wcs.smart.asset.command.assettype.show"
            icon="images/icons/obj16/asset.png">
      </image>
   </extension>

</plugin>
