<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wcs.smart.connect.dataqueue.cybertracker.json.processor">
      <JsonProcessor
            class="org.wcs.smart.connect.dataqueue.cybertracker.patrol.PatrolJsonProcessor">
      </JsonProcessor>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            ca_property=".patrolLeg.patrol.conservationArea"
            class="org.wcs.smart.connect.dataqueue.cybertracker.patrol.model.CtPatrolLink"
            supportsCcaa="false">
      </class>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.connect.dataqueue.cybertracker.patrol.updatesite.OnInstallAction"
            name="onInstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wcs.smart.connect.dataqueue.cybertracker.patrol.updatesite.OnInstallAction"
            name="onUninstall"
            touchpointType="org.eclipse.equinox.p2.osgi"
            version="4.0.0">
      </action>
   </extension>
   <extension
         point="org.wcs.smart.changelog.installer">
      <ChangeLogTracker
            clazz="org.wcs.smart.connect.dataqueue.cybertracker.patrol.updatesite.DataQueueCtPatrolChangeTrackerInstaller">
      </ChangeLogTracker>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrage">
      <dbUpgrader
            upgrader="org.wcs.smart.connect.dataqueue.cybertracker.patrol.updatesite.DataQueueCtPatrolDatabaseUpgrader">
      </dbUpgrader>
   </extension>


</plugin>
