<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.qa" name="org.wcs.smart.qa" schema="schema/org.wcs.smart.qa.exsd"/>
   <extension
         point="org.wcs.smart.hibernate.libs.mapping">
      <class
            class="org.wcs.smart.qa.model.QaError"
            supportsCcaa="false">
      </class>
      <class
            class="org.wcs.smart.qa.model.QaRoutine"
            supportsCcaa="false">
      </class>
      <class
            ca_property=".qaRoutine.conservationArea"
            class="org.wcs.smart.qa.model.QaRoutineParameter"
            supportsCcaa="true">
      </class>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.wcs.smart.fielddata?before=org.wcs.smart.observation.options">
         <menu
               icon="images/icons/qa.png"
               label="%QaMenuLabel">
            <command
                  commandId="org.wcs.smart.qa.validation.manual"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.qa.validation.auto"
                  style="push">
            </command>
            <separator
                  name="org.wcs.smart.qa.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.qa.routines.list"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <or>
                        <test
                              property="org.wcs.smart.smartAdminUser"
                              value="admin">
                        </test>
                        <test
                              property="org.wcs.smart.smartAdminUser"
                              value="manager">
                        </test>
                     </or>
                  </and>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        forcePluginActivation="true"
                        property="org.wcs.smart.caSingle">
                  </test>
                  <or>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                     <test
                           property="org.wcs.smart.smartAdminUser"
                           value="dataentry">
                     </test>
                  </or>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.qa.routines.list"
            name="%ConfigureMenuLabel">
      </command>
      <command
            id="org.wcs.smart.qa.validation.manual"
            name="%manual.command.name">
      </command>
      <command
            id="org.wcs.smart.qa.validation.auto"
            name="%auto.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.qa.ui.handler.ShowQaRoutineHandler$ShowQaRoutineHandlerWrapper"
            commandId="org.wcs.smart.qa.routines.list">
      </handler>
      <handler
            class="org.wcs.smart.qa.ui.handler.NewManualValidationHandler$NewManualValidationHandlerWrapper"
            commandId="org.wcs.smart.qa.validation.manual">
      </handler>
      <handler
            class="org.wcs.smart.qa.ui.handler.NewAutoValidationHandler$NewAutoValidationHandlerWrapper"
            commandId="org.wcs.smart.qa.validation.auto">
      </handler>
   </extension>
   <extension
         point="org.wcs.smart.qa">
      <qa_routine
            class="org.wcs.smart.qa.routine.LocationRoutineType">
         <parameter_collector
               class="org.wcs.smart.qa.ui.routine.WaypointLocationParameterCollector">
         </parameter_collector>
      </qa_routine>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wcs.smart.qa.ui.view.ManualResultsEditor"
            default="false"
            icon="images/icons/manual_qa.png"
            id="org.wcs.smart.qa.data.validatation.manual"
            name="%manual.editor.name">
      </editor>
      <editor
            class="org.wcs.smart.qa.ui.view.AutomatedResultsEditor"
            default="false"
            icon="images/icons/auto_qa.png"
            id="org.wcs.smart.qa.data.validatation.automated"
            name="%auto.editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.wcs.smart.qa.routines.list"
            icon="images/icons/qa_configure.png">
      </image>
      <image
            commandId="org.wcs.smart.qa.validation.auto"
            icon="images/icons/auto_qa.png">
      </image>
      <image
            commandId="org.wcs.smart.qa.validation.manual"
            icon="images/icons/manual_qa.png">
      </image>
   </extension>
   <extension
         point="org.wcs.smart.changeLogInstaller">
      <ChangeLogTracker
            clazz="org.wcs.smart.qa.plugin.ChangeLogInstaller">
      </ChangeLogTracker>
   </extension>
   <extension
         point="org.locationtech.udig.project.ui.tool">
      <modalTool
            categoryId="org.wcs.smart.location.maptools"
            class="org.wcs.smart.qa.ui.view.QaFixTool"
            icon="images/icons/qatool.png"
            id="org.wcs.smart.qa.map.QaFixTool"
            name="%qafix.tool.name"
            onToolbar="true"
            toolCursorId="org.wcs.smart.cross"
            tooltip="%qafix.tool.tooltip">
      </modalTool>
   </extension>
   <extension
         point="org.wcs.smart.dbUpgrade">
      <dbUpgrader
            requires="org.wcs.smart"
            upgrader="org.wcs.smart.qa.plugin.QaDatabaseUpgrader">
      </dbUpgrader>
   </extension>

</plugin>
