<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.ca.export" name="Conservation Area Data Exporter" schema="schema/org.wcs.smart.ca.export.exsd"/>
   <extension
         id="org.wcs.smart"
         name="Smart Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.wcs.smart.SmartApp">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.wcs.smart.ui.map.MapView"
            id="org.wcs.smart.ui.map.MapView"
            name="SMART Map View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wcs.smart.DefaultPerspective"
            id="org.wcs.smart.DefaultPerspective"
            name="SMART">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.wcs.smart.menu.file"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.wcs.smart.exportCa"
                  label="Export Conservation Area ..."
                  mnemonic="a"
                  style="push"
                  tooltip="Exports all data associated with the current conservation area">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.backup"
                  icon="images/icons/etool16/backup.png"
                  label="Backup System"
                  mnemonic="B"
                  style="push"
                  tooltip="Backup the smart database and files.">
            </command>
            <command
                  commandId="org.wcs.smart.auto_backup"
                  icon="images/icons/obj16/cog_go.png"
                  label="Configure Automatic Backup..."
                  mnemonic="Au"
                  style="push"
                  tooltip="Configure the automatic backup options.">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="admin">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.wcs.smart.smartAdminUser"
                           value="manager">
                     </test>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.wcs.smart.changeUserPassword"
                  icon="images/icons/etool16/changepass.png"
                  id="org.wcs.menu.file.changeuserpassword"
                  label="Change Password ..."
                  mnemonic="P"
                  style="push"
                  tooltip="Change your username or password">
            </command>
            <separator
                  name="org.wcs.smart.file.separator1">
            </separator>
            <command
                  commandId="org.wcs.smart.logout"
                  id="org.wcs.menu.file.logout"
                  label="Logout"
                  mnemonic="L"
                  style="push"
                  tooltip="logout of the application">
            </command>
            <command
                  commandId="org.wcs.smart.exit"
                  id="org.wcs.menu.file.exit"
                  label="Exit"
                  mnemonic="x"
                  style="push"
                  tooltip="exit the application">
            </command>
         </menu>
         <menu
               id="org.wcs.smart.menu.ca"
               label="Conservation Area"
               mnemonic="C">
            <command
                  commandId="org.wcs.smart.ca.showProperties"
                  label="Conservation Area Properties ..."
                  mnemonic="C"
                  style="push">
            </command>
            <separator
                  name="org.wcs.smart.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.ca.showAgencyPropertyPage"
                  label="Agency and Rank List ..."
                  mnemonic="A"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.ca.showEmployees"
                  icon="images/icons/etool16/user.png"
                  label="Employee List ..."
                  mnemonic="E"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.ca.showStations"
                  icon="images/icons/etool16/station.png"
                  label="Station List ..."
                  mnemonic="S"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.ca.showArea"
                  label="Define Area Boundaries ..."
                  mnemonic="B"
                  style="push">
            </command>
            <command
                  commandId="org.wcs.smart.ca.showDataModel"
                  icon="images/icons/etool16/data_model.png"
                  label="Data Model ..."
                  mnemonic="D"
                  style="push">
            </command>
            <separator
                  name="org.wcs.smart.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.ca.delete"
                  icon="images/icons/etool16/delete.png"
                  label="Delete Conservation Area"
                  mnemonic="t"
                  style="push"
                  tooltip="delete the conservation area from the database">
            </command>
            <visibleWhen
                  checkEnabled="true">
               <test
                     forcePluginActivation="true"
                     property="org.wcs.smart.smartAdminUser"
                     value="admin">
               </test>
            </visibleWhen>
         </menu>
         <menu
               id="Help"
               label="Help"
               mnemonic="H">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About Smart"
                  mnemonic="A"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.wcs.smart.perspectives">
            <command
                  commandId="org.wcs.smart.ui.internal.ShowDefaultPerspective"
                  icon="images/icons/etool16/map.png"
                  label="Show Map Perspective"
                  style="push">
            </command>
            <separator
                  name="org.wcs.smart.resetSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.wcs.smart.ui.internal.ResetPerspective"
                  icon="images/icons/etool16/arrow_refresh.png"
                  label="Reset Windows"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.command2">
         <toolbar
               id="org.wcs.smart.userNameInfo">
            <control
                  class="org.wcs.smart.UserNameControlContribution">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="smartapp"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.wcs.smart"
            name="SMART">
         <property
               name="windowImages"
               value="images/icons/smart16.gif,images/icons/smart32.gif,images/icons/smart48.gif,images/icons/smart64.gif,images/icons/smart128.gif">
         </property>
         <property
               name="aboutText"
               value="SMART&#x0A;Spatial Monitoring and Reporting Tool">
         </property>
         <property
               name="aboutImage"
               value="images/nl/en/about.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="SMART">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.wcs.smart.splashHandlers.InteractiveSplashHandler"
            id="org.wcs.smart.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.wcs.smart.smartapp"
            splashId="org.wcs.smart.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.wcs.smart.ca.showProperties"
            name="Show Conservation Area Properties Page">
      </command>
      <command
            id="org.wcs.smart.logout"
            name="Logout">
      </command>
      <command
            id="org.wcs.smart.exit"
            name="Exit">
      </command>
      <command
            id="org.wcs.smart.ca.showStations"
            name="Show Station List">
      </command>
      <command
            id="org.wcs.smart.ca.showEmployees"
            name="Show Employees">
      </command>
      <command
            id="org.wcs.smart.ca.showAgencyPropertyPage"
            name="Show Agencies and Ranks">
      </command>
      <command
            id="org.wcs.smart.ca.showDataModel"
            name="Show Data Model">
      </command>
      <command
            id="org.wcs.smart.ca.showArea"
            name="Show Areas">
      </command>
      <command
            id="org.wcs.smart.ui.internal.ShowDefaultPerspective"
            name="Show Default Map Perspective">
      </command>
      <command
            defaultHandler="org.eclipse.ui.internal.handlers.ResetPerspectiveHandler"
            description="Reset the Default Window Layout"
            id="org.wcs.smart.ui.internal.ResetPerspective"
            name="Reset Perspective">
      </command>
      <command
            id="org.wcs.smart.ca.delete"
            name="Delete Conservation Area">
      </command>
      <command
            id="org.wcs.smart.changeUserPassword"
            name="Change UserName Password">
      </command>
      <command
            id="org.wcs.smart.backup"
            name="Backup System">
      </command>
      <command
            id="org.wcs.smart.exportCa"
            name="Export Conservation Area ...">
      </command>
      <command
            id="org.wcs.smart.auto_backup"
            name="Configure Automatic Backup System">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.wcs.smart.ui.internal.ca.properties.handlers.ShowCaPropertyHandler"
            commandId="org.wcs.smart.ca.showProperties">
      </handler>
      <handler
            class="org.wcs.smart.LogoutHandler"
            commandId="org.wcs.smart.logout">
      </handler>
      <handler
            class="org.wcs.smart.Exit"
            commandId="org.wcs.smart.exit">
      </handler>
      <handler
            class="org.wcs.smart.ui.internal.ca.properties.handlers.ShowStationPropertyPageHandler"
            commandId="org.wcs.smart.ca.showStations">
      </handler>
      <handler
            class="org.wcs.smart.ui.internal.ca.properties.handlers.ShowEmployeePropertyHandler"
            commandId="org.wcs.smart.ca.showEmployees">
      </handler>
      <handler
            class="org.wcs.smart.ui.internal.ca.properties.handlers.ShowAgencyPropertyPageHandler"
            commandId="org.wcs.smart.ca.showAgencyPropertyPage">
      </handler>
      <handler
            class="org.wcs.smart.ui.internal.ca.properties.handlers.ShowDataModelPropertyPageHandler"
            commandId="org.wcs.smart.ca.showDataModel">
      </handler>
      <handler
            class="org.wcs.smart.ui.internal.ca.properties.handlers.ShowAreaPropertyPageHandler"
            commandId="org.wcs.smart.ca.showArea">
      </handler>
      <handler
            class="org.wcs.smart.ui.internal.ShowDefaultMapPerspective"
            commandId="org.wcs.smart.ui.internal.ShowDefaultPerspective">
      </handler>
      <handler
            class="org.wcs.smart.ui.internal.DeleteConservationArea"
            commandId="org.wcs.smart.ca.delete">
      </handler>
      <handler
            class="org.wcs.smart.ui.internal.ca.properties.handlers.ChangeUserNameHandler"
            commandId="org.wcs.smart.changeUserPassword">
      </handler>
      <handler
            class="org.wcs.smart.ui.internal.backup.BackupHandler"
            commandId="org.wcs.smart.backup">
      </handler>
      <handler
            class="org.wcs.smart.ui.internal.backup.ExportCaHandler"
            commandId="org.wcs.smart.exportCa">
      </handler>
      <handler
            class="org.wcs.smart.ui.internal.backup.AutoBackupConfigHandler"
            commandId="org.wcs.smart.auto_backup">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.wcs.smart.SmartUserTester"
            id="org.wcs.smart.userAdmin"
            namespace="org.wcs.smart"
            properties="smartAdminUser"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.wcs.smart.mapview"
            targetID="org.wcs.smart.ui.map.MapView">
         <action
               class="org.wcs.smart.ui.map.PanAction"
               icon="images/icons/elcl16/pan_tool.png"
               id="org.wcs.smart.ui.map.pan"
               label="Pan"
               style="radio"
               toolbarPath="maptools"
               tooltip="pans the map">
         </action>
         <action
               class="org.wcs.smart.ui.map.ZoomAction"
               icon="images/icons/elcl16/zoom_tool.png"
               id="org.wcs.smart.action4"
               label="Zoom "
               style="radio"
               toolbarPath="maptools"
               tooltip="zoom to various locations on map">
         </action>
         <action
               class="org.wcs.smart.ui.map.ZoomExtentAction"
               icon="images/icons/elcl16/zoom_layers.png"
               id="org.wcs.smart.ui.map.zoomextent"
               label="Zoom to map extents"
               style="push"
               toolbarPath="maptools"
               tooltip="Zoom to full extents of all layers">
         </action>
         <action
               class="org.wcs.smart.ui.map.AddLayerAction"
               icon="images/icons/elcl16/layer_add.png"
               id="org.wcs.smart.ui.map.addlayer"
               label="Add Layer "
               style="push"
               toolbarPath="layertools"
               tooltip="Add a layer to the map">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="org.wcs.smart.udig.catalog.smart.SmartServiceExtension"
            id="org.wcs.smart.udig.catalog.smartService"
            name="Smart Service">
      </service>
   </extension>
   <extension
         point="net.refractions.udig.catalog.ui.connectionFactory">
      <factory
            class="org.wcs.smart.udig.catalog.smart.ui.SmartAreaConnectionFactory"
            id="org.wcs.smart.udig.catalog.smart.smartarea">
      </factory>
      <wizardPage
            banner="images/icons/wizban/smart_wiz.png"
            class="org.wcs.smart.udig.catalog.smart.ui.SmartAreaWizardPage"
            description="Wizard for loading smart area datasets"
            icon="images/icons/smart128.gif"
            name="Smart Area Connection Page">
      </wizardPage>
   </extension>
   <extension
         point="org.wcs.smart.hibernate.mapping">
      <class
            ca_property=".uuid"
            class="org.wcs.smart.ca.ConservationArea">
      </class>
      <class
            class="org.wcs.smart.ca.Agency">
      </class>
      <class
            ca_property=".agency.conservationArea"
            class="org.wcs.smart.ca.Rank">
      </class>
      <class
            class="org.wcs.smart.ca.Employee">
      </class>
      <class
            ca_property=".id.language.ca"
            class="org.wcs.smart.ca.Label">
      </class>
      <class
            class="org.wcs.smart.ca.Station">
      </class>
      <class
            class="org.wcs.smart.ca.Language">
      </class>
      <class
            class="org.wcs.smart.ca.Area">
      </class>
      <class
            class="org.wcs.smart.ca.datamodel.Aggregation">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.ca.datamodel.AttributeTreeNode"
            conservationAreaExportQuery="select a.* from AttributeTreeNode a join a.attribute att where att.conservationArea = :ca">
      </class>
      <class
            class="org.wcs.smart.ca.datamodel.Attribute">
      </class>
      <class
            ca_property=".attribute.conservationArea"
            class="org.wcs.smart.ca.datamodel.AttributeListItem">
      </class>
      <class
            class="org.wcs.smart.ca.datamodel.Category">
      </class>
      <class
            ca_property=".id.category.conservationArea"
            class="org.wcs.smart.ca.datamodel.CategoryAttribute">
      </class>
      <class
            class="org.wcs.smart.ca.datamodel.DmObject">
      </class>
      <class
            class="org.wcs.smart.ca.HasLabel">
      </class>
      <class
            class="org.wcs.smart.ca.SimpleListItemWithDescription">
      </class>
      <class
            class="org.wcs.smart.ca.DescriptionLabel">
      </class>
   </extension>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <actionTool
            categoryId="org.wcs.smart.udig.addlayer"
            class="org.wcs.smart.udig.AddLayerTool"
            icon="images/icons/elcl16/layer_add.png"
            id="org.wcs.smart.udig.AddLayer"
            name="Add Layer"
            tooltip="Add Layer To Map">
      </actionTool>
      <category
            id="org.wcs.smart.udig.addlayer">
      </category>
      <actionTool
            categoryId="org.wcs.smart.udig.addlayer"
            class="org.wcs.smart.udig.ZoomLayersTool"
            icon="images/icons/elcl16/zoom_layers.png"
            id="org.wcs.smart.udig.ZoomExtents"
            name="Zoom to map extents"
            onToolbar="false"
            tooltip="Zoom to map extents">
      </actionTool>
   </extension>
   <extension
         point="org.wcs.smart.ca.export">
      <exporter
            caExporter="org.wcs.smart.internal.ca.export.HibernateDataExporter">
      </exporter>
      <exporter
            caExporter="org.wcs.smart.internal.ca.export.DataStoreDataExporter">
      </exporter>
      <exporter
            caExporter="org.wcs.smart.internal.ca.export.DataModelExporter">
      </exporter>
   </extension>

</plugin>
