<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wcs.smart.data.oda.smart.table" name="smartbirttable" schema="schema/org.wcs.smart.data.oda.smart.table.exsd"/>
   <extension-point id="org.wcs.smart.report.birt.query.queryDataset" name="QueryType Layer Extension Point" schema="schema/org.wcs.smart.report.birt.query.queryDataset.exsd"/>

   <extension
         id="org.wcs.smart.data.oda.smart"
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            driverClass="org.wcs.smart.data.oda.smart.impl.SmartDriver"
            defaultDisplayName="%datasource.display.name"
            setThreadContextClassLoader="false"
            odaVersion="3.2"
            id="org.wcs.smart.data.oda.smart">
      </dataSource>
      <dataSet
            defaultDisplayName="%query.dataset.display.name"
            id="org.wcs.smart.data.oda.smart.smartQueryDataset">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="8"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="BigDecimal"
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="91"
               odaScalarDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Time"
               nativeDataTypeCode="92"
               odaScalarDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Timestamp"
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="12"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Java Object"
               nativeDataTypeCode="2000"
               odaScalarDataType="JavaObject">
         </dataTypeMapping>
      </dataSet>
      <dataSet
            defaultDisplayName="%table.dataset.display.name"
            id="org.wcs.smart.data.oda.smart.smartTableDataset">
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="8"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="BigDecimal"
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="91"
               odaScalarDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Time"
               nativeDataTypeCode="92"
               odaScalarDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Timestamp"
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="12"
               odaScalarDataType="String">
         </dataTypeMapping>
      </dataSet>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.wcs.smart.data.oda.smart"
            class="org.wcs.smart.data.oda.smart.ui.impl.SmartDataSourcePropertyPage"
            id="org.wcs.smart.data.oda.smart"
            name="%profile.propertypage.name">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.datatools.connectivity.IConnectionProfile">
            </instanceof>
         </enabledWhen>
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.wcs.smart.data.oda.smart">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI
            id="org.wcs.smart.data.oda.smart">
         <newDataSourceWizard
               pageClass="org.wcs.smart.data.oda.smart.ui.impl.SmartDataSourceWizardPage"
               includesProgressMonitor="false"
               pageTitle="%wizard.data.source.page.title"
               windowTitle="%wizard.window.title">
         </newDataSourceWizard>
      </dataSourceUI>
      <dataSetUI
            id="org.wcs.smart.data.oda.smart.smartTableDataset"
            supportsInParameters="true"
            supportsOutParameters="false">
         <dataSetWizard
               class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
               windowTitle="%wizard.dataset.tables.page.title">
         </dataSetWizard>
         <dataSetPage
               displayName="%wizard.dataset.tables.page1.displayName"
               icon="icons/datasetpage.ico"
               id="org.wcs.smart.data.ods.smart.smartTable.page1"
               path="/"
               wizardPageClass="org.wcs.smart.data.oda.smart.ui.impl.SmartTableDataSetWizardPage">
         </dataSetPage>
      </dataSetUI>
      <dataSetUI
            supportsOutParameters="false"
            supportsInParameters="true"
            initialPageId="org.wcs.smart.data.oda.smart.smartDataset.page1"
            id="org.wcs.smart.data.oda.smart.smartQueryDataset">
         <dataSetWizard
               class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
               windowTitle="%wizard.dataset.query.page.title">
         </dataSetWizard>
         <dataSetPage
               displayName="%wizard.dataset.query.page1.displayName"
               icon="icons/datasetpage.ico"
               id="org.wcs.smart.data.ods.smart.smartQuery.page1"
               path="/"
               wizardPageClass="org.wcs.smart.data.oda.smart.ui.impl.SmartQueryDatasetWizardPage">
         </dataSetPage>
      </dataSetUI>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.wcs.smart.report.birt.query.DummyStartUp">
      </startup>
   </extension>


</plugin>
